.box {
    float: left;
    border: 1px solid black;
    padding: 10px;
    width: 650px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 630px;
    border-radius: 10px;
    /* display: flex; */
}

.direct_left {
    float: left;
}

.direct_left .dd {
    text-decoration: none;
}

/* .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating-star {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: orange;
    cursor: pointer;
}

.rating-star:hover,
.rating-star:hover~.rating-star {
    color: gold;
}

.rating-star.selected {
    color: gold;
} */

.sec li::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;
}

.sec ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.sec li {
    margin-right: 10px;
    margin-top: 8px;
}

.sec ul li:first-child::before {
    display: none;
}

.home {
    margin-top: -5px;
    margin-left: 15px;
    height: 20px;
    width: auto;
}

.sec ul li a {
    text-decoration: none;
    color: gray;
}

.sec ul li a:hover {
    text-decoration: none;
    color: black;
}

.att {
    /* margin-left: 30px; */
    margin-top: 30px;
    display: flex;
    align-items: center;
}

/* .img-responsive {
    width: 200px;
    height: auto;
    float: right;
}

.img_detail {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
}

.box a {
    width: 650px;
    height: 140px;
    text-decoration: none;
    color: black;
} */

/* .box a:hover {
    color: rgb(172, 78, 1);
} */

.detail_box {
    float: right;
    float: top;
    border: 1px solid black;
    padding: 10px;
    height: 1520px;
    width: 650px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 10px;
}

.inner_1 {
    margin-top: 10px;
    margin-left: 15px;
}

#rightbox {
    display: none;
}

/* .box {
    cursor: pointer;
} */

/* #closeBtn {
    text-align: right;
    padding: 5px;
    cursor: pointer;
} */

/* .close {
    overflow: hidden;
}

.close img {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
} */
.close {
    display: flex;
    align-items: center;
}

.img_x {
    width: 5%;
    height: auto;
    float: right;
    display: inline;
    cursor: pointer;
}

.img_x:hover {
    transform: scale(1.2, 1.2);
}

.aside {
    background-color: #b2b5b7;
    padding: 15px;
    color: #000000;
    /* text-align: center; */
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.search_tool {
    padding: 8px;
    border-radius: 8px;
    width: 88%;
    margin-right: 12px;
}

.search_btn {
    width: 12%;
    border-radius: 8px;
}

.search_btn:hover {
    background: rgb(204, 204, 204);
}

.search_field {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Att_img {
    width: 100%;
    height: auto;
    float: right;
    display: block;
    margin: auto;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Att_detail {
    margin-top: 10px;
}