* {
    box-sizing: border-box;
}

/* 背景顏色 */
body {
    background-color: #d0cecb7c;
}

/* 景點動態大標（景點資訊） */
/* 內部白色景點資訊大四字 */
.scroll-text {
    width: 100%;
    position: relative;
    transform: 0%;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}

/* 內部白色Tripfunchill(下面) */
.scroll-text1 {
    width: 100%;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: transform 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 景點資訊 */
.scroll-text h1 {
    color: rgb(0, 0, 0);
    font-family: system-ui;
    font-size: 60px;
    /* font-family: "Noto Serif TC", serif; */
    font-weight: 400;
}

/* Tripfunchill */
.scroll-text h5 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-family: system-ui;
    /* font-family: "Noto Serif TC", serif; */
    font-weight: 200;
}

/* 那條線 */
.tit_hr {
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 30px;
}

/* Parallax Scrolling背景 */
.jumbotron {
    height: 100vh;
    text-align: center;
    background-image: url(../images/att_picture.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

/* Parallax Scrolling背景size */
.container_info {
    color: #fff;
    margin: 280px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* 內部白色景點資訊大四字(白色透明bgc) */
.active_tit {
    background-color: rgba(113, 113, 113, 0.2);
    width: 40%;
    height: 320px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*搜尋引擎*/
/* 搜尋列表下面呈現的樣式(input時會跑出來的框) */
.autocomplete-items {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

/* 點一下input裡面會改變樣式 */
.searchContent {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

/* 歷史紀錄的部分 */
/* 歷史紀錄的呈現容器 */
#searchBox {
    display: none;

}

/* 點一下input跳出searchbox */
#myInput:focus+#searchBox {
    display: block;
}

/* 歷史紀錄那一條 */
.history_1 {
    z-index: 1;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.history_1:hover {
    background-color: #d9d8d8;
}

/* 關閉歷史紀錄(x的位置-靠右） */
.close_history {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 10px;
}

/* autocomplete-item裏面div的樣式 */
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
}

/* autocomplete-item碰到裏面div的樣式 */
.autocomplete-items div:hover {
    background-color: #d9d8d8;
}

/* 整個搜尋引擎的位置 */
.search_body {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* 整個搜尋引擎那條 */
.container_search {
    width: 100%;
    padding: 0 30px 0 30px;
}

.container_search .searchInput {
    display: inline-block;
    background: #fff;
    width: 100%;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* (type:search input的樣式) */
.searchInput input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 16px;
    height: 55px;
    width: 100%;
    outline: none;
    padding: 0 20px 0 50px;
    font-size: 18px;
    transition: all 50ms ease-in-out;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

/* 點一下input內部改變角度 */
.searchInput input:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

/* 搜尋小icon */
.searchInput .icon {
    border: none;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

/* 動動圖那一塊 */
#filiter_about {
    /* background-color: #e4dbc9; */
    background-color: #62a6d4bc;
    padding-top: 30px;
}

/* 拖行李的圖 */
#filiter_about .img_trip {
    width: 50px;
    /* mix-blend-mode: multiply;
    background-size: cover; */
}

/* 那個馬路圖 */
.road {
    position: relative;
}

/* 篩選那部分 */
.three_choice {
    display: flex;
    justify-content: space-between;
}

/* 篩選分三份 */
.column {
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    flex: 1;
}

/* 篩選文字 */
.filiter_btn {
    margin-top: 20px;
}

.column:hover {
    color: rgb(127, 4, 4);
}

/* 篩選視窗 */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.att_form {
    padding: 50px;
}

/* 清除所有篩選條件 */
.clear_btn {
    display: inline-block;
    padding: 4px 10px;
    font-family: Arial;
    margin-top: 6px;
    font-size: 18px;
}

.clear_btn:hover {
    text-decoration: underline;
    color: red;
}

/* 篩選視窗裡面的內容物 */
.more_btn {
    display: inline-block;
    padding: 4px 10px;
    font-family: Arial;
    border: solid #000 1.5px;
    border-radius: 10px;
    margin-top: 6px;
    font-size: 18px;
    background-color: rgb(245, 183, 76);
}

/* 點擊篩選視窗裡面的內容物（動作） */
.modal-content .more_btn.active,
.more_btn:hover {
    background-color: rgb(235, 224, 169);
    color: black;
}

/* 篩選按鈕 */
.sure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 篩選按鈕 */
.sure_btn {
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(210, 4, 4);
    color: white;
}

.sure_btn:hover {
    background-color: rgb(247, 174, 174);
    color: #000;
}

/* 篩選條條件篩選數量（右上） */
.ribbon {
    width: 30px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    top: -12px;
    text-align: center;
    border-radius: 50px;
    background-color: #ff9800;
    color: white;
}

/* 篩選小視窗 */
#show_filiter,
#show_condition,
#show_userfavorite {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 200px;
    padding-left: 150px;
    padding-right: 150px;
}

/* 篩選條件結果標籤 */
.tag-cloud {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    font-family: Arial;
    border: solid #000 1.5px;
    border-radius: 10px;
    margin-top: 6px;
    font-size: 18px;
    background-color: rgb(134, 198, 251);
    display: inline-block;
    color: rgb(0, 0, 0);
}

/* 景點簡短資訊(主體) */
#attractions_introduction {
    margin: 30px 0 50px 0;
}

/* 簡短資訊左方景點圖片 */
#attractions_introduction .img_wrap {
    position: relative;
    display: inline-block;
    height: 90%;
    overflow: hidden;
    cursor: pointer;
}

/* 圖片裡learn more方塊 */
.learn_more {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-20%, -20%);
    color: #fff;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    opacity: 0;
    border-radius: 3px;
    transition: 0.5s;
    border: 2px solid rgb(50, 50, 50);
    line-height: 40px;
}

/* 圖片裡learn more方塊(碰到動畫） */
.img_wrap:hover .learn_more {
    opacity: 1;
    color: rgb(50, 50, 50);
}

/* 景點圖片 */
.img_wrap .slide {
    width: 100%;
    transition: 0.5s;
}

/* 景點圖片(碰到動畫） */
.img_wrap:hover .slide {
    opacity: 0.6;
    transform: scale(1.2);
}

/* 景點名稱 */
#attractions_introduction h4 {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    display: inline-block;
    border-bottom: 5px solid #DCB879;
    cursor: pointer;
    transition: 0.3s;
}

/* 景點名稱(碰到動畫） */
#attractions_introduction h4:hover {
    color: #DCB879;
    padding-right: 10px;
}

/* 簡短景點右半邊那一塊 */
#attractions_introduction .feature {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 收藏景點按鈕 */
.feature.col_btn {
    position: absolute;
    top: 24px;
    right: 20px;
    transform: translate(50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    padding: 4px 10px 4px 10px;
}

/* 下面learn more的部分 */
.bottom {
    text-align: center;
}

/* 下面learn more的部分 */
.bottom h5 {
    color: #333;
    transition: 0.5s;
    cursor: pointer;
}

/* 下面learn more的部分 */
.bottom h5:hover {
    color: #B54434;
    transform: scale(1.1);
}

/* x的部分 */
.close {
    display: flex;
    align-items: center;
}

/* 詳細景點 */
/* 關閉詳細景點按鈕 */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* 叉叉按鈕那一塊 */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* 詳細景點主體*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 80px;
}

/* 詳細景點裡面內容*/
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

/* x的部分 */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* x的部分 */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* 開啟詳細景點的特效 */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


img {
    vertical-align: middle;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

/*詳細景點圖片*/
.container1 {
    position: relative;
}

/*詳細景點圖片*/
.mySlides {
    display: none;
}

/*詳細景點圖片*/
.cursor {
    cursor: pointer;
}

/*詳細景點圖片（前後按鈕）*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*詳細景點圖片（前後按鈕）*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*詳細景點圖片（前後按鈕動畫）*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*詳細景點圖片（圖片張數顯示）*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*詳細景點圖片（圖片介紹）*/
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*詳細景點圖片*/
.column {
    float: left;
    width: 16.66%;
}

/*詳細景點圖片*/
.demo {
    opacity: 0.6;
}

/*詳細景點圖片 動畫*/
.active,
.demo:hover {
    opacity: 1;
}

.change_btn {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.active1 {
    border-bottom: solid rgb(255, 0, 0) 2px;
}

.change1,
.change2 {
    flex: 1;
    cursor: pointer;
    padding-bottom: 10px;
}

.change_content .change_content1 {
    display: none;
}

.change_content .change_content1:first-child {
    display: block;
}

/* icon */
.fa {
    font-size: 25px;
}

/* 星星icon */
.checked {
    color: rgb(241, 226, 62);
}

/* 所有評價*/
.bar-container {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* 星星 */
.nu_star {
    margin-bottom: 18px;
    margin-right: 10px;
}

.bar-5 {
    border-radius: 50px;
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    border-radius: 50px;
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    border-radius: 50px;
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    border-radius: 50px;
    width: 4%;
    height: 18px;
    background-color: rgb(241, 226, 62);
}

.bar-1 {
    border-radius: 50px;
    width: 20%;
    height: 18px;
    background-color: #f44336;
}

/* 星星 */
.star_container {
    display: flex;
    align-items: center;
}

/* all星星 */
.total_star {
    margin-bottom: 18px;
}


.jumbotron1 {
    height: 40vh;
    text-align: center;
    background-image: url(../images/att_picture.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.jumbotron1 input {
    background-color: transparent;
    max-width: 350px;
    margin: 30px auto;
    border: 1px solid #fff;
    color: #fff;
}

.jumbotron1 input::placeholder {
    color: #fff;
}

.jumbotron1 .container {
    color: #fff;
    padding: 60px 0;
}

.jumbotron1 .container button.btn.btn-default {
    background-color: rgba(248, 253, 138, 0.2);
    color: #f8fd8a;
    border: 1px solid #f8fd8a;
    transition: 0.5s;
}

.jumbotron1 .container button.btn.btn-default:hover {
    background-color: #f8fd8a;
    color: #183158;
    transform: scale(1.2);
}

/* RWD的部分 */
[class*="col-"] {
    width: 100%;
}

/* RWD的部分 */
@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

/* RWD的部分 */
@media only screen and (min-width: 800px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* RWD的部分 */
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .imgcontainer {
        text-align: center;
        margin: 10px 0 10px 0;
        position: relative;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding: 0;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 100%;
        /* Could be more or less, depending on screen size */
    }

    .cancelbtn {
        width: 100%;
    }

    .aa {
        display: flex;
        justify-content: center;
        /* 在主軸上置中 */
        align-items: center;
        /* 在交叉軸上置中 */
    }

    .active_tit {
        background-color: rgba(194, 194, 194, 0.2);
        width: 100%;
        height: 300px;
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .col-3 {
        width: 16.66%;
    }

    .col-6 {
        width: 66.66%;
    }

    .col-2 {
        width: 8.33%;
    }

    .col-8 {
        width: 83.33%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2300px) {
    .col-3 {
        width: 16.66%;
    }

    .col-6 {
        width: 66.66%;
    }

    .col-2 {
        width: 8.33%;
    }

    .col-8 {
        width: 83.33%;
    }

    #myInput {
        height: 70px;
        font-size: 22px;
    }

    .searchInput .icon {
        position: absolute;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
        border: none;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .info_tit {
        cursor: pointer;
        font-size: 32px;
    }

    .rating {
        font-size: 30px;
    }

    .short_info h6 {
        font-size: 26px;
        margin-top: 8px;
    }

    .w3-content .col_btn {
        width: 50px;
        font-size: 24px;
        position: absolute;
        top: 28px;
        right: 25px;
        transform: translate(50%, -50%);
        background-color: #fff;
        border-radius: 50%;
        padding: 4px 12px 4px 12px;
        margin: 12px;
    }

    .container {
        max-width: 100%;
        padding: 0 50px 0 50px;
    }

    .container h3 {
        font-size: 40px;
    }

    .container h5 {
        font-size: 28px;
    }

    .container h6 {
        font-size: 26px;
    }

    .container .question .btn_qa {
        font-size: 26px;
    }

    .container p {
        font-size: 22px;
    }

    .container .cancelbtn {
        font-size: 26px;
    }

    .comment-text .span {
        font-size: 20px;
    }

}

@media only screen and (min-width: 2300px) {


    #myInput {
        height: 80px;
        font-size: 26px;
        padding-left: 60px;
    }

    .searchInput .icon {
        position: absolute;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
        border: none;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .filiter {
        font-size: 28px;
    }

    .w3-btn-floating_right {
        position: absolute;
        right: 0;
        top: 50%;
        text-decoration: none;
        font-size: 60px;
    }

    .w3-btn-floating_left {
        position: absolute;
        left: 0;
        top: 50%;
        text-decoration: none;
        font-size: 60px;
    }

    .info_tit {
        cursor: pointer;
        font-size: 36px;
    }

    .rating {
        font-size: 28px;
    }

    .short_info h6 {
        margin-bottom: 15px;
        font-size: 28px;
        margin-top: 15px;
    }

    .w3-content .col_btn {
        width: 60px;
        font-size: 30px;
        position: absolute;
        top: 28px;
        right: 30px;
        transform: translate(50%, -50%);
        background-color: #fff;
        border-radius: 50%;
        padding: 4px 12px 4px 12px;
        margin: 12px;
    }

    .container {
        max-width: 100%;
        padding: 20px 70px 20px 70px;
    }

    .container h3 {
        font-size: 44px;
    }

    .container h5 {
        font-size: 32px;
    }

    .container h6 {
        font-size: 30px;
    }

    .container .question .btn_qa {
        font-size: 30px;
    }

    .container p {
        font-size: 26px;
    }

    .container .cancelbtn {
        font-size: 30px;
    }

    .comment-text .span {
        font-size: 24px;
    }
}

@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }

}