/* 景點動態大標（景點資訊） */
.scroll-text {
    width: 100%;
    position: relative;
    transform: 0%;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}

.scroll-text1 {
    width: 100%;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: transform 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-text h1 {
    font-size: 50px;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
}

.scroll-text h5 {
    color: rgb(0, 0, 0);
    font-family: "Noto Serif TC", serif;
    font-weight: 200;
}

.tit_hr {
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 30px;
}

.jumbotron {
    text-align: center;
    background-image: url(../images/Datong.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.container_info {
    color: #fff;
    margin: 280px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.active_tit {
    background-color: rgba(194, 194, 194, 0.2);
    width: 35%;
    height: 300px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  */

/*搜尋引擎*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.autocomplete-items {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    /* border: 1px solid #d4d4d4; */
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.searchContent {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    /* border: 1px solid #d4d4d4; */
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

#searchBox {
    display: none;

}

#myInput:focus+#searchBox {
    display: block;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.autocomplete-items div:hover {
    background-color: #d9d8d8;
}

.autocomplete-active {
    background-color: #d9d8d8 !important;
    color: black;
}

.search_body {
    margin-top: 20px;
    margin-bottom: 40px;
}

::selection {
    color: #fff;
    background: #4a8fff;
}

.container_search {
    width: 100%;
    padding: 0 30px 0 30px;
}

.container_search .searchInput {
    display: inline-block;
    background: #fff;
    width: 100%;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput input {
    /* border: 1px solid #d4d4d4; */
    height: 55px;
    width: 100%;
    outline: none;
    padding: 0 50px 0 50px;
    font-size: 18px;
    transition: all 50ms ease-in-out;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    transition: border-radius 0.3s;
    cursor: pointer;
}

.searchInput input:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

.searchInput .icon {
    border: none;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.filiter {
    border: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.filiter:hover {
    color: rgb(122, 155, 233);
}

/*  */

/* 景點簡短資訊 */
#section_culture {
    margin: 30px 0 50px 0;
}

.bottom {
    text-align: center;
}

.bottom h5 {
    color: #333;
    transition: 0.5s;
    cursor: pointer;
}

.bottom h5:hover {
    color: #B54434;
    transform: scale(1.1);
}

#section_culture .img_wrap {
    position: relative;
    display: inline-block;
    /* 讓容器只占用所需的寬度 */
    height: 255px;
    overflow: hidden;
    cursor: pointer;
}

.learn_more {
    position: absolute;
    top: 40%;
    /* 調整位置到圖片上方 */
    left: 40%;
    /* 放置在圖片中央 */
    transform: translate(-20%, -20%);
    /* 水平置中 */
    color: #fff;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    opacity: 0;
    border-radius: 3px;
    transition: 0.5s;
    border: 2px solid rgb(50, 50, 50);
    line-height: 35px;
}

.img_wrap:hover .learn_more {
    opacity: 1;
    color: rgb(50, 50, 50);
}


.img_wrap .slide {
    width: 100%;
    transition: 0.5s;
}

.img_wrap:hover .slide {
    opacity: 0.6;
    transform: scale(1.2);
}

#section_culture h4 {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    display: inline-block;
    border-bottom: 5px solid #DCB879;
    cursor: pointer;
    transition: 0.3s;
}

body {
    background-color: #f7ead37c;
}

#section_culture h4:hover {
    color: #DCB879;
    padding-right: 10px;
}

#section_culture .feature {
    padding-top: 10px;
    padding-bottom: 10px;
}

.feature.col_btn {
    position: absolute;
    top: 24px;
    right: 20px;
    transform: translate(50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    padding: 4px 10px 4px 10px;
}

/*  */

.close {
    display: flex;
    align-items: center;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* .info_tit {
    cursor: pointer;
} */

.Info_item {
    margin-top: 20px;
    margin-bottom: 20px;
    /* cursor: pointer; */
}

.w3-btn-floating:hover {
    background-color: rgba(255, 255, 255, 0.439);
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding: 80px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 600px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .imgcontainer {
        text-align: center;
        margin: 10px 0 10px 0;
        position: relative;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding: 0;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 100%;
        /* Could be more or less, depending on screen size */
    }

    .cancelbtn {
        width: 100%;
    }

    .aa {
        display: flex;
        justify-content: center;
        /* 在主軸上置中 */
        align-items: center;
        /* 在交叉軸上置中 */
    }

    .active_tit {
        background-color: rgba(194, 194, 194, 0.2);
        width: 100%;
        height: 300px;
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .col-3 {
        width: 16.66%;
    }

    .col-6 {
        width: 66.66%;
    }

    .col-2 {
        width: 8.33%;
    }

    .col-8 {
        width: 83.33%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2300px) {
    .col-3 {
        width: 16.66%;
    }

    .col-6 {
        width: 66.66%;
    }

    .col-2 {
        width: 8.33%;
    }

    .col-8 {
        width: 83.33%;
    }

    #myInput {
        height: 70px;
        font-size: 22px;
    }

    .searchInput .icon {
        position: absolute;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
        border: none;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .info_tit {
        cursor: pointer;
        font-size: 32px;
    }

    .rating {
        font-size: 30px;
    }

    .short_info h6 {
        font-size: 26px;
        margin-top: 8px;
    }

    .w3-content .col_btn {
        width: 50px;
        font-size: 24px;
        position: absolute;
        top: 28px;
        right: 25px;
        transform: translate(50%, -50%);
        background-color: #fff;
        border-radius: 50%;
        padding: 4px 12px 4px 12px;
        margin: 12px;
    }

    .container {
        max-width: 100%;
        padding: 0 50px 0 50px;
    }

    .container h3 {
        font-size: 40px;
    }

    .container h5 {
        font-size: 28px;
    }

    .container h6 {
        font-size: 26px;
    }

    .container .question .btn_qa {
        font-size: 26px;
    }

    .container p {
        font-size: 22px;
    }

    .container .cancelbtn {
        font-size: 26px;
    }

    .comment-text .span {
        font-size: 20px;
    }

}

@media only screen and (min-width: 2300px) {


    #myInput {
        height: 80px;
        font-size: 26px;
        padding-left: 60px;
    }

    .searchInput .icon {
        position: absolute;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
        border: none;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .filiter {
        font-size: 28px;
    }

    .w3-btn-floating_right {
        position: absolute;
        right: 0;
        top: 50%;
        text-decoration: none;
        font-size: 60px;
    }

    .w3-btn-floating_left {
        position: absolute;
        left: 0;
        top: 50%;
        text-decoration: none;
        font-size: 60px;
    }

    .info_tit {
        cursor: pointer;
        font-size: 36px;
    }

    .rating {
        font-size: 28px;
    }

    .short_info h6 {
        margin-bottom: 15px;
        font-size: 28px;
        margin-top: 15px;
    }

    .w3-content .col_btn {
        width: 60px;
        font-size: 30px;
        position: absolute;
        top: 28px;
        right: 30px;
        transform: translate(50%, -50%);
        background-color: #fff;
        border-radius: 50%;
        padding: 4px 12px 4px 12px;
        margin: 12px;
    }

    .container {
        max-width: 100%;
        padding: 20px 70px 20px 70px;
    }

    .container h3 {
        font-size: 44px;
    }

    .container h5 {
        font-size: 32px;
    }

    .container h6 {
        font-size: 30px;
    }

    .container .question .btn_qa {
        font-size: 30px;
    }

    .container p {
        font-size: 26px;
    }

    .container .cancelbtn {
        font-size: 30px;
    }

    .comment-text .span {
        font-size: 24px;
    }
}

.w3-btn-floating_left {
    position: absolute;
    top: 40%;
    left: 0;
    text-decoration: none;
    font-size: 30px;
}

.w3-btn-floating_right {
    position: absolute;
    top: 40%;
    right: 0;
    text-decoration: none;
    font-size: 30px;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}




.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: rgb(241, 226, 62);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.nu_star {
    margin-bottom: 18px;
    margin-right: 10px;
}

/* Individual bars */
.bar-5 {
    border-radius: 50px;
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    border-radius: 50px;
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    border-radius: 50px;
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    border-radius: 50px;
    width: 4%;
    height: 18px;
    background-color: rgb(241, 226, 62);
}

.bar-1 {
    border-radius: 50px;
    width: 20%;
    height: 18px;
    background-color: #f44336;
}

.star_container {
    display: flex;
    align-items: center;
}

.total_star {
    margin-bottom: 18px;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }

}

/* .info_tit:hover {
    text-decoration-style: solid;
    color: rgb(0, 85, 255);
} */

footer.jumbotron {
    text-align: center;
    background-image: url(../images/Datong.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

footer.jumbotron input {
    background-color: transparent;
    max-width: 350px;
    margin: 30px auto;
    border: 1px solid #fff;
    color: #fff;
}

footer.jumbotron input::placeholder {
    color: #fff;
}

footer.jumbotron .container {
    color: #fff;
    padding: 60px 0;
}

footer.jumbotron .container button.btn.btn-default {
    background-color: rgba(248, 253, 138, 0.2);
    color: #f8fd8a;
    border: 1px solid #f8fd8a;
    transition: 0.5s;
}

footer.jumbotron .container button.btn.btn-default:hover {
    background-color: #f8fd8a;
    color: #183158;
    transform: scale(1.2);
}