/* 人潮星期 */
.week_number {
    padding-left: 25px;
}

.tag-week {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    background-color: #628eb9;
    margin-left: 6px;
    margin-top: 10px;
}

.tag-week:hover {
    background-color: rgb(71, 117, 162);
    color: #000;
}