/* 整個搜尋引擎那條 */
.create_search {
    width: 80%;
    /* padding: 0 20px; */
}

.create_search .create_searchInput {
    display: inline-block;
    padding: 2px;
    background: #fff;
    width: 100%;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* (type:search input的樣式) */
.create_searchInput input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 16px;
    height: 55px;
    width: 100%;
    outline: none;
    padding: 0 20px ;
    font-size: 18px;
    transition: all 50ms ease-in-out;
    border-radius: 30px;
    outline: none;
}

/* 點一下input內部改變角度 */
/* .create_searchInput input:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
} */

/* 搜尋小icon */
.create_searchInput .search_icon {
    border: none;
    position: absolute;
	padding: 0;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
/* 點一下input裡面會改變樣式 */
.create_searchContent {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    padding: 5px;
    /* border-bottom-right-radius: 30px; */
    border-radius: 30px;
    position: absolute;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

/* 歷史紀錄的部分 */
/* 歷史紀錄的呈現容器 */
#create_searchBox {
    display: none;

}

/* 點一下input跳出create_searchbox */
#create_myInput:focus+#create_searchBox {
    display: block;
}
/* 歷史紀錄那一條 */
.history_1 {
    z-index: 1;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.history_1:hover {
    background-color: #d9d8d8;
	border-radius: 30px;
}

/* 關閉歷史紀錄(x的位置-靠右） */
.close_history {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 10px;
}