/* create_index的 */
.bgimg{
    /* background: url(../images/1526735109814.jpg); */
    background: url(../images/bg5.png);
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
	opacity: 0.65;
}
.block{
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 10%;
    box-shadow: 6px 6px 8px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.formcss{
    display: block;
    justify-content: center;
}
.txtdiv{
    text-align: center;
    margin-bottom: 20px;
}
.txt{
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-shadow: 3px 3px 3px rgb(91, 91, 91);
}
.inputspace{
    width: 250px;
    height: 32px;
    font-weight: bolder;
}
.enterbtn{
    display: block;
    margin: 10px auto;
    font-weight: bolder;
    color: #000;
    font-size: 20px;
    padding: 5px 15px;
    box-shadow: 3px 2px 4px #333;
    background-color: rgb(255, 255, 135);
    border: 0px;
    transition: background-color 0.3s;
}
.enterbtn:hover{
    background-color: #0022ff;
}
/* create的 */
main{
    margin: 0 auto;
    width: 95%;
    justify-content: center;
    z-index: 100;
}
.tab_div{
    padding: 10px;
    margin-top: 50px;
}
.tabtitle{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.tab_a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 10px 15px;
}
.tabc_txt{
    color: #000;
    font-size: 20px;
}
.create-nav-link{
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
    transition: border 0.5s;
    text-shadow: 3px 2px 4px #333;
}
.create-nav-link:hover{
    border-bottom: 1px solid #5f5f5f;
}
.active{
	color: #1b3fe1;
	animation: heart 0.5s linear;
    font-weight: bolder;
}
.createday{
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.create_txt{
    font-size: 20px;
}
.createdataform{
    padding: 10px auto;
}
.createdata{
    margin: 0 auto;
}
.favoritedata{
    color: #000;
}
.tab_day{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
/* .tab_day:hover{
    color: #525252;
    font-weight: bolder;
    font-size: larger;
} */
.save{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20%;
}
.spot{
    width: 200px;
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}
.yn{
    margin-right: 5px;
}
.container{
    /* display: flex; */
    justify-content: center;
}
.col{
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
}
.col-md-4{
    margin: 5px 0;
    font-size: 20px;
}
.tabD{
    padding: 5px;
}
.div_day{
    margin: 0;
}
.tabc_txt{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.heart_icon_box{
    position: relative;
    border: 1px solid #000;
}
.heart_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	margin: 10px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.heart_active{/*收藏動畫*/
	color: #E1251B;
	animation: heart 0.5s linear;
}
.spot_like_txt{
	position: relative;
    border: 1px solid #ccc;
}
.spot_title{
    font-size: 24px;
}
.add_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 5px;
	border-radius: 30%;
	color: white;
	background-color: #ccc;
	cursor: pointer;
}
.add_icon.active {
  background-color: rgb(255, 236, 22);
}
.dropdown_menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	border-radius: 10%;
	background-color: beige;
	text-align: left;
	margin-top: 40px;
}
.dropdown_item{
	text-decoration-line: none;
	color: black;
	display: block;
	border-radius: 10%;
	padding: 5px;
}
.dropdown_item:hover{
	background-color: bisque;
}

  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
}


.filter_btn{
    padding: 5px 8px;
    margin: 5px;
    background-color: rgb(255, 255, 119);
    border-radius: 15%;
    border: 2px gray none;
}
.filter_btn:hover{
    background-color: rgb(255, 118, 59);
    font-weight: bold;
}

.dialog{
    position:fixed;
    top: 100px;
    left: 45%;
    width: 400px;
    height: 200px;
    border:1px solid #888888;
    border-radius: 10px;
    background-color: #eeeeee;
    /* box-shadow:0px 0px 10px; */
    padding: 10px;
    transform:translate(-100px,0px);
    display:none;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 60px;
  }
  .dialog>.close{
    position: absolute;
    top: 0px;
    right: 5px;
    cursor:pointer;/*cursor游標pointer指針:改變鼠標*/
  }


@media(max-width: 768px){
    main{
        margin-top: 10%;
    }
    .tab_a{
        font-size: 20px;
    }
         
}
@media(max-width: 576px){
    .block{
        height: 500px;
        width: 400px;
    }
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .block{
        width: 300px;
    }
    .inputspace{
        width: 200px;
    }
}
@media(max-width: 376px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 14px;
    }
}