
.input_txt{
    height: 28px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 5px;
}
.tabc_txt{
    font-size: 20px;
}
.create_txt{
    
    font-size: 20px;
}
.spot{
    width: 200px;
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}
.tabf_a{
    background-color: palevioletred;
    padding: 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.spot_r{
    font-size: 20px;
    margin: 10px;
    width: 50px;
}

.yn{
    margin-right: 5px;
}


.container{
    /* display: flex; */
    justify-content: center;
}
main{
    margin-top: 5%;
}
.col{
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
}
.col-md-4{
    margin: 5px 0;
    font-size: 20px;
}
.tab_a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 0;
}
.tab_a:hover{
    font-weight: bolder;
}
.tab_a_active{
    font-weight: bolder;
}
.tabD{
    padding: 5px;
}
/* .col{
    padding: 5px;
} */
.tab_day{
    text-decoration: none;
    color: black;
}
.tab_day:hover{
    color: #525252;
    font-weight: bolder;
    font-size: larger;
}
.div_day{
    margin: 0;
}
.tabc_txt{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.heart_icon_box{
    position: relative;
    border: 1px solid #000;
}
.heart_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	margin: 10px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.active{/*收藏動畫*/
	color: #E1251B;
	animation: heart 0.5s linear;
}
.spot_like_txt{
	position: relative;
    border: 1px solid #ccc;
}
.spot_title{
    font-size: 24px;
}
.add_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 5px;
	border-radius: 30%;
	color: white;
	background-color: #ccc;
	cursor: pointer;
}
.add_icon.active {
  background-color: rgb(255, 236, 22);
}
.dropdown_menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	border-radius: 10%;
	background-color: beige;
	text-align: left;
	margin-top: 40px;
}
.dropdown_item{
	text-decoration-line: none;
	color: black;
	display: block;
	border-radius: 10%;
	padding: 5px;
}
.dropdown_item:hover{
	background-color: bisque;
}

  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
}

.chebox_item{
    margin-top: 5px;
    border: 1px solid #ccc;
}
.chebox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rec_spot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chebox_info{
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.filter_btn{
    padding: 5px 8px;
    margin: 5px;
    background-color: rgb(255, 255, 119);
    border-radius: 15%;
    border: 2px gray none;
}
.filter_btn:hover{
    background-color: rgb(255, 118, 59);
    font-weight: bold;
}

.dialog{
    position:fixed;
    top: 100px;
    left: 45%;
    width: 400px;
    height: 200px;
    border:1px solid #888888;
    border-radius: 10px;
    background-color: #eeeeee;
    /* box-shadow:0px 0px 10px; */
    padding: 10px;
    transform:translate(-100px,0px);
    display:none;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 60px;
  }
  .dialog>.close{
    position: absolute;
    top: 0px;
    right: 5px;
    cursor:pointer;/*cursor游標pointer指針:改變鼠標*/
  }


@media(max-width: 768px){
    main{
        margin-top: 10%;
    }
    .tab_a{
        font-size: 20px;
    }
         
}
@media(max-width: 576px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 18px;
    }
}
@media(max-width: 376px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 14px;
    }
}