.cardContainer{
  margin-top:50px;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  margin:1px 50px 50px 50px;
  border: 2px solid;
  height: 300px;
  width: 350px;
}