.cardContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border: 2px solid;
  /* width: 350px; */
  max-width: 100%;
  /* 添加這一行 */
}

/* .card img {
  max-width: 100%;
  height: auto;
} */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tab-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;/* 隐藏非活动选项卡的内容 */
  height: 0;
  overflow: hidden;
}

/* 显示活动选项卡的内容 */
.tab-pane.active {
  display: block;
  height: auto;
}

/* .favorite-nav-link{
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  transition: border 0.5s;
  text-shadow: 3px 2px 4px #333;
} */
.my-nav-tabs .nav-link {
  margin:0 20px;
}

.zoomIn {
  animation: zoomIn 0.3s ease-in-out;
}

/*CC的收藏*/
.heart_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 10px;
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	border:none;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.active_heart{/*收藏動畫*/
	color: #E1251B;
	animation: heart 0.5s linear;
	/* transform: scale(1.1); */
}
/*UC原本的收藏*/
/* .location-heart.active {
  color: red;
} */

/* 
.location-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 9px;
  color: red;
  font-size: large;
  cursor: pointer;
} */

.description {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  white-space: normal;
}

.tight-row {
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  text-align: center;
  padding: 10px;
}

.col-md-4 {
  margin-bottom: 15px
}

.img {
  max-width: 100%;
}

.location-wrap {
  overflow: hidden;
  position: relative;
}

.location-wrap img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@media screen and (min-width: 769px) {
  /* .card {
      max-width: 350px;
    } */
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }

  .cardContainer {
    width: 100%;
  }
}