.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}
.mytravel{
    width: 100%;
    border: 1px solid black;
    margin: 10px 0 0 0;
    position: relative;
    /* border-radius: 20%; */
}
.more{
    border: 1px solid gray;
    border-top: 0px;
}
.mytravel_img{
    height: 250px;
    overflow: hidden;
    padding: 0;
}
.mytravel_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mytravel_txt_title{
    margin: 10px auto;
}
.mytravel_txt_detail{
    font-size: 20px;
}
.more_btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: auto;
    border: 1px none rgb(128, 128, 128);
    border-radius: 10%;
    padding: 10px 15px;
    background-color: rgb(255, 240, 126);
    box-shadow: 3px 2px 3px rgb(146, 146, 146);
    text-shadow: 3px 2px 3px rgb(146, 146, 146);
    font-weight: bold;
}
.share{
    display: block;
    width: 35px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 20px;
}
.share_icon{
    font-size: 28px;
    width: 35px;
    color: black;
    cursor: pointer;
}
.share_icon:hover{
    color: rgb(255, 179, 0);
    text-shadow: 2px 2px 2px rgb(162, 162, 162);
}
.icontxt{
    font-size: 16px;
}
.edit{
    display: block;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 60px;
    padding: 0;
    text-align: center;
}
.edita{
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.edita:hover{
    color: gray;
    text-shadow: 2px 2px 2px rgb(162, 162, 162);
}
/*展開詳細行程*/
.hidden-details {
    display: none;
}
.nav{
    padding: 5px;
}
.history-nav-link{
    color: black;
}
.content_align{
    display: flex;
    align-items: center;
    align-content: center;
}
.content_detail{
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
}
.content_detail p{
    margin-bottom: 10px;
}
.spotnum{
    font-size: 18px;
}
.spot{
    font-size: 20px;
    font-weight: bold;
}
.gonext{
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.gonexta{
    text-decoration: none;
    color: black;
}
@media (max-width:1024px) {
    .content{
        margin: 5px auto;
    }
    .content_align{
        display: block;
    }
    .content_detail{
        height: 180px;
        width: 250px;
        display: block;
        margin: 0 auto;
        padding: 15px 10px;
    }
    .gonext{
        display: block;
        margin: 0 auto;
    }
    .gonextbtn{
        margin: 0;
    }
}