html {
	height: 100%;
	background-color: rgb(240, 240, 233);
}

body {
	font-family: Microsoft JhengHei;
	background-color: rgba(247, 255, 221, 0.1);
	overflow-x: hidden;
	overflow-y: hidden;
}

.banner {
	height: 100vh;
	width: 100%;
	background: url(../images/IMG20220125115200.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.65;
	position: relative;
	z-index: 100;
}

.explore {
	display: block;
	background-color: rgb(238, 154, 0);
	height: 50px;
	width: 150px;
	margin: 20px 0;
	line-height: 50px;
	position: relative;
	cursor: pointer;
	clear: both;
	transition: background-color 0.3s;
}
.more_span{
	display: block;
	float: right;
	background-color: rgb(238, 154, 0);
	height: 50px;
	width: 150px;
	margin: 20px 0;
	line-height: 50px;
	position: relative;
	cursor: pointer;
	clear: both;
	transition: background-color 0.3s;
}
.more_span:hover ,.explore:hover{
	background-color: teal;
}

.explorea {
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
	text-decoration-line: none;
	color: white;
	position: absolute;
	left: 15%;
	transition: left 0.3s;
	word-break: break-word;
}
.more_a{
	display: block;
	width: 100%;
	font-size: 20px;
	font-weight: bolder;
	text-decoration-line: none;
	color: white;
	position: absolute;
	left: 30%;
	transition: left 0.3s;
}

.explorea:hover {
	left: 8%;
}

.more_a:hover{
	left: 15%;
}
.rellax{
	position: absolute;
	z-index: -1;
}
.arrow {
	position: absolute;
	right: 30px;
	/* margin-left: 12px; */
}

.arrowi {
	background-color: white;
	box-shadow: 2px 2px 15px rgb(93, 93, 93);
	border-radius: 50%;
	padding: 10px 12px;
	color: black;
}

.systemname {
	font-size: 100px;
	font-weight: bold;
	position: absolute;
	left: 10%;
	width: 70%;
	height: 500px;
	border: 5px solid white;
	font-family: 'HanyiSentyTea', sans-serif;
	color: white;
	background-color: #ffffff73;
	box-shadow: inset 3px 3px 5px #747474;
	text-shadow: 4px 4px 2px rgba(65, 65, 65, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	margin-top: 50vh;
	/* 使用视口高度的一半来垂直居中 */
	transform: translateY(-50%);
	/* 负边距来修正垂直居中 */
}

.sysnamediv {
	width: 98%;
	height: 96%;
	border: 2px solid white;
	box-shadow: 3px 3px 3px #747474;
	line-height: 100px;
	padding-top: 90px;
}

.tfc {
	margin-left: 20px;
}

.systxt {
	font-size: 50px;
	margin-top: 0;
	margin-left: 20px;
}

.createbtn {
	font-family: Microsoft JhengHei;
	font-size: 32px;
	text-decoration-line: none;
	color: white;
	box-shadow: 4px 4px 2px rgba(69, 69, 69, 0.7);
	text-shadow: 2px 2px 2px rgba(207, 207, 207, 0.5);
	display: inline-block;
	line-height: 80px;
	padding: 0 20px;
	margin-left: 50px;
	border-radius: 30px;
	background-color: rgba(34, 34, 34, .8);
	transition: background-color 0.3s, color 0.3s;
}

.createbtn:hover {
	background-color: #ff473d;
	color: black;
	text-shadow: 2px 2px 2px rgba(86, 86, 86, 0.5);
}

.scroll-down-button {
	position: absolute;
	bottom: 20px;
	/* 调整按钮距离底部的距离 */
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.scroll-down-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.downa {
	/* width: 50%; */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	display: block;
	background: linear-gradient(to bottom, #ffffff00, #000000a4);
	/* background-color: #ffffff00; */
}

.downa:hover {
	background: linear-gradient(to bottom, #ffffff00, #848484a4);
}

.downa:hover .down {
	color: #FFF;
}

.down {
	font-size: 26px;
	color: #97979797;
	transition: color 0.3s;
}

/* 可以调整按钮整体的大小，以适应更大的图标 */
.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 150px;
	width: 30px;
	height: 50px;
	background-color: #333;
	box-shadow: 1px 1px 3px #ccc;
}

.incomplete-circle {
	position: absolute;
	top: -10px;
	left: -50px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 3px solid #99f;
	border-left-color: transparent;
	/* 某一邊設為透明 */
	transform: rotate(45deg);
}

/* .inset {
  width: 10px;
  height: 10px;
  z-index: -100;
  position: relative;
}

.inset::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 20px;
  bottom: 30px;
  left: -20px;
  width: 200px;
  height: 180px;
  background-color: #99f;
  border-radius: 10px 10px 50% 10%;
} */

.hot_spotTxt {
	text-align: right;
	padding-right: 10px;
}
.hot_spot_title {
	font-weight: bolder;
	text-shadow: 3px 3px 2px gray;
}

.hot_spot_content {
	font-size: 18px;
}

.hot_icon {
	width: 48px;
}

/*輪播區塊css*/
/*輪播文字css*/
.carousel_txt {
	/* padding-left: 5px; */
	border: 1px solid #ccc;
	color: black;
	text-align: left;
	position: relative;
}

.heart_icon_img {
	position: relative;
}

.imgcontainer {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.imgcontainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}


#imageContainer {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.info_icon_left {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 0;
	font-size: 24px;
	color: white;
	text-shadow: 2px 2px 3px #333;
	cursor: pointer;
	text-decoration: none;
}

.info_icon_left:hover {
	color: orange;
}

.info_active {
	color: orange;
}


.changeImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.changeImg_show {
	opacity: 1;
}

.c_title {
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(90, 90, 90);
	margin-top: 5px;
	text-align: center;
}

.c_txt {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	text-align: justify;
}

/*收藏*/
.heart_icon {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 10px;
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.active_heart {
	/*收藏動畫*/
	color: #E1251B;
	animation: heart 0.5s linear;
	/* transform: scale(1.1); */
}

/*+CSS*/
.add_icon {
	position: absolute;
	top: 50px;
	right: 16px;
	padding: 10px;
	border-radius: 30%;
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.85);
	cursor: pointer;
	z-index: 10;
}

.add_icon:hover {
	background-color: rgb(255, 236, 22);
}

.add_icon.active {
	background-color: rgb(255, 236, 22);
}

.dropdown_menu {
	position: absolute;
	top: 90px;
	right: 15px;
	/* width: 150px; */
	border-radius: 10%;
	background-color: rgb(252, 252, 244);
	text-align: left;
	display: inline-block;
	z-index: 999;
	user-select: none;
}

.dropdown_item {
	text-decoration-line: none;
	color: black;
	display: block;
	border-radius: 10%;
	padding: 8px;
}

.dropdown_item:hover {
	background-color: bisque;
}


/*熱門行程*/
.containerLeft {
	float: left;
	width: 20%;
}

.containerRight {
	float: right;
	width: 80%;
	justify-content: center;
	margin: 10px auto;
	margin-bottom: 0;
	z-index: 2;
}

/* #container DIV {
	text-align: center;
	margin: 0px;
	padding: 0px;
} */

.hideme,
.hidemehot,
.hidemehottoleft,
.hidemeexplore,
.hidemespot {
	opacity: 0;
}

.hidemehot {
	position: relative;
}

.owl-prev {
	left: 0;
}

.owl-next {
	right: 0;
}

.owl-next span,
.owl-prev span {
	font-size: 28px;
}

.hot_txt {
	text-align: left;
}

.hot_spot_block {
	margin-bottom: 10px;
	text-align: center;
}

.spot_data_btn {
	margin-bottom: 10px;
}

/* .spot_img{
	padding: 0;
	transition: transform 0.3s;
} */
.spot_img:hover {
	/* transform: scale(1.1); */
}

.spot_txt {
	border: 1px solid #ccc;
	padding: 0px;
}

/*btn詳細資料*/
.hot_spot_show {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: 999;
}

.hot_spot_show_txt {
	height: 600px;
	width: 400px;
	border: 1px solid black;
	border-radius: 3px;
	background: #FFF;
	box-shadow: 2px 2px rgba(0, 0, 0, rgba(0, 0, 0, 0.3));
}

.hr_style {
	margin: 5px 10px;
}

.hot_spot_show_title {
	position: relative;
	padding: 15px 0 0 15px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

.hot_spot_show_author {
	/* text-align: right; */
	float: right;
	padding: 0 15px 0 0;
	font-size: 18px;
}

@media (max-width:850px) {
	.sysnamediv {
		padding: 10px;
		margin-left: 0;
		width: 98%;
		margin: 0 auto;
	}

	.systemname {
		width: 80%;
		height: 55%;
		text-align: center;
	}

	.createbtn {
		font-size: 28px;
		margin: 0 auto;
		line-height: 60px;
		padding: 0 15px;
	}

	.tfc {
		font-size: 70px;
		margin-left: 0;
	}

	.systxt {
		font-size: 60px;
		margin-left: 0;
	}

	.hot_spot_title {
		/* font-size: 36px; */
	}
}

@media(max-width: 768px) {
	.sysnamediv {
		padding-top: 50px;
		line-height: 70px;
	}

	.systemname {
		font-size: 60px;
	}

	.tfc {
		font-size: 50px;
	}

	.systxt {
		font-size: 45px;
	}

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute;
		top: 100px;
		width: 50px;
		height: 110px;
	}

	.carousel_block {
		padding: 0 5px;
	}

	.carousel_txt {
		/* padding-left: 10px; */
		border: 1px solid #ccc;
	}

	.imgcontainer {
		height: 200px;
		overflow: hidden;
	}

	.imgcontainer img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#imageContainer {
		height: 250px;
	}

	.hidemehot {
		text-align: center;
	}

	.explore {
		width: 150px;
		margin: 5px auto;
	}

	.explorea {
		left: 5%;
		font-size: 20px;
	}

	.explorea:hover {
		left: 1%;
	}
	.hot_spotTxt{
		text-align: center;
	}
	.more_span{
		float: unset;
		margin: 20px auto;
	}
	.more_a{
		left: 0;
	}
	.more_a:hover{
		left: -5%;
	}
}

@media(max-width: 576px) {
	.systemname {
		line-height: 40px;
		font-size: 50px;
	}

	.createbtn {
		font-size: 26px;
	}

	.systxt {
		font-size: 40px;
	}

	.c_title {
		margin-bottom: 2px;
		font-size: 18px;
	}

	.c_txt {
		margin-top: 2px;
		font-size: 16px;
	}

	.carousel_block {
		padding: 0 2px;
	}

	.carousel_txt {
		border: 1px solid #ccc;
	}

	.imgcontainer {
		height: 150px;
		overflow: hidden;
	}

	.imgcontainer img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.heart_icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		margin: 10px;
		width: 35px;
		height: 35px;
	}

	.active_heart {
		/*收藏動畫*/
		color: #E1251B;
		animation: heart 0.5s linear;
		transform: scale(1.1);
	}

	.add_icon {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50px;
		right: 13px;
		padding: 8px;
	}

	.dropdown_menu {
		position: absolute;
		top: 85px;
		right: 15px;
		/* width: 150px; */
		border-radius: 10%;
	}

	.arrow {
		right: 10px;
	}
}

@media (max-width: 488px) {
	.tfc {
		font-size: 40px;
	}

	.systemname {
		font-size: 40px;
	}

	.systxt {
		font-size: 32px;
	}

	.hot_icon {
		width: 28px;
	}

	.arrow {
		right: 6px;
	}

	.arrowi {
		padding: 10px;
		font-size: 24px;
	}
}

@media(max-width: 376px) {
	.systemname {
		font-size: 35px;
	}

	.carousel_block {
		padding: 0 1px;
	}

	.carousel_txt {
		font-size: 14px;
		border: 1px solid #ccc;
	}

	.heart_icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 7.5px;
		margin: 8px;
		width: 30px;
		height: 30px;
	}

	.active_heart {
		/*收藏動畫*/
		color: #E1251B;
		animation: heart 0.5s linear;
		transform: scale(1.1);
	}

	.add_icon {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 45px;
		right: 11px;
		padding: 6px;
	}

	.dropdown_menu {
		position: absolute;
		top: 75px;
		right: 10px;
		border-radius: 10%;
	}

	.imgcontainer {
		height: 100px;
		overflow: hidden;
	}

	.imgcontainer img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.c_title {
		font-size: 16px;
	}

	.c_txt {
		margin: 1px 5px;
		padding: 5px;
		font-size: 14px;
	}
}