.image-container {
    float: right;
    margin-right: 60px;
    margin-top: 130px;
    /* 調整圖片和內容之間的距離 */
}

.image-container img {
    width: 480px;
    /* 調整圖片的寬度 */
    height: auto;
    /* 根據比例自動調整圖片的高度 */
}

.sec li::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;
}

.sec ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.sec li {
    margin-right: 10px;
    margin-top: 8px;
}

.sec ul li:first-child::before {
    display: none;
}

.home {
    margin-top: -5px;
    margin-left: 15px;
    height: 20px;
    width: auto;
}

.sec ul li a {
    text-decoration: none;
    color: gray;
}

.sec ul li a:hover {
    text-decoration: none;
    color: black;
}

.att {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    /* 調整容器的高度 */
}

.aa {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 380px;
    left: 980px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.aa {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 380px;
    left: 980px;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    color: rgb(96, 93, 93);
    background-color: rgb(247, 152, 104);

}

.aa:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}

.bb {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 500px;
    right: 100px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.bb:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}

.cc {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    top: 600px;
    right: 60px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.cc:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}

.dd {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    bottom: 12px;
    right: 60px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.dd:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}

.ee {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    bottom: -150px;
    right: 80px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.ee:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}

.ff {
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    bottom: -90px;
    right: 100px;
    margin: 20px;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    color: gray;

}

.ff:hover {
    color: rgb(202, 15, 15);
    transform: scale(1.2, 1.2);
}