.login {
    position: relative;
    max-width: 500px;
    margin: 80px auto;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h1 {
    /* margin-top: 20px; */
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login #input {
    width: 55%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* .login input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0px 0px 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
} */

.login input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #f3930b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #f4a040;
}

.login .message {
    text-align: center;
    color: #666;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.login .message a {
    color: #266fec;
    text-decoration: none;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.message a:hover {
    color: #5726ec
}

#show_pwd {
    margin-top: -2px;
}

/* @media screen and (max-width: 480px) {
    .login {
        padding: 50px;
    }
} */
/* 
@media only screen and (min-width: 500px) {
    .login {
        margin: 100px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 50px;
    }

    .login label,
    input {
        width: 100%;
        display: block;
        margin: 4px;
    }

    .login span {
        margin: 10px 0;
    }

    .login button {
        width: 46%;
        margin: 0px 1%;
    }

    .pure-button-login {
        border-radius: 3px;
        width: 125px;
        height: 45px;
    }

    .submit {
        border-radius: 3px;
    }
} */

@media(max-width: 768px) {
    .login {
        margin: 100px auto;
        max-width: 100%;
        /* margin: 0px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .login #input {
        margin-right: 16px;
        width: 55%;
    }

    .login label,
    input {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    #show_pwd {
        margin-top: 5px;
    }


    .login span {
        margin: 10px 0;
    }

    .login button {
        width: 46%;
        margin: 0px 1%;
    }

    .pure-button-login {
        border-radius: 3px;
        width: 125px;
        height: 45px;
    }

    .submit {
        border-radius: 3px;
    }
}

/* @media(max-width: 425px) {
    .login {
        max-width: 100%;
        max-height: 100%;
        margin: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .login #input {
        margin-right: 16px;
        width: 50%;
    }

    .login label,
    input {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    .login span {
        margin: 10px 0;
    }

    .login button {
        width: 46%;
        margin: 0px 1%;
    }

    .pure-button-login {
        border-radius: 3px;
        width: 125px;
        height: 45px;
    }

    .submit {
        border-radius: 3px;
    }
} */

/* @media(max-width: 375px) {
    .login {
        max-width: 100%;
        max-height: 100%;
        margin: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .login #input {
        margin-right: 6px;
        width: 50%;
    }

    .login label,
    input {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    .login span {
        margin: 10px 0;
    }

    .login button {
        width: 46%;
        margin: 0px 1%;
    }

    .pure-button-login {
        border-radius: 3px;
        width: 125px;
        height: 45px;
    }

    .submit {
        border-radius: 3px;
    }
} */

#code {
    cursor: pointer;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    border: 0;
    letter-spacing: 2px;
    color: blue;
    background-color: red;
    padding: 4px;
    width: 120px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
}

#recode {
    cursor: pointer;
    font-size: 12px;
    color: crimson;
}

.ch {
    display: flex;
    align-items: center;
}

.password-container {
    width: 100%;
    position: relative;
    display: inline-block;
}

#inputpwd {
    padding-right: 30px;
}

.fa-eye {
    position: absolute;
    top: 28px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-eye-slash {
    position: absolute;
    top: 28px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}