.register {
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.register input[type="text"],
.register input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* margin: 0px 0px 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit" */

}

.register input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f3930b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.register input[type="submit"]:hover {
    background-color: #f4a040;
}

.register .message {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.register .message a {
    color: #266fec;
    text-decoration: none;
    margin-right: 10px;
}

.register .message a:hover {
    color: #5726ec;
}

.check {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
    animation: 1s infinite;
    opacity: 0.5;
}

.image-container .image-caption {
    margin-left: 10px;
}

#validationIcons div {
    margin-right: 10px;
    font-size: 16px;
    opacity: 0.5;
}

#validationIcons .check.valid {
    animation: validAnimation 1s infinite;
    opacity: 2;
}

@keyframes validAnimation {
    50% {
        transform: scale(1.2);
    }
}

#checkEye {
    cursor: pointer;
    font-size: 18px;
    color: #000;
}

#checkEye1 {
    cursor: pointer;
    font-size: 18px;
    color: #000;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    bottom: -5px;
    transform: translateY(-50%);
    cursor: pointer;
}