.forget {
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forget h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.forget input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forget input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f3930b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 18px;
}

.forget input[type="submit"]:hover {
    background-color: #f4a040;
}

.forget .message {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.forget .message a {
    color: #266fec;
    text-decoration: none;
    margin-right: 10px;
}

.forget .message a:hover {
    color: #5726ec;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.check {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
    animation: 1s infinite;
    opacity: 0.5;
}

.image-container .image-caption {
    margin-left: 10px;
}

#validationIcons div {
    margin-right: 10px;
    font-size: 16px;
    opacity: 0.5;
}

#validationIcons .check.valid {
    animation: validAnimation 1s infinite;
    opacity: 2;
}

@keyframes validAnimation {
    50% {
        transform: scale(1.2);
    }
}