
/*收藏*/
.heart_icon{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin: 10px;
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	border:none;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.active_heart{/*收藏動畫*/
	color: #E1251B;
	animation: heart 0.5s linear;
	/* transform: scale(1.1); */
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border: none;
    box-shadow: none;
    outline: none;
    width: 350px;
    box-shadow: 1px 1px 3px #333;
  }
  .card .toggle-switch {
    z-index: 1;
  }
  
  #trash-icon.clicked {
    transform: scale(1.5); 
    background-color: rgb(251, 251, 251); 
  }
  
  .delete-icon:hover {
    transform: scale(1.2) rotate(20deg);
  }
  
  .delete-icon.active {
    animation: shake 0.5s;
  }
  

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
@media(max-width: 768px){
    main{
        margin-top: 10%;
    }
    .tab_a{
        font-size: 20px;
    }
         
}
@media(max-width: 576px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 18px;
    }
}
@media(max-width: 376px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 14px;
    }
}

/* 背景顏色 */
body {
  height: auto;
  margin-top: 70px;
	background-color: rgba(247, 255, 221, 0.1);
}

