.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border: none;
    box-shadow: none;
    outline: none;
    width: 350px;
  }
  .card .toggle-switch {
    z-index: 1;
  }
  
  #trash-icon.clicked {
    transform: scale(1.5); 
    background-color: rgb(251, 251, 251); 
  }
  
  .delete-icon:hover {
    transform: scale(1.2) rotate(20deg);
  }
  
  .delete-icon.active {
    animation: shake 0.5s;
  }
  

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
@media(max-width: 768px){
    main{
        margin-top: 10%;
    }
    .tab_a{
        font-size: 20px;
    }
         
}
@media(max-width: 576px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 18px;
    }
}
@media(max-width: 376px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 14px;
    }
}

/* 背景顏色 */
body {
  /* background-color: #d5d5d5bf; */
  background-image: url(../images/trip_bg_att.png);
  background-size: cover;
  background-attachment: fixed;
}