.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border: none;
    box-shadow: none;
    outline: none;
    width: 350px;
  }
  .card .toggle-switch {
    z-index: 1;
  }
  
  #trash-icon.clicked {
    transform: scale(1.5); /* 放大图标 */
    background-color: rgb(251, 251, 251); /* 修改背景颜色 */
    /* 可以根据需求添加其他样式 */
  }.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../static/images/trash-icon.png');
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease; /* 添加过渡以实现平滑效果 */
  }
  
  .delete-icon:hover {
    transform: scale(1.2) rotate(20deg); /* 增大尺寸并应用旋转 */
  }
  
  .delete-icon.active {
    animation: shake 0.5s; /* 增加抖動動畫 */
  }
  
  /* 定義抖動動畫 */
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
@media(max-width: 768px){
    main{
        margin-top: 10%;
    }
    .tab_a{
        font-size: 20px;
    }
         
}
@media(max-width: 576px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 18px;
    }
}
@media(max-width: 376px){
    main{
        margin-top: 15%;
    }
    .tab_a{
        font-size: 14px;
    }
}