
.input_txt{
    height: 28px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 5px;
}
.tabc_txt{
    font-size: 20px;
}
.create_txt{
    
    font-size: 20px;
}
.spot{
    width: 200px;
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}
.tabf_a{
    background-color: palevioletred;
    padding: 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.spot_r{
    font-size: 20px;
    margin: 10px;
    width: 50px;
}

.yn{
    margin-right: 5px;
}


.container{
    /* display: flex; */
    justify-content: center;
}
.col{
    margin: 5px 0;
    font-size: 20px;
}
.col-md-4{
    margin: 5px 0;
    font-size: 20px;
}
.tab_a{
    text-decoration: none;
    color: black;
}
.tab_a:hover{
    font-size: larger;
    font-weight: bolder;
}
.tabD{
    padding: 5px;
}
.col{
    padding: 5px;
}
.tab_day{
    text-decoration: none;
    color: black;
}
.tab_day:hover{
    color: #ccc;
    font-size: larger;
}
.div_day{
    margin: 0;
}
.tabc_txt{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.heart_icon_box{
    position: relative;
    border: 1px solid #000;
}
.heart_icon{
    position: absolute;
    top:0;
    right: 0;
    background-color: #ccc;
    color: red;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.spot_like_txt{
    border: 1px solid #ccc;
}




/* .dialog{
    position:fixed;
    top: 100px;
    left: 45%;
    width: 400px;
    height: 200px;
    border:1px solid #888888;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px;
    transform:translate(-100px,0px);
    display:none;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 60px;
  }
  .dialog>.close{
    position: absolute;
    top: 0px;
    right: 5px;
    cursor:pointer;
  } */