<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    
    <link rel="stylesheet" href="../static/css/bootstrap2023.css">
    <link rel="stylesheet" href="../static/css/all.css">

  <link rel="stylesheet" href="/static/css/info.css">
  <link rel="stylesheet" href="/static/css/bootstrap2023.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/js/createT.js">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/jquery-3.7.0.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary " style="height: 80px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">趣放假</a>
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="index.html">首頁</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="create.html">建立行程</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="history.html">我的行程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="_get_all_taiwan.html">景點資訊</a>

            <a class="nav-link" aria-current="page" href="history.html">我的行程</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="favorite.html">我的收藏</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">登入</a>
        </ul>
      </div>
      <div>
        <ul class="name_ul">
          <li class="nav-item dropdown name_li" style="list-style-type: none;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              UserName
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Setting</a></li>
              <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="width: 100%; height: 40px; background-color: rgb(220, 220, 220);">
    <nav class="sec">
      <ul class="sec-ul">
        <li><a href="index.html"><img class="home" src="/static/images/home.png" alt="home"></a></li>
        <li><a href="_get_all_taiwan.html">景點資訊</a></li>
        <li><a href="services.html">服務</a></li>
        <li><a href="contact.html">聯繫我們</a></li>
      </ul>
    </nav>


  </div>

  <div class="image-container">
    <img src="/static/images/Taipei-location.png" alt="圖片描述">
  </div>



</body>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.7.0.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

</html>