{% for item in search_list %}
<div class="row" style="margin-bottom: 20px;">
    <div class="col-5">
        <div class="img_wrap" style=" height: 90%;" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <p class="learn_more">Learn<br>More</p>
            <img data-name="{{ item.id }}" class="slide" src="/static/images/attractions/{{item.place_id}}_0.jpg"
                style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo({{ item.id }})"
                data-a-Id="{{ item.id }}" alt="" />
        </div>
        <!-- onclick="showInfo(this)" -->
    </div>
    <div class="col-7 feature">
        <!-- 景點名稱 -->
        <h4 data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1" data-a-Id="{{ item.id }}"
            onclick="showInfo({{ item.id }})">
            {{item.a_name }}</h3>
            <!-- 星星數 -->
            <div class="rating" data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1;">
                {% for i in "12345" %}
                {% if i|add:0 <= item.rating %} <span class="rating-star" style="color: rgb(241, 226, 62);">
                    &#9733;</span>
                    {% else %}
                    <span class="rating-star">&#9733;</span>
                    {% endif %}
                    {% endfor %}
            </div>
            <!-- 地址 -->
            <h6 style="margin-top:5px;" data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1">
                地址：<span id="list-address">{{ item.address }}</span>
            </h6>
            <!-- 評分 -->
            <h6 style="margin-top:5px;" data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1">
                綜合評分： <span id="list-selectedRating">{{ item.rating }}</span> / 5 ({{item.rating_total}}則評分)
            </h6>
            <!-- 營業時間 -->
            <h6 data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1">
                營業時間：<span>24小時營業</span>
            </h6>
            <!-- 總瀏覽人數 -->
            <h6 style="color:#8b8a8a;" data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1">
                <i class="fa-regular fa-eye"></i>&thinsp;瀏覽人數：<span>{{item.hit}}</span>人
            </h6>
            <!-- 收藏按鈕 -->
            <div data-bottom-top="transform: translateY(-20px);opacity: 0"
                data-center="transform: translateY(0px);opacity: 1">
                {% if item.is_favorite == "0" %}
                <button class="col_btn" name="submitfavorite" id="submitfavorite{{item.id}}"
                    data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{item.id}})">
                    <i class="fa-regular fa-heart"></i>&ensp;收藏</button>
                {% else %}
                <button class="col_btn" name="submitfavorite" id="submitfavorite{{item.id}}"
                    data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{ item.id }})">
                    <i class="fa-solid fa-heart"></i>&ensp;已收藏</button>
                {% endif %}
            </div>
    </div>
</div>
{% empty %}
<div>查無資料</div>
{% endfor %}