{% extends 'base.html' %}
{% block title %}景點資訊{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/att.css">
<link rel="stylesheet" href="../static/css/comment.css">
<link rel="stylesheet" href="../lib/w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% endblock %}

{% block body %}
<!-- 動態大標 景點資訊 -->
<div class="row jumbotron">
    <div class="container_info">
        <div class="active_tit1">
            <div class="active_tit">
                <div class="scroll-text">
                    <h1>景&ensp;點&ensp;資&ensp;訊</h1>
                </div>
                <div class="scroll-text1">
                    <h5 class="text_trip">Trip&ensp;Fun&ensp;Chill&ensp;趣放假</h5>
                </div>
            </div>
        </div>
        <div class="active_tit3">
            <div class="scroll-text">
                <h1>景&ensp;點&ensp;資&ensp;訊</h1>
            </div>
            <div class="scroll-text1">
                <h5 class="text_trip">Trip&ensp;Fun&ensp;Chill&ensp;趣放假</h5>
            </div>
        </div>
    </div>
    <!-- 搜尋引擎 -->
    <div class="row search_body" style="display:flex;justify-content: center;">
        <div class="col-8" style="margin-bottom:30px;" ng-app="">
            <!-- 搜尋框 -->
            <form autocomplete="off" id="d-flex" class="d-flex" method="post" role="search"
                action="{% url 'search_results' %}">
                {% csrf_token %}
                <div class="container_search">
                    <div class="searchInput">
                        <button class="icon" type="submit" id="searchClick"><i class="fas fa-search"></i></button>
                        <input type="search" ng-model="search_item" placeholder="想去哪玩.." id="myInput"
                            name="searchQuery">
                        <!-- 歷史紀錄 -->
                        <div id="searchBox">
                            <div class="enter"></div>
                            <!-- <div class="searchContent">
                                history（目前放假資料）
                                <div class="history_12" id="history_12">
                                    <i class="fa-solid fa-clock-rotate-left"
                                        style="margin-right: 12px;"></i><strong>123</strong>
                                    <div class="close_history" onclick="deleteFunction(this)">
                                        <i class="fa-solid fa-xmark" style="color: rgb(171, 5, 5);"></i>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 人拖行李棟動圖（左） -->
<!-- <div class="row" id="filiter_about">
    <div class="col-5 car_trip">
        <div class="cloud" data-0="transform: translateX(-20%); opacity: 0;"
            data-500="transform: translateX(10%); opacity: 0.8">
            <img src="../static/images/sun.png" alt="" style="width: 80px; z-index: 2;margin-right: 80px;">
            <img src="../static/images/cloud1.png" alt=""
                style="width: 80px; margin-top: 50px; margin-right: 50px; z-index: 2;">
            <img src="../static/images/cloud1.png" alt=""
                style="width: 80px; margin-top: 0px; margin-right: 50px; z-index: 2;">
            <img src="../static/images/cloud1.png" alt="" style="width: 80px; margin-top: 30px; z-index: 2;">
        </div>
        <div class="img_trip" data-0="transform: translateX(-520%); opacity: 0;"
            data-500="transform: translateX(120%); opacity: 0.8">
            <img src="../static/images/TripFun.png" alt="" style="width: 500px; z-index: 2;">
        </div>
        <div class="img_trip" data-0="transform: translateX(-1120%); opacity: 0;"
            data-500="transform: translateX(1060%); opacity: 0.8">
            <img src="../static/images/travel.png" alt="" style="width: 100px; z-index: 2;margin-top: -30px;">
        </div>
    </div>
    篩選工具（右）
    <div class="col-7">
        <div class="container_filiter">
            <div class="col-sm-7" style="text-align: center;padding-right: 20px;">
                <h2 data-300="opacity: 0" data-500="opacity: 1"><i class="fa-solid fa-face-smile"
                        style="margin-right: 5px; color: rgb(119, 119, 119);"></i>篩選工具</h2>
                <hr style="margin: 0 auto;">
                <div class="row three_choice">
                    <div class="column" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_filiter').style.display='block'">
                        <div style="cursor: pointer;">
                            <i class="fa-solid fa-plane" style="font-size: 60px;"></i><br>
                            <h3 class="filiter_btn">景點主題</h3>
                        </div>
                    </div>
                    <div class="column" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_condition').style.display='block'">
                        當有篩選條件時右上跳出1 2...等(ribbon)
                        <div style="cursor: pointer; position: relative;">
                            <i class="fa-solid fa-list" style="font-size: 60px;"></i> <span class="ribbon">1</span><br>
                            <h3 class="filiter_btn">條件篩選</h3>
                        </div>
                    </div>
                    <div class="column" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_userfavorite').style.display='block'">
                        <div style="cursor: pointer;">
                            <i class="fa-solid fa-thumbs-up" style="font-size: 60px;"></i><br>
                            <h3 class="filiter_btn">最受歡迎</h3>
                        </div>
                    </div>
                    <div class="col-4 text-center topic_filiter" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_filiter').style.display='block'">
                        <div style="cursor: pointer;">
                            <i class="fa-solid fa-plane" style="font-size: 60px;"></i><br>
                            <h3 class="filiter_btn">景點主題</h3>
                        </div>
                    </div>
                    <div class="col-4 text-center topic_filiter" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_condition').style.display='block'">
                        當有篩選條件時右上跳出1 2...等(ribbon)
                        <div style="cursor: pointer; position: relative;">
                            <i class="fa-solid fa-list" style="font-size: 60px;"></i> <span class="ribbon">1</span><br>
                            <h3 class="filiter_btn">條件篩選</h3>
                        </div>
                    </div>
                    <div class="col-4 text-center topic_filiter" data-400="transform: scale(1.5); opacity: 0"
                        data-500="transform: scale(1); opacity: 1"
                        onclick="document.getElementById('show_userfavorite').style.display='block'">
                        <div style="cursor: pointer;">
                            <i class="fa-solid fa-thumbs-up" style="font-size: 60px;"></i><br>
                            <h3 class="filiter_btn">最受歡迎</h3>
                        </div>
                    </div>
                </div>
                清除所有篩選按鈕
                <div class="text-center row" style="margin:20px auto;" data-400="transform: scale(1.5); opacity: 0"
                    data-500="transform: scale(1); opacity: 1">
                    <span class="clear_btn" id="clear_btn" style="cursor: pointer;">清除所有篩選</span>
                </div>
            </div>
        </div>
    </div>
    <div class="road">
        <img src="../static/images/road1.png" alt="" style="width: 100%; height: 50px; z-index: 1;">
    </div>
</div> -->

<!-- 景點主題 -->
<div id="show_filiter" style="display: none;">
    <div class="modal-content_filiter" method="post" style="border-radius: 10px;">
        {% csrf_token %}
        <div class="att_form">
            <span onclick="document.getElementById('show_filiter').style.display='none'" class="close_filter"
                title="Close Modal">&times;</span>
            <h3><strong>景點主題</strong></h3>
            <div class="filiter_search" id="filiter_search2">
                <table style="width:45%;margin-left: 10px;margin-bottom:5px ;">
                    <div id="attractions_types">
                    </div>
                </table>
                <!-- <div class="sure"><button class="sure_btn" id="sure_att_type" name="sure_att_type" value="0">篩選</button>
                </div> -->
            </div>

        </div>
    </div>
</div>

<!-- 條件篩選 -->
<!-- <div id="show_condition" style="display: none;">
    <form class="modal-content_filiter" method="post" style="border-radius: 10px;">
        <div class="att_form">
            <span onclick="document.getElementById('show_condition').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <h4>條件篩選</h4>
            <div class="filiter_search" id="filiter_search1">
                <table style=" width:45%;margin-left: 10px;margin-bottom:5px ;">
                    <tr>
                        <td><span class="more_btn">最多人瀏覽</span></td>
                        <td><span class="more_btn">最多人按讚</span></td>
                        <td><span class="more_btn">最多人收藏</span></td>
                    </tr>
                </table>
            </div>
            <div class="sure"><button class="sure_btn">篩選</button></div>
        </div>
    </form>
</div> -->

<!-- 最受歡迎 -->
<!-- <div id="show_userfavorite" style="display: none;">
    <form class="modal-content_filiter" method="post" style="border-radius: 10px;">
        <div class="att_form">
            <span onclick="document.getElementById('show_userfavorite').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <h4>最受歡迎</h4>
            <div class="filiter_search" id="filiter_search">
                <table style=" width:45%;margin-left: 10px;margin-bottom:5px ;">
                    <tr>
                        <td><span class="more_btn">最多人瀏覽</span></td>
                        <td><span class="more_btn">最多人按讚</span></td>
                        <td><span class="more_btn">最多人收藏</span></td>
                    </tr>
                </table>
            </div>
            <div class="sure"><button class="sure_btn">篩選</button></div>
        </div>
    </form>
</div> -->
<div class="row sticky_att">
    <div class="col-1"></div>
    <div class="col-8 clear_8">
        <div class="clear-all" id="clear-all1">
            <h5 class="clear_1"><strong><i class="fa-solid fa-square-xmark"
                        style="color: rgb(179, 76, 76);margin-right: 5px;"></i>清除所有篩選</strong></h5>
        </div>
    </div>
    <div class="col-2 clear_2">
        <!-- style="position: relative;" -->
        <div class="new_fifliter">
            <!-- style="position:absolute ;right: 50px;" -->
            <div class="in_filiter">
                <h5 class="ask_qa" id="new_fifliter_topic"
                    onclick="document.getElementById('show_filiter').style.display='block'">
                    <i class="fa-solid fa-list" style="margin-right: 6px;"></i>主題
                </h5>
                <h5 class="ask_qa" id="new_filiter_user">
                    排序<i class="fa-solid fa-chevron-down" style="margin-left: 6px;"></i>
                </h5>
                <!-- <h5 class="ask_qa" id="new_filiter_user">
                    <i class="fa-solid fa-square-xmark" style="color: rgb(179, 76, 76);margin-right: 5px;"></i>清除所有篩選
                </h5> -->
                </h5>
                <div class="row RWD_clear" id="clear-all2">
                    <h5><strong><i class="fa-solid fa-square-xmark"
                                style="color: rgb(179, 76, 76);margin-right: 5px;"></i>清除所有篩選</strong></h5>
                </div>
                <div class="dropdown_filiter" id="dropdown_filiter">
                    <div class="dropdown-content">
                        <div class="dropdown-item focused first-defaultFocus" id="defaultFocus" 　data-set="">相關度最高</div>
                        <div class="dropdown-item " data-set="hit">瀏覽最多</div>
                        <div class="dropdown-item" data-set="favorite">收藏最多</div>
                        <!-- <div class="dropdown-item"></div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 20px;">
    <div class="col-1"></div>
    <div class="col-10">
        <!-- <hr class="tit_hr"> -->
        <h4 class="all_att_tip" style="  font-weight: bold;"><i class="fa-solid fa-lightbulb"
                style="color: rgb(203, 190, 6);"></i>共<span id="searchListCount">{{search_list_count}}</span>個景點，以<span
                id="type_key_word"></span>為主題搜尋，並以<span id="searchListOrder">相關度最高</span>排序</h4>
        <!-- 清除所有篩選按鈕 -->
        <!-- <div class="row" style="margin:20px auto;" data-400="transform: scale(1.5); opacity: 0"
            data-500="transform: scale(1); opacity: 1">
            <span class="clear_btn" id="clear_btn" style="cursor: pointer;">清除所有篩選</span>
        </div> -->
    </div>
    <div class="col-1">

    </div>
    <!-- <h5>根據<span id="type_key_word"></span>的篩選條件搜尋出以下景點：</h5> -->
</div>

<!-- 下方景點 -->
<div class="row" id="attractions_introduction">
    <div class="col-2"></div>
    <!-- 景點資訊主體 -->
    <div class="col-9 contaioner_information" id="replaceable-content">
        <!-- 景點資訊條列 -->
        {% include 'attraction_details_search.html' %}
    </div>
</div>

<!-- <div class="row Att_Info">
    <div class="col-2 "></div>
    景點資訊主體
    <div class="col-8 ">
        景點資訊條列
        {% for item in search_list %}
        <div class="row Info_item">
            景點圖片
            <div class="col-4">
                <div class="w3-content" style="max-width:800px;position:relative;">
                    <img data-name="{{ item.id }}" class="slide"
                        src="/static/images/attractions/{{item.place_id}}_0.jpg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    <img data-name="{{ item.id }}" class="slide"
                        src="/static/images/attractions/{{item.place_id}}_0.jpg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    <img data-name="{{ item.id }}" class="slide"
                        src="/static/images/attractions/{{item.place_id}}_0.jpg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    收藏按鈕
                    {% if item.is_favorite == "0" %}
                    <button class="col_btn" name="submitfavorite" id="submitfavorite{{item.id}}"
                        data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{item.id}})">
                        <i class="fa-regular fa-bookmark"></i></button>
                    {% else %}
                    <button class="col_btn" name="submitfavorite" id="submitfavorite{{item.id}}"
                        data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{ item.id }})">
                        <i class="fa-solid fa-bookmark"></i></button>
                    {% endif %}
                    圖片滑動按鈕箭頭
                    <a class=" w3-btn-floating_left" onclick="plusDivs(-1,'{{ item.id }}')">❮</a>
                    <a class="w3-btn-floating_right" onclick="plusDivs(1,'{{ item.id }}')">❯</a>
                </div>
            </div>
            景點相關簡短資訊
            <div class="col-8 short_info" style="width:auto;">
                景點名稱
                <h5 class="info_tit" onclick="showInfo(this)" data-a-Id="{{ item.id }}">
                    {{item.a_name }}</h5>
                星星數
                <div class="rating">
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star">&#9733;</span>
                </div>
                地址
                <h6 style="margin-top:5px;">
                    地址：<span id="list-address">{{ item.address }}</span>
                </h6>
                評分
                <h6 style="margin-top:5px;">
                    綜合評分： <span id="list-selectedRating">{{ item.rating }}</span> / 5 (2.1萬)
                </h6>
                營業時間
                <h6>
                    營業時間：<span>24小時營業</span>
                </h6>
                總瀏覽人數
                <h6 style="color:#8b8a8a;">
                    <i class="fa-regular fa-eye"></i>&thinsp;瀏覽人數：<span>１</span>人
                </h6>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div> -->
<!-- 景點詳細資料隱藏點擊 -->
<div id="id01" class="row" style="display:none;">
    {% include 'attraction_details_detail.html' %}
</div>
<!-- footer-->
<footer class="jumbotron1">
    <div class="container">
        <form action="/createindex/" method="get">
            {% csrf_token %}
            <h1>景點看得差不多了嗎？</h1>
            <button class="btn btn-default" style="margin-top:40px; font-size:20px" type="submit">立即建立行程</a></button>
        </form>
    </div>
</footer>

<script src="../static/js/addFavorite.js"></script>
{% comment %}
<script src="../static/js/slideshow.js"></script> {% endcomment %}
<script src="../static/js/attractions.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script>
    // 當頁面載入完成後執行
    document.addEventListener('DOMContentLoaded', function () {
        var dropdown_filiter = document.getElementById('dropdown_filiter');
        var defaultFocus = document.getElementById('defaultFocus');

        // 當標題點擊時顯示或隱藏下拉選單
        var chevronIcon = document.querySelector('#new_filiter_user i');
        document.getElementById('new_filiter_user').addEventListener('click', function () {
            dropdown_filiter.style.display = (dropdown_filiter.style.display === 'none' || dropdown_filiter.style.display === '') ? 'block' : 'none';
            defaultFocus.classList.add('focused'); // 添加focused樣式
            defaultFocus.focus(); // 將第一個項目設為焦點
            if (chevronIcon.classList.contains('fa-chevron-down')) {
                chevronIcon.classList.remove('fa-chevron-down');
                chevronIcon.classList.add('fa-chevron-up');
            } else {
                chevronIcon.classList.remove('fa-chevron-up');
                chevronIcon.classList.add('fa-chevron-down');
            }
        });

        // 點擊下拉選單外的區域時隱藏下拉選單
        window.addEventListener('click', function (event) {
            if (!dropdown_filiter.contains(event.target) && event.target !== document.getElementById('new_filiter_user')) {
                dropdown_filiter.style.display = 'none';
                defaultFocus.classList.remove('focused'); // 移除focused樣式
            }
        });

        // 添加點擊項目的事件
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        dropdownItems.forEach(function (item) {
            item.addEventListener('click', function () {
                defaultFocus.classList.remove('focused'); // 移除前一個項目的focused樣式
                defaultFocus = item; // 更改defaultFocus為點擊的項目
                for (var key in sessionStorage) {
                    // 检查值是否匹配
                    if (sessionStorage.getItem(key) === "order") {
                        // 删除匹配的项
                        sessionStorage.removeItem(key);
                    }
                }
                defaultFocus.classList.add('focused'); // 添加focused樣式
                console.log(item.dataset.set);
                sessionStorage.setItem(item.dataset.set, 'order');
                $.ajax({
                    url: '',  // 伺服器端的 URL
                    type: 'GET',  // 請求類型為 GET
                    data: {
                        sessionStorage: getAllSessionStorageData(),
                        order: item.dataset.set,
                    },
                    success: function (response) {
                        document.getElementById('searchListOrder').textContent = item.textContent;
                        document.getElementById('searchListCount').textContent = response['search_list_count'];
                        const search_detail_div = $('#replaceable-content');
                        search_detail_div.html(response['keyword_search_list']);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr);
                    }
                });
            });
        });
    });

    sessionStorage.clear();
    if ("{{base_search_text | safe}}" != "") {
        sessionStorage.setItem("{{base_search_text | safe}}", 'keyword_search');
        searchText("{{base_search_text | safe}}", 'keyword_search');
    }

    // 排序icon(click)
    // var chevronIcon = document.querySelector('#new_filiter_user i');
    // var h5Element = document.getElementById('new_filiter_user');
    // h5Element.addEventListener('click', function () {
    //     if (chevronIcon.classList.contains('fa-chevron-down')) {
    //         chevronIcon.classList.remove('fa-chevron-down');
    //         chevronIcon.classList.add('fa-chevron-up');
    //     } else {
    //         chevronIcon.classList.remove('fa-chevron-up');
    //         chevronIcon.classList.add('fa-chevron-down');
    //     }
    // });

    // skrollr滑鼠滾動
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    if (!isMobile) {
        var s = skrollr.init();
    }

    //進階的部分
    var filiter_win = document.getElementById('show_condition');//條件篩選
    window.onclick = function (event) {
        // 判斷點擊事件的目標是否是模態框元素本身
        if (event.target == filiter_win) {
            filiter_win.style.display = "none";
        }
    }
    var filiter_win = document.getElementById('show_filiter');//景點主題
    window.onclick = function (event) {
        // 判斷點擊事件的目標是否是模態框元素本身
        if (event.target == filiter_win) {
            filiter_win.style.display = "none";
        }
    }

    var filiter_win = document.getElementById('show_userfavorite');//最受歡迎
    window.onclick = function (event) {
        // 判斷點擊事件的目標是否是模態框元素本身
        if (event.target == filiter_win) {
            filiter_win.style.display = "none";
        }
    }
    // 放入景點標籤
    var attractions = JSON.parse('{{ attractions_search_json|safe }}');
    autocomplete(document.getElementById("myInput"), attractions);
    var attractions_types_json = JSON.parse('{{ all_type_name_json|safe }}');
    var attractions_types = document.getElementById("attractions_types");

    attractions_types.innerHTML += "<tr>";

    attractions_types_json.forEach(function (item) {
        //console.log(item);
        attractions_types.innerHTML += `<td><span class="more_btn" data-set="${item.id}">${item.name}</span></td>`;
    });
    //景點標籤按鈕
    attractions_types.innerHTML += "</tr>"
    var header = document.getElementById("filiter_search2");//景點主題裡面按鈕active（固定）
    var btns = header.getElementsByClassName("more_btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            if (this.className.includes("active")) {
                this.className = this.className.replace(" active", "");
                sessionStorage.removeItem(this.textContent);
                searchText(this.dataset.set, 'tag_search');
                return;
            }
            this.className += " active";
            console.log(this.textContent);
            sessionStorage.setItem(this.textContent, 'tag_search');
            searchText(this.dataset.set, 'tag_search');
        });
    }
    //清除所有篩選
    var clear_btn1 = document.getElementById("clear-all1");
    var clear_btn2 = document.getElementById("clear-all2");
    clear_btn1.addEventListener("click", function () {
        clearTag()
    });
    clear_btn2.addEventListener("click", function () {
        clearTag()
    });

    function clearTag() {
        var search_type_key_word = document.getElementById('type_key_word');
        console.log(search_type_key_word);
        while (search_type_key_word.firstChild) {
            search_type_key_word.removeChild(search_type_key_word.firstChild);
        }
        sessionStorage.clear();
        searchText("", 'keyword_search');

        var firstItem = document.querySelector(".first-defaultFocus");
        firstItem.click();
    }
    //歷史紀錄（點一下input跳出來）
    // const searchInput = document.getElementById("myInput");
    // const searchBox = document.getElementById("searchBox");
    // const enter = document.getElementById("enter");

    // //點不是input裡的元素就關起來
    // document.addEventListener("click", function (event) {
    //     if (!searchBox.contains(event.target)) {
    //         searchBox.style.display = "none";
    //     }
    // });

    // // 如果input裡有東西的話就關起來，沒有就打開歷史紀錄畫面
    // searchInput.addEventListener("input", function () {
    //     const inputValue = myInput.value;
    //     if (inputValue.trim() !== "") {
    //         searchBox.style.display = "none";
    //     } else {
    //         searchBox.style.display = "block";
    //     }
    // });

    // // 點一下input內框跳出來歷史紀錄畫面
    // searchInput.addEventListener("click", function (event) {
    //     event.stopPropagation();// 防止觸發 document 上的點擊事件
    //     searchBox.style.display = "block";
    // });

    // //delete歷史紀錄
    // function deleteFunction(element) {
    //     var historyElement = element.closest('.history_12');
    //     if (historyElement) {
    //         historyElement.remove(); //連同父元素删除
    //     }
    // }

    // //動態大標（景點資訊tripfunchill去放假）
    // const scrollText = document.querySelector('.scroll-text');
    // const scrollTextH1 = scrollText.querySelector('h1');
    // const stopScrollY = 120; //在此位置停止移動
    // window.addEventListener('scroll', function () {
    //     const scrollY = window.scrollY;// 獲取當前位置
    //     if (scrollY <= stopScrollY) {// 當位置<=停止位置時移動
    //         const translateY = Math.min(scrollY, stopScrollY);//根據位置調整本文位置，控制移動
    //         scrollTextH1.style.transform = `translate(0%, ${translateY}%)`;
    //     }
    // });

    function getAllSessionStorageData() {
        var data = []; // 創建一個空對象來保存所有的sessionStorage資料

        for (var i = 0; i < sessionStorage.length; i++) {
            var key = sessionStorage.key(i); // 獲取sessionStorage的鍵
            var value = sessionStorage.getItem(key); // 獲取鍵對應的值

            data.push(key, value); // 將鍵值對添加到data對象中
        }

        return data; // 返回包含所有sessionStorage資料的對象
    }
    // 用來刷新搜尋結果的function
    function searchText(search_text, data_type) {
        loadingpage = 2
        // data_type= keyword_search,tag_search,popular_search
        console.log(search_text, data_type);
        var search_type_key_word = document.getElementById('type_key_word');

        $.ajax({
            url: '',  // 伺服器端的 URL
            type: 'GET',  // 請求類型為 GET
            data: {
                search_text: search_text,  // 傳遞給伺服器的參數，以 a_id 為名
                data_type: data_type,
                sessionStorage: getAllSessionStorageData()
            },
            success: function (response) {
                document.getElementById('searchListCount').textContent = response['search_list_count'];
                const search_detail_div = $('#replaceable-content');
                search_detail_div.html(response['keyword_search_list']);
                var keys = Object.keys(sessionStorage);
                while (search_type_key_word.firstChild) {
                    search_type_key_word.removeChild(search_type_key_word.firstChild);
                }
                keys.forEach(function (key) {
                    console.log(key);
                    if (sessionStorage[key] != 'order') {
                        search_type_key_word.innerHTML += `<span class="tag-cloud">${key}<i class="fa-solid fa-circle-xmark x_icon"></i><span>`;
                    }
                });
                tagCloud = document.getElementsByClassName("tag-cloud");
                console.log(tagCloud);
                for (var i = 0; i < tagCloud.length; i++) {
                    tagCloud[i].addEventListener("click", function () {
                        if (sessionStorage[this.textContent] === 'keyword_search') {
                            sessionStorage.removeItem(this.textContent);
                            searchText(this.textContent, 'keyword_search');
                        } else if (sessionStorage[this.textContent] === 'tag_search') {
                            var current = document.getElementsByClassName('more_btn active');
                            for (var i = 0; i < current.length; i++) {
                                if (current[i].textContent === this.textContent) {
                                    console.log(current[i].textContent);
                                    current[i].click();
                                }
                            }
                        }

                    });
                }
            },
            error: function (xhr, status, error) {
                // 請求失敗時的處理
                console.log("search_textAJAX請求失敗: " + error);
            }
        });
    }

    // 點擊keyword即可移除的功能
    var tagCloud = document.getElementsByClassName("tag-cloud");



    //搜尋景點的部分
    function autocomplete(inp, arr) {
        var currentFocus; // 紀錄目前焦點所在的索引值
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1; // 輸入框值變動時重置焦點索引為-1
            a = document.createElement("DIV"); // 建立一個新的DIV元素來放置選項
            a.setAttribute("id", this.id + "autocomplete-list"); // 設定DIV元素的id屬性
            a.setAttribute("class", "autocomplete-items"); // 設定DIV元素的class屬性
            this.parentNode.appendChild(a); // 將DIV元素加入輸入框的父元素中

            // 字跟著打在下面框框的部分
            searchClick = document.getElementById("searchClick");
            b = document.createElement("DIV");
            b.textContent = val; // 輸入的值開頭
            b.innerHTML = `<i class="fas fa-search" style="margin-right:12px;"></i><strong>${val}</strong>&emsp;<span style="color:#a1a1a1">-Trip搜尋</span>`;
            b.addEventListener("click", function (e) {
                inp.value = val;
                sessionStorage.setItem(val, 'keyword_search');
                searchText(val, 'keyword_search');
                closeAllLists();
                // searchClick.click();
            });
            a.appendChild(b);

            //隨著元素尋找陣列裡輸入符合的元素
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV"); // 建立新的DIV元素來放置該項目
                    b.innerHTML = `<i class="fas fa-search" style="margin-right:12px;"></i><strong>${arr[i].substr(0, val.length)}${arr[i].substr(val.length)}</strong>`;
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; // 加入一個隱藏的input元素，用來存放選擇的值
                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value; // 設定輸入框的值為選擇的值
                        sessionStorage.setItem(this.getElementsByTagName("input")[0].value, 'keyword_search');
                        searchText(this.getElementsByTagName("input")[0].value, 'keyword_search');
                        closeAllLists(); // 關閉所有項目清單
                        // searchClick.click();
                    });
                    a.appendChild(b); // 將該項目加入清單中

                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) { // 向下箭頭鍵
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) { // 向上箭頭鍵
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) { // Enter鍵
                e.preventDefault();
                if (currentFocus > -1) { // 如果有選擇項目則觸發點擊事件
                    if (x) x[currentFocus].click();
                }
            }
            if (e.key === 'Enter') {//用enter傳送
                e.preventDefault(); // 阻止 Enter本來換行行為
                document.getElementById('d-flex').submit(); // 提交
            }
        });

        function addActive(x) { // 添加選擇時的樣式
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) { // 移除選擇時的樣式
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) { // 關閉所有項目清單
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) { // 排除目前選擇的項目清單和輸入框本身
                    x[i].parentNode.removeChild(x[i]); // 移除該項目清單
                }
            }
        }

        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    //點擊開啟詳細資料
    var modal = document.getElementById('id01');
    window.onclick = function (event) {
        // 判斷點擊事件的目標是否是模態框元素本身
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // 當點擊某個元素時觸發的函式，傳入的參數為觸發點擊事件的元素
    function showInfo(aId) {
        var content1 = document.getElementById("replaceable-content");
        var content2 = document.getElementById("id01");
        var pointBack = document.getElementById("pointItem" + aId);
        if (aId) {
            // 發起 AJAX 請求
            $.ajax({
                url: '',  // 伺服器端的 URL
                type: 'GET',  // 請求類型為 GET
                data: {
                    a_id: aId  // 傳遞給伺服器的參數，以 a_id 為名
                },
                success: function (response) {
                    // 當請求成功時執行的處理程式
                    const attractions_detail_div = $('#id01');
                    attractions_detail_div.html(response['attractions_detail_html']);
                    console.log(attractions_detail_div)
                    content1.style.display = "none";
                    content2.style.display = "block";
                    const attractionsDetailName = document.getElementById('attractions-detail-name');
                    attractionsDetailName.scrollIntoView({ behavior: 'smooth', block: 'center' }); // 使用 "smooth" 选项创建平滑的滚动效果
                    // 取得模態框元素
                    // var showInfo = document.getElementById("id01");
                    // // 將模態框的顯示樣式設定為 "block"，顯示模態框
                    // showInfo.style.display = "block";

                },
                error: function (xhr, status, error) {
                    // 請求失敗時的處理
                    console.log("AJAX請求失敗: " + error);
                }
            });
        } else {
            content1.style.display = "block";
            content2.style.display = "none";
            console.log(pointBack);
            pointBack.scrollIntoView({ behavior: 'smooth', block: 'center' }); // 使用 "smooth" 选项创建平滑的滚动效果
        }

    }



    {% comment %} var showInfo = document.getElementById("id01");
    showInfo.style.display = "block"; {% endcomment %}



    // 取得選擇後的景點回傳的值
    {% comment %}
    $.ajax({
        url: '',  // 替換為函数URL
        type: 'GET',
        success: function (response) {
            var attractions = response;
            // 將資料放進網頁中
            var attractionsDetailName = document.getElementById('attractions-detail-name');
            attractionsDetailName.textContent = attractions.a_name;
            console.log(attractionsDetailName);
        }
    }); {% endcomment %}
    let loadingpage = 2;  // 初始页面
    let waitload = false;  // 等待加载标志
    // 当滚动到底部时触发加载更多数据
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() * 0.9 && !waitload) {
            waitload = true;
            loadMoreData();
        }
    });
    function loadMoreData() {
        $.ajax({
            url: '',
            type: 'GET',
            data: {
                loadingpage: loadingpage,
                sessionStorage: getAllSessionStorageData(),
            },
            success: function (response) {
                if (response['keyword_search_list'].includes("查無相關資料")) {
                    waitload = false;
                    return;
                }
                loadingpage++;
                const search_detail_div = $('#replaceable-content');
                search_detail_div.append(response['keyword_search_list']);
                waitload = false;
            },
        });
    }
</script>
{% endblock body %}