{% for item in search_list %}
<div class="row" style="margin-bottom: 20px;" id="pointItem{{ item.id }}">
    <div class="col-5">
        <div class="img_wrap" style="height: 90%;" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <p class="learn_more">Learn<br>More</p>
            <div style="position: relative; display: inline-block;">
                <img data-name="{{ item.id }}" class="slide" src="/static/images/attractions/{{item.place_id}}_0.jpg"
                    style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo({{ item.id }})"
                    data-a-Id="{{ item.id }}" alt="" />
                <!-- 收藏按鈕 -->
                {% if item.is_favorite == "0" %}
                <div class="heart-container" name="submitfavorite" id="submitfavorite{{item.id}}"
                    data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{ item.id }})"
                    style="position: absolute; top: 10px; right: 10px; border-radius: 50%; background-color: white; padding: 8px 10px 6px 10px;">
                    <i class="fas fa-heart" style="color: rgb(111, 110, 110); font-size: 16px;"></i>
                </div>
                {% else %}
                <div class="heart-container" name="submitfavorite" id="submitfavorite{{item.id}}"
                    data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{item.id}})"
                    style="position: absolute; top: 10px; right: 10px; border-radius: 50%; background-color: white; padding: 8px 10px 6px 10px;">
                    <i class="fas fa-heart" style="color: rgb(202, 13, 13); font-size: 16px;"></i>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-7 feature">
        <!-- 景點名稱 -->
        <h4 class="item_name" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1" data-a-Id="{{ item.id }}"
            onclick="showInfo({{ item.id }})">
            {{item.a_name }}</h4>
        <!-- 星星數 -->
        <div class="rating" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1;">
            {% for i in "12345" %}
            {% if i|add:0 <= item.rating %} <span class="rating-star" style="color: rgb(214, 166, 54);">
                &#9733;</span>
                {% else %}
                <span class="rating-star">&#9733;</span>
                {% endif %}
                {% endfor %}
        </div>
        <!-- 評分 -->
        <h4 class="score_att" style="margin-top:5px;" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <span id="list-selectedRating">{{ item.rating }}</span> / 5 ({{item.rating_total}}則評分)
        </h4>
        <!-- 地址 -->
        <h4 style="margin-top:5px;" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <span id="list-address">{{ item.address }}</span>
        </h4>
        <!-- 營業時間 -->
        <!-- <h5 data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <span>24小時營業</span>
        </h5> -->
        <!-- 總瀏覽人數 -->
        <h4 class="look_att" style="color:#8b8a8a;" data-bottom-top="transform: translateY(-20px);opacity: 0"
            data-center="transform: translateY(0px);opacity: 1">
            <i class="fa-regular fa-eye"></i>&thinsp;<span>{{item.hit}}</span>
        </h4>
    </div>
</div>
{% empty %}
<div style="display: flex;justify-content: center; margin: 20px 0 20px 0;">
    <h5>查無相關資料!!</h5>
</div>
{% endfor %}