{% extends 'base.html' %}
{% block title %}景點資訊{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/bootstrap2023.css">
<link rel="stylesheet" href="../static/css/att.css">
<link rel="stylesheet" href="../static/css/comment.css">
<link rel="stylesheet" href="/lib/w3.css">
<link rel="stylesheet" href="../static/js/createT.js">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery-3.7.0.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% endblock %}

{% block body %}
{% comment %} <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">趣放假
            <img src="../static/images/logo_icon.png" width="20px" style="margin-left: 5px">
        </a>
        <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">建立行程</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/history">我的行程</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attraction_details">搜尋景點</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorite">我的收藏</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="name_ul">
                <li class="nav-item dropdown name_li" style="list-style-type: none;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Username</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Setting</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}

<!-- 搜尋引擎 -->
<div class="row search_body">
    <div class="col-2"></div>
    <div class="col-8" style="margin-top:30px ;" ng-app="">
        <!-- 搜尋框 -->
        <form autocomplete="off" class="d-flex" method="post" role="search" action="{% url 'search_results' %}">
            <div class="container">
                <div class="searchInput">
                    {% csrf_token %}
                    <input type="search" ng-model="search_item" placeholder="想去哪玩.." id="myInput"
                        style="font-size: 18px;">
                    <button class="icon"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <!-- 進階搜尋 -->
            <button class="filiter"><i class="fa-solid fa-filter"></i>進階</button>
        </form>
    </div>
</div>


<div class="row Att_Info">
    <div class="col-3"></div>
    <!-- 景點資訊主體 -->
    <div class="col-6">
        <!-- 景點資訊條列 -->
        {% for item in search_list %}
        <div class="row Info_item">
            <!-- 景點圖片 -->
            <div class="col-5">
                <div class="w3-content" style="max-width:800px;position:relative;">
                    <img data-name="{{ item.id }}" class="slide" src="../static/images/Datong.jpeg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    <img data-name="{{ item.id }}" class="slide" src="../static/images/Shilin.jpeg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    <img data-name="{{ item.id }}" class="slide" src="../static/images/Songshan.jpeg"
                        style="width:100%;max-width: 100%; cursor: pointer;" onclick="showInfo(this)"
                        data-a-Id="{{ item.id }}">
                    <!-- 收藏按鈕 -->
                    {% if item.is_favorite == "0" %}
                    <button name="submitfavorite" id="submitfavorite{{item.id}}" data-isfavorite="{{item.is_favorite}}"
                        onclick="addFavorite({{item.id}})"
                        style=" position: absolute;top: 24px;right:20px;transform: translate(50%, -50%);background-color: #fff;border-radius: 50%;padding:4px 10px 4px 10px;">
                        <i class="fa-regular fa-bookmark"></i></button>
                    {% else %}
                    <button name="submitfavorite" id="submitfavorite{{item.id}}" data-isfavorite="{{item.is_favorite}}"
                        onclick="addFavorite({{ item.id }})"
                        style=" position: absolute;top: 24px;right:20px;transform: translate(50%, -50%);background-color: #fff;border-radius: 50%;padding:4px 10px 4px 10px;">
                        <i class="fa-solid fa-bookmark" "></i></button>
                    {% endif %}
                    <!-- 圖片滑動按鈕箭頭 -->
                    <a class=" w3-btn-floating"
                            style="position:absolute;top:40%;left:0;text-decoration:none;font-size: 30px;"
                            onclick="plusDivs(-1,'{{ item.id }}')">❮</a>
                            <a class="w3-btn-floating"
                                style="position:absolute;top:40%;right:0;text-decoration:none;font-size: 30px;"
                                onclick="plusDivs(1,'{{ item.id }}')">❯</a>
                </div>
            </div>
            <!-- 景點相關簡短資訊 -->
            <div class="col-7" style="width:auto;">
                <!-- 景點名稱 -->
                <h5 style="cursor: pointer;" class="info_tit" onclick="showInfo(this)" data-a-Id="{{ item.id }}">
                    {{item.a_name }}</h5>
                <!-- 星星數 -->
                <div class="rating">
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                    <span class="rating-star">&#9733;</span>
                </div>
                <!-- 地址 -->
                <h6 style="margin-top:5px;">
                    地址：<span id="list-address">{{ item.address }}</span>
                </h6>
                <!-- 評分 -->
                <h6 style="margin-top:5px;">
                    綜合評分： <span id="list-selectedRating">{{ item.rating }}</span> / 5 (2.1萬)
                </h6>
                <!-- 營業時間 -->
                <h6>
                    營業時間：<span>24小時營業</span>
                </h6>
                <!-- 總瀏覽人數 -->
                <h6 style="color:#8b8a8a;">
                    <i class="fa-regular fa-eye"></i>&thinsp;瀏覽人數：<span>１</span>人
                </h6>
                <!-- （原）加入取消收藏位子 -->
                <!-- {% if item.is_favorite == "0" %}
                <button style="color:rgb(195, 7, 7);" name="submitfavorite" id="submitfavorite{{item.id}}"
                    data-isfavorite="{{item.is_favorite}}" onclick="addFavorite({{item.id}})"><i
                        class="fa-regular fa-star"></i>加入收藏</button>
                {% else %}
                <button name="submitfavorite" id="submitfavorite{{item.id}}" data-isfavorite="{{item.is_favorite}}"
                    onclick="addFavorite({{item.id}})">取消收藏</button>
                {% endif %} -->
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

<!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->

<!-- 景點詳細資料隱藏點擊 -->
<div id="id01" class="row modal">
    <div class="col-12">
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
            </div>


            <div class="container">
                <div>
                    <h3 style="color: rgb(172, 78, 1)" id="attractions-detail-name"></h3>
                    <div class="rating" style="margin-bottom: 10px;">
                        <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                        <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                        <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                        <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                        <span class="rating-star">&#9733;</span>
                        <span id="selectedRating"></span> / 5 (6.3萬)
                    </div>
                </div>
                <div class="container1">
                    <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="../static/images/beitou.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 6</div>
                        <img src="../static/images/Datong.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 6</div>
                        <img src="../static/images/Xinyi.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">4 / 6</div>
                        <img src="../static/images/Shilin.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">5 / 6</div>
                        <img src="../static/images/Songshan.jpeg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">6 / 6</div>
                        <img src="../static/images/twotwoeight.jpeg" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>

                    <div class="row">
                        <div class="column">
                            <img class="demo cursor" src="../static/images/beitou.jpeg" style="width:100%"
                                onclick="currentSlide(1)" alt="北投溫泉">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../static/images/Datong.jpeg" style="width:100%"
                                onclick="currentSlide(2)" alt="大稻埕">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../static/images/Xinyi.jpeg" style=" width:100%"
                                onclick="currentSlide(3)" alt="台北101">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../static/images/Shilin.jpeg" style="width:100%"
                                onclick="currentSlide(4)" alt="士林夜市">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../static/images/Songshan.jpeg" style="width:100%"
                                onclick="currentSlide(5)" alt="松山">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../static/images/twotwoeight.jpeg" style="width:100%"
                                onclick="currentSlide(6)" alt="二二八公園">
                        </div>
                    </div>
                </div>
                <!-- <div style="display: flex;justify-content: center;align-items: center;height: auto; height: 100%;">
                    <img src="/static/images/zoo.jpeg" alt="photo" class="Att_img">
                </div> -->

                <div class="Att_detail">
                    <h5 id="attractions-detail-address">
                        地址：116台北市文山區新光路二段30號
                    </h5>
                    <h5 id="attractions-detail-phone">
                        電話：02－2938－2300
                    </h5>
                    <h5>
                        營業時間： <span style="color: red;">已打烊</span> <span style="color: rgb(21, 81, 140);">
                            *開始營業時間：9:00</span>
                    </h5>
                    <h5>
                        建議停留時間：
                    </h5>
                    <h5>旺季月份：</h5>
                    <hr style="border:2px solid #b3b2b2">
                    <div class="question">
                        <h5>
                            問題與解答：
                        </h5>
                        <h6 style="margin-left: 20px; color: #707070;">問：春節有開嗎？</h6>
                        <h6 style="margin-left: 20px; color: #707070;">答：有初一早上9點開，其他時間8點半。</h6>
                        <h6 style="margin-left: 20px; color:#a8a8a8">更多...</h6>
                        <button style="border-radius: 8px;"><i class="fa-solid fa-message"
                                style="margin-right: 5px;"></i>我要發問</button>

                    </div>
                    <hr style="border:2px solid #b3b2b2">
                    <h5>
                        人潮資訊：
                    </h5>
                    <div>
                        <canvas id="chart" width="300" height="150"></canvas>
                    </div>
                    <!-- <div style="display: flex;justify-content: center;align-items: center;height: auto">
                <img src="/static/images/humum.jpg" alt="photo" class="Att_img"></div> -->
                    <hr style="border:2px solid #b3b2b2">
                    <h5>
                        評論摘要：
                    </h5>
                    <div class="row" style="margin-bottom: 20px;">

                        <hr style="border:2px solid #f1f1f1">
                        <div class="col-3">
                            <div class=" row">
                                <!-- <span class="heading">使用者總評論</span> -->
                                <div class="total_score_star">
                                    <p style="font-size:60px;margin-left: 30px;"><strong>4.0</strong></p>
                                </div>
                                <div class="total_star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p style="margin-left: 30px;">63,261 則評論</p>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <!-- <div class="col-1">
                                    <div class="nu_star">5</div>
                                    <div class="nu_star">4</div>
                                    <div class="nu_star">3</div>
                                    <div class="nu_star">2</div>
                                    <div class="nu_star">1</div>
                                </div> -->
                                <div class="col-12">
                                    <div class="star_container">
                                        <div class="nu_star">5</div>
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="star_container">
                                        <div class="nu_star">4</div>
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="star_container">
                                        <div class="nu_star">3</div>
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </div>
                                    <div class="star_container">
                                        <div class="nu_star">2</div>
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </div>
                                    <div class="star_container">
                                        <div class="nu_star">1</div>
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="comment">
                        <div class="avatar">
                            <img src="/static/images/head.png" alt="User Avatar">
                        </div>
                        <div class="comment-content">
                            <h5 class="username">
                                李
                            </h5>
                            <div class="rating">
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                            </div>
                            <p class="comment-text">
                                天氣冷來到動物園，動物們顯得心情不好，跟人類一樣也會冷到不想到，看到最多的是背影跟屁股，也是一種難得的經驗。
                                <br>
                                <span style="color:gray;font-size: 12px; font-style: italic;">Posted on May 28,
                                    2033</span>
                            </p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="avatar">
                            <img src="/static/images/head.png" alt="User Avatar">
                        </div>
                        <div class="comment-content">
                            <h5 class="username">
                                sun
                            </h5>
                            <div class="rating">
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                            </div>
                            <p class="comment-text">
                                帶小孩來看動物很棒！可以玩一整天！廁所很多很方便,用餐座位如果能再多一些就好了!麥當勞大排長龍實在太誇張！希望能增設其他餐廳或便利商店~
                                <br>
                                <span style="color:gray;font-size: 12px; font-style: italic;">Posted on May 28,
                                    2023</span>
                            </p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="avatar">
                            <img src="/static/images/head.png" alt="User Avatar">
                        </div>
                        <div class="comment-content">
                            <h5 class="username">
                                李+0
                            </h5>
                            <div class="rating">
                                <span class="rating-star" style="color: rgb(241, 226, 62);">&#9733;</span>
                                <span class="rating-star" style="color:rgb(241, 226, 62) ;">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                                <span class="rating-star">&#9733;</span>
                            </div>
                            <p class="comment-text">
                                我實在越來越覺得動物園越來越差，維修的東西擴建的項目越來越多，但都沒有東西完成！太誇張了
                                <br>
                                <span style="color:gray;font-size: 12px; font-style: italic;">Posted on May 28,
                                    2023</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Close</button>
                <!-- 總瀏覽人數 -->
                <h6 style="color:#8b8a8a; float: right;">
                    <i class="fa-regular fa-eye"></i>&thinsp;瀏覽人數：<span>１</span>人
                </h6>
            </div>
        </form>
    </div>
</div>

<script src="../static/js/addFavorite.js"></script>
<script src="../static/js/slideshow.js"></script>
<script src="../static/js/attractions.js"></script>
<script>
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    function showInfo(element) {
        var aId = $(element).data('aId');
        $.ajax({
            url: '',
            type: 'GET',
            data: {
                a_id: aId
            },
            success: function (response) {
                var showInfo = document.getElementById("id01");
                showInfo.style.display = "block";
                console.log(aId);

                var attractions = response;

                // 將資料放進網頁中

                var attractionsDetailName = document.getElementById('attractions-detail-name');
                var attractionsDetailAddress = document.getElementById('attractions-detail-address');
                var attractionsDetailPhone = document.getElementById('attractions-detail-phone');
                var attractionsDetailRating = document.getElementById('selectedRating');

                attractionsDetailName.textContent = attractions.a_name;
                attractionsDetailAddress.textContent = "地址：" + attractions.address;
                attractionsDetailPhone.textContent = "電話：" + attractions.phone;
                attractionsDetailRating.textContent = attractions.rating;
            },
            error: function (xhr, status, error) {
                // 请求失败时的处理
                console.log("AJAX请求失败: " + error);
            }
        });
    }
    {% comment %} var showInfo = document.getElementById("id01");
    showInfo.style.display = "block"; {% endcomment %}


    //人潮分佈圖
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["週一", "週二", "週三", "週四", "週五", "週六", "週日"],
            datasets: [{
                label: '人潮分佈狀況',
                data: [12, 19, 3, 5, 18, 3, 20],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)',
                    'rgba(0, 0, 0, 0.8)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    ' rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        }
    });


    // function showRightBox(element) {
    //     var aId = $(element).data('aId');
    //     $.ajax({
    //         url: '',
    //         type: 'GET',
    //         data: {
    //             a_id: aId
    //         },
    //         success: function (response) {
    //             var rightBox = document.getElementById("rightbox");
    //             rightBox.style.display = "block";
    //             console.log(aId);

    //             var attractions = response;

    //             // 將資料放進網頁中

    //             var attractionsDetailName = document.getElementById('attractions-detail-name');
    //             var attractionsDetailAddress = document.getElementById('attractions-detail-address');
    //             var attractionsDetailPhone = document.getElementById('attractions-detail-phone');
    //             var attractionsDetailRating = document.getElementById('selectedRating');

    //             attractionsDetailName.textContent = attractions.a_name;
    //             attractionsDetailAddress.textContent = "地址：" + attractions.address;
    //             attractionsDetailPhone.textContent = "電話：" + attractions.phone;
    //             attractionsDetailRating.textContent = attractions.rating;
    //         },
    //         error: function (xhr, status, error) {
    //             // 请求失败时的处理
    //             console.log("AJAX请求失败: " + error);
    //         }
    //     });
    // }
    // {% comment %} var rightBox = document.getElementById("rightbox");
    // rightBox.style.display = "block"; {% endcomment %}

    // function hideRightBox() {
    //     var rightBox = document.getElementById("rightbox");
    //     rightBox.style.display = "none";
    // }

    // 取得選擇後的景點回傳的值
    {% comment %}
    $.ajax({
        url: '',  // 替换为你的视图函数 URL
        type: 'GET',
        success: function (response) {
            var attractions = response;

            // 將資料放進網頁中

            var attractionsDetailName = document.getElementById('attractions-detail-name');
            attractionsDetailName.textContent = attractions.a_name;
            console.log(attractionsDetailName);
        }
    }); {% endcomment %}

    //搜尋景點的部分
    function autocomplete(inp, arr) {
        var currentFocus; // 紀錄目前焦點所在的索引值
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1; // 輸入框值變動時重置焦點索引為-1
            a = document.createElement("DIV"); // 建立一個新的DIV元素來放置選項
            a.setAttribute("id", this.id + "autocomplete-list"); // 設定DIV元素的id屬性
            a.setAttribute("class", "autocomplete-items"); // 設定DIV元素的class屬性
            this.parentNode.appendChild(a); // 將DIV元素加入輸入框的父元素中

            // 將不在arr陣列中的值顯示在下拉清單
            b = document.createElement("DIV");
            b.textContent = val; // 以輸入的值開頭
            b.innerHTML = `<i class="fas fa-search" style="margin-right:10px;"></i><strong>${val}</strong>`;
            b.addEventListener("click", function (e) {
                inp.value = this.textContent;
                closeAllLists();
            });
            a.appendChild(b);

            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) { // 尋找符合輸入值的項目
                    b = document.createElement("DIV"); // 建立新的DIV元素來放置該項目
                    // 使用模板字串來設定該DIV元素的內容，包括符合的部分加上搜尋圖示和強調文字部分
                    b.innerHTML = `<i class="fas fa-search" style="margin-right:10px;"></i><strong>${arr[i].substr(0, val.length)}</strong>`;
                    b.innerHTML += arr[i].substr(val.length); // 加上剩餘的部分
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; // 加入一個隱藏的input元素，用來存放選擇的值
                    b.addEventListener("click", function (e) { // 點擊項目時的事件處理
                        inp.value = this.getElementsByTagName("input")[0].value; // 設定輸入框的值為選擇的值
                        closeAllLists(); // 關閉所有項目清單
                    });
                    a.appendChild(b); // 將該項目加入清單中
                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) { // 向下箭頭鍵
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) { // 向上箭頭鍵
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) { // Enter鍵
                e.preventDefault();
                if (currentFocus > -1) { // 如果有選擇項目則觸發點擊事件
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) { // 添加選擇時的樣式
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) { // 移除選擇時的樣式
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) { // 關閉所有項目清單
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) { // 排除目前選擇的項目清單和輸入框本身
                    x[i].parentNode.removeChild(x[i]); // 移除該項目清單
                }
            }
        }

        document.addEventListener("click", function (e) { // 點擊頁面其他區域時關閉所有項目清單
            closeAllLists(e.target);
        });
    }
    var attractions = ["1", "aa", "abc", "台北101", "士林官邸", "士林夜市", "北投溫泉", "淡水紅毛城", "淡水老街", "淡水漁人碼頭", "台北動物園", "台北兒童新樂園", "台北車站"];
    autocomplete(document.getElementById("myInput"), attractions);

</script>
{% endblock body %}