<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/bootstrap2023.css">
    <link rel="stylesheet" href="../static/css/all.css">

    {% block content %}{% endblock %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

  <body>
    {% block toolbar %}
    <div class="banner">
      <nav class="navbar navbar-expand-lg toolbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="padding: 0;">
            <img src="../static/images/logo_square1.png" class="logo_square1" id="logo_icon"  alt="">
          </a>
          <form class="d-flex" role="search">
            <input class="form-control me-auto search" type="search" placeholder="想去哪玩.." aria-label="Search">
            <button class="btn btn-outline-success search_icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <button class="navbar-toggler ms-auto rwd_icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/createindex">建立行程</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/attraction_details">詳細景點</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  我的XX
                </a>
                <ul class="dropdown-menu" style="z-index: 999;">
                  <li><a class="dropdown-item" href="/history">我的行程</a></li>
                  <li><a class="dropdown-item" href="/favorite">我的收藏</a></li>
                  <li><a class="dropdown-item" href="/share">我的分享</a></li>
                  <li><a class="dropdown-item" href="#">我的分享XXXXXX</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      <div class="systemname" id="systemname">Trip Fun Chill</div>
    </div>
    {% endblock %}
    {% block body %}
    {% endblock body %}
  </body>
  <script src="../static/js/jquery-3.7.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  {% block content_script %}{% endblock %}
  <script>
    function changebgimg(){
      const logo_icon = document.getElementById('logo_icon');
    
      if (document.documentElement.clientWidth < 488) {//把scroll的寬度也算進去
        logo_icon.src = "../static/images/logo_icon.png"; // 替换成你想要的小屏图片路径
      } else {
        logo_icon.src = "../static/images/logo_square1.png"; // 替换成默认图片路径
      }
    }
    // 首次加载和窗口大小变化时调用更新函数
    window.addEventListener('load', changebgimg);
    window.addEventListener('resize', changebgimg);
    

    //不在index.html的時候隱藏systemname
    window.onload = function() {
      var isIndexPage = window.location.pathname === "/"; // 假设首页的路径是 "/"
      var systemNameElement = document.getElementById("systemname");
      var navbgcolor = document.querySelector(".toolbar");
  
      if(!isIndexPage){
        if(systemNameElement){
          systemNameElement.style.display = "none";
        }  
        if(navbgcolor){
          navbgcolor.classList.add("navchange");
        }
      }
    };
  </script>
 
</html>
