<!DOCTYPE html>
<html lang="en" {% if request.user.page_light %}class="dark-mode-bg"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="../static/css/bootstrap2023.css">
  <link rel="stylesheet" href="../static/css/all.css">
  <link rel="stylesheet" href="/static/css/attractions_info.css">
  <link rel="icon" type="image/x-icon" href="../static/images/logo1.png">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  {% block content %}{% endblock %}

</head>

<body id="rainyMain" style="position: relative;" class="{% if request.user.page_light %}dark-mode{% endif %}">
  {% block toolbar %}
  <div class="banner" id="randomBanner">
    <nav class="navbar navbar-expand-lg toolbar" style="z-index: 1000;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="padding: 0;">
          <img src="../static/images/logo_square1.png" class="logo_square1" id="logo_icon" alt="">
        </a>
        <form autocomplete="off" class="d-flex" role="search" action="{% url 'search_results' %}" method="post"
          autocomplete="off">
          {% csrf_token %}

          <div class="base_search">
            <div class="base_searchInput">
              <input class="form-control me-auto search" id="base_myInput" type="search" placeholder="想去哪玩.."
                aria-label="Search" name="base_search_text">
              <!-- <input type="hidden" name="data_type" value="keyword_search"> -->
              <button class="search_icon" type="submit" id="base_searchClick"><i class="fas fa-search"></i></button>
              <!-- 歷史紀錄 -->
              <div id="base_searchBox">
                <div class="base_enter"></div>
                {% comment %} <div class="base_searchContent">
                  <!-- history（目前放假資料） -->
                  <div class="history_1" id="history_1">
                    <i class="fa-solid fa-clock-rotate-left"></i><strong>123</strong>
                    <div class="close_history" onclick="deleteFunction(this)">
                      <i class="fa-solid fa-xmark" style="color: rgb(171, 5, 5);"></i>
                    </div>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </form>
        <button class="navbar-toggler ms-auto rwd_icon" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == "/" %}active{% endif %}" aria-current="page" href="/">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == "/createindex/" %}active{% endif %}" href="/createindex">建立行程</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == "/attraction_details/" %}active{% endif %}" href="/attraction_details">景點資訊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == "/share/" %}active{% endif %}" href="/share">分享空間</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><img src="{{request.user.user_photo}}" alt="" id="all_user_photo"></a>
              <ul class="dropdown-menu" style="z-index: 999;">
                <li>
                  <a class="dropdown-item" href="/history">我的行程</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/favorite">我的收藏</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/useredit">我的設定</a>
                </li>
                <li>
                  {% if request.user.page_light %}
                    <div class="dropdown-item dark_light " onclick="changeColor()">亮色模式</div>
                  {% else %}
                    <div class="dropdown-item dark_light" onclick="changeColor()">暗色模式</div>
                  {% endif %}
                  
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">登出</a>
                </li>
              </ul>
              {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">登入</a>
            </li>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="systemname" id="systemname">
      <div class="sysnamediv">
        <span class="tfc">Trip Fun Chill
          <br>
        </span>
        <span class="systxt">來一趟chill的旅程吧</span><br>
        <a href="/createindex" class="createbtn">建立行程</a>
      </div>
    </div>
    <a href="#main" class="scroll-down-button  downa" id="downicon">
      <i class="fa-solid fa-chevron-right fa-rotate-90 down"></i>
    </a>
  </div>
  {% endblock %}
  <main>
  {% block body %}
  {% endblock body %}
    <!-- <div class="rellax rellax1" data-rellax-speed="5" style="left: -15px;bottom: 8%;">
        <i class="fa-solid fa-circle circle1" style="font-size: 36px;color: #E3BCB5;"></i>
    </div>
    <div class="rellax rellax2" data-rellax-speed="6" style="left: calc(100vw / 4);bottom: 5%;">
        <i class="fa-solid fa-circle circle2" style="font-size: 60px;color: #EBC1A8;"></i>
    </div>
    <div class="rellax rellax3" data-rellax-speed="1" style="right: calc(100vw / 4);bottom: 0.5%;">
        <i class="fa-solid fa-circle circle3" style="font-size: 60px;color: #E7ADAC;"></i>
    </div>
    <div class="rellax rellax4" data-rellax-speed="3" style="right: -10px;bottom: 1%;">
        <i class="fa-solid fa-circle circle4" style="font-size: 120px;color: rgb(199, 171, 245);"></i>
    </div>
    <div class="rellax rellax5" data-rellax-speed="3" style="right: calc(100vw / 4);top: 20%;">
        <i class="fa-solid fa-circle circle4" style="font-size: 120px;color: #F1E2DB;"></i>
    </div>
    <div class="rellax rellax6" data-rellax-speed="3" style="left: calc(100vw / 3);top: 50%;">
        <i class="fa-solid fa-circle circle4" style="font-size: 120px;color: #CEAEB9"></i>
    </div>

    
    <div class="rellax rellaxStar" data-rellax-speed="5" style="right: calc(100vw / 12);transform: rotate(45deg);display: none;">
      <i class="fas fa-star" style="font-size: 60px;color: #fff;"></i>
    </div>
    <div class="rellax rellaxStar" data-rellax-speed="1" style="right: calc(100vw / 10);;display: none;">
        <i class="far fa-star" style="font-size: 60px;color: #fff;"></i>
    </div>
    <div class="rellax rellaxStar" data-rellax-speed="7" style="left: calc(100vw / 10);bottom: calc(100vh / 4);transform: rotate(60deg);display: none;">
        <i class="fas fa-star" style="font-size: 100px;color: #ffd6d69c;"></i>
    </div> -->
  </main>
</body>
<script src="../static/js/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
{% block content_script %}{% endblock %}
<script>
  
  //不在index.html的時候隱藏systemname
  window.onload = function () {
    var isIndexPage = window.location.pathname === "/"; 
    var systemNameElement = document.getElementById("systemname");
    // var navbgcolor = document.querySelector(".toolbar");
    var downicon = document.getElementById("downicon");

    if (!isIndexPage) {
      if (systemNameElement) {
        systemNameElement.style.display = "none";
        downicon.style.display = "none";
      }
    }
   
  };
  
  var rellax = new Rellax('.rellax', {
    speed: -2,
    center: false,
    wrapper: null,
    round: true,
    vertical: true,
    horizontal: false
  });
  // 暗色模式
  function changeColor() {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const dark_light = document.querySelector('.dark_light');
    const main = document.getElementById('rainyMain');
    const rellaxStar = document.querySelectorAll('.rellaxStar');
    let light;
    main.classList.toggle("dark-mode");
    document.documentElement.classList.toggle("dark-mode-bg");
    if (dark_light.textContent == '亮色模式'){
      dark_light.textContent = '暗色模式';
      light = "0";
    }else{
      dark_light.textContent = '亮色模式';
      light = "1";
    }
    
    rellaxStar.forEach((star) => {
        star.style.display = "block";
    });
     
    $.ajax({
      headers: { 'X-CSRFToken': csrftoken },
      url: '/useredit/change_light/',
      type: 'POST',
      data: {
          'light': light
      },
      success: function (response) {
          console.log(response);
      }
   });

  }


  // // 下雨效果(根據使用時當日天氣判斷)
  // function createRainEffect() {
  //   const rainyMain = document.getElementById('rainyMain');

  //   for (let i = 0; i < 150; i++) { // 改變這個數字以增加或減少雨滴數量
  //       const rainDrop = document.createElement('div');
  //       rainDrop.classList.add('rain-drop');
  //       rainDrop.style.left = `${Math.random() * 100}vw`; // 隨機X座標
  //       rainDrop.style.animationDuration = `${1 + Math.random() * 2}s`; // 隨機下落速度
  //       rainDrop.style.animationDelay = `${Math.random()}s`; // 隨機延遲時間
  //       rainyMain.appendChild(rainDrop);
  //   }
  // }

  // // 啟動下雨效果
  // rain = JSON.parse('{{ get_now_weather_json|safe }}');
  // const currentPagePath = window.location.pathname;

  // if (rain['get_now_weather_json'] === 'rain' && currentPagePath !== '/createindex.html') {
  //     createRainEffect();
  // }

  // 解決繼承toolbar重整不會顯示對應的active
  {% comment %} document.addEventListener("DOMContentLoaded", function() {
    const navLinks = navbarSupportedContent.querySelectorAll('.nav-link');

    navLinks.forEach((link, index) => {
      link.addEventListener('click', function() {
        localStorage.setItem('activeLink', index); // 儲存被點擊連結索引直

        navLinks.forEach(link => {
          link.classList.remove('active');
        });

        this.classList.add('active');
      });
    });

    // 檢查連結索引直
    const activeIndex = localStorage.getItem('activeLink');

    if (activeIndex !== null) {
      navLinks.forEach(link => {
        link.classList.remove('active');
      });

      navLinks[activeIndex].classList.add('active');
    }
  }); {% endcomment %}


  // popup info
  function clickInfo(aId) {
    event.stopPropagation(); // 防止父元素執行
    var modal = document.getElementById('myModal');
    modal.classList.add('modal_active');
    document.body.classList.add('body_noScroll');
    console.log(1)
    const attractions_detail_div = $('#changeInfo');
    if (aId) {
      attractions_detail_div.html('');  // 清空景點資訊
      // 發起 AJAX 請求
      $.ajax({
          url: '/clickInfo/',  // 伺服器端的 URL
          type: 'GET',  // 請求類型為 GET
          data: {
              a_id: aId  // 傳遞給伺服器的參數，以 a_id 為名
          },
          success: function (response) {
              // 當請求成功時執行的處理程式
              
              attractions_detail_div.html(response['attractions_detail_html']);
              // 取得模態框元素
              // var showInfo = document.getElementById("id01");
              // // 將模態框的顯示樣式設定為 "block"，顯示模態框
              // showInfo.style.display = "block";

          },
          error: function (xhr, status, error) {
              // 請求失敗時的處理
              console.log("AJAX請求失敗: " + error);
          }
      });
  }
  }
  function clickClose() {
    var modal = document.getElementById('myModal');
    modal.classList.remove('modal_active');
    document.body.classList.remove('body_noScroll');
  }
  // random bgimg
  function changebgimg() {
    const logo_icon = document.getElementById('logo_icon');

    if (document.documentElement.clientWidth < 488) {//把scroll的寬度也算進去
      logo_icon.src = "../static/images/logo_icon.png"; // 替换成你想要的小屏图片路径
    } else {
      logo_icon.src = "../static/images/logo_square1.png"; // 替换成默认图片路径
    }
  }
  // 首次加载和窗口大小变化时调用更新函数
  window.addEventListener('load', changebgimg);
  window.addEventListener('resize', changebgimg);


  //搜尋景點的部分
  function autocomplete(inp, arr) {
    var currentFocus; // 紀錄目前焦點所在的索引值
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false; }
      currentFocus = -1; // 輸入框值變動時重置焦點索引為-1
      a = document.createElement("DIV"); // 建立一個新的DIV元素來放置選項
      a.setAttribute("id", this.id + "autocomplete-list"); // 設定DIV元素的id屬性
      a.setAttribute("class", "base_searchContent"); // 設定DIV元素的class屬性
      this.parentNode.appendChild(a); // 將DIV元素加入輸入框的父元素中

      // 字跟著打在下面框框的部分
      const base_searchClick = document.getElementById("base_searchClick");
      b = document.createElement("DIV");
      b.textContent = val; // 輸入的值開頭
      b.innerHTML = `<i class="fas fa-search" style="padding: 10px;"></i><strong>${val}</strong>&emsp;<span style="color:#a1a1a1">-Trip搜尋</span>`;
      b.addEventListener("click", function (e) {
        closeAllLists();
        base_searchClick.click(); // 提交
      });
      a.appendChild(b);

      //隨著元素尋找陣列裡輸入符合的元素
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV"); // 建立新的DIV元素來放置該項目
          b.innerHTML = `<i class="fas fa-search" style="padding: 10px;cursor: default;"></i><strong>${arr[i].substr(0, val.length)}${arr[i].substr(val.length)}</strong>`;
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; // 加入一個隱藏的input元素，用來存放選擇的值
          b.addEventListener("click", function (e) {
            inp.value = this.getElementsByTagName("input")[0].value; // 設定輸入框的值為選擇的值
            closeAllLists(); // 關閉所有項目清單
            base_searchClick.click(); // 提交
          });
          a.appendChild(b); // 將該項目加入清單中

        }
      }
    });



    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) { // 向下箭頭鍵
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { // 向上箭頭鍵
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) { // Enter鍵
        e.preventDefault();
        if (currentFocus > -1) { // 如果有選擇項目則觸發點擊事件
          if (x) x[currentFocus].click();
        }
      }
      if (e.key === 'Enter') {//用enter傳送
        e.preventDefault(); // 阻止 Enter本來換行行為
        base_searchClick.click(); // 提交
      }
    });

    function addActive(x) { // 添加選擇時的樣式
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) { // 移除選擇時的樣式
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }

    function closeAllLists(elmnt) { // 關閉所有項目清單
      var x = document.getElementsByClassName("base_searchContent");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) { // 排除目前選擇的項目清單和輸入框本身
          x[i].parentNode.removeChild(x[i]); // 移除該項目清單
        }
      }
    }

    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  //歷史紀錄（點一下input跳出來）
  const base_searchInput = document.getElementById("base_myInput");
  const base_searchBox = document.getElementById("base_searchBox");
  const base_enter = document.getElementById("base_enter");

  //點不是input裡的元素就關起來
  document.addEventListener("click", function (event) {
    if (!base_searchBox.contains(event.target)) {
      base_searchBox.style.display = "none";
    }
  });

  // 如果input裡有東西的話就關起來，沒有就打開歷史紀錄畫面
  base_searchInput.addEventListener("input", function () {
    const inputValue = base_myInput.value;
    if (inputValue.trim() !== "") {
      base_searchBox.style.display = "none";
    } else {
      base_searchBox.style.display = "block";
    }
  });

  // 點一下input內框跳出來歷史紀錄畫面
  base_searchInput.addEventListener("click", function (event) {
    event.stopPropagation();// 防止觸發 document 上的點擊事件
    base_searchBox.style.display = "block";
  });

  //delete歷史紀錄
  function deleteFunction(element) {
    var historyElement = element.closest('.history_1');
    if (historyElement) {
      historyElement.remove(); //連同父元素删除
    }
  }
  // 放入景點名稱
  attractions = JSON.parse('{{ attractions_search_json|safe }}');
  autocomplete(base_searchInput, attractions);

</script>

</html>