{% extends 'base.html' %}
{% block title %}建立行程{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/create.css">

<script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&libraries=places"></script>


{% endblock %}
{% block body %}
<main style="z-index: 1;">
  <div class="container tab_div">
    <div class="tabtitle">
      <ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="create-nav-link tab_a active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
            type="button" role="tab" aria-controls="home" aria-selected="true"
            onclick="saveTabState('home')">建立行程</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="create-nav-link tab_a" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
            type="button" role="tab" aria-controls="contact" aria-selected="false"
            onclick="saveTabState('contact')">我的收藏</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="create-nav-link tab_a" id="recommend-tab" data-bs-toggle="tab" data-bs-target="#recommend"
            type="button" role="tab" aria-controls="recommend" aria-selected="false"
            onclick="saveTabState('recommend')">推薦景點</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- 建立行程 -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="pageedit">
        <form action="" class="createdataform">
          <div class="row createdata" style="width: 80%;">
            <div class="col-md-6 tabc_txt">
              行程名稱：{{ name }}
            </div>
            <div class="col-md-6 tabc_txt">
              出發日期：{{ start_day }}
            </div>
          </div>
        </form>
        <div class="save_div">
          <span class="create_day_save" id="saveDays">儲存</span>
        </div>
      </div>
      <div style="display: flex;justify-content: center;align-items: center;align-content: center;">
        <div class="childtabdiv" style="width: 90%;">
          <ul class="nav nav-underline flex justify-content-center my-nav-tabs" id="myTab" role="tablist">
            {% for day in travelday %}
              <li class="nav-item" role="presentation">
                <a class="create-child-nav-link createday{% if forloop.counter == 1 %} active{% endif %}" aria-current="page" id="child{{day}}-tab" data-bs-toggle="tab"
                  data-bs-target="#child{{day}}" type="button" role="tab" aria-controls="child{{day}}" aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
                  第{{day}}天
                </a>
              </li>
            {% endfor %}
            {% comment %} 
            <li class="nav-item" role="presentation">
              <a class="create-child-nav-link createday" id="child2-tab" data-bs-toggle="tab" data-bs-target="#child2"
                type="button" role="tab" aria-controls="child2" aria-selected="false" onclick="saveTabState('child2')">
                第二天
              </a>
            </li>
            {% endcomment %}
          </ul>
          {% for days in travelday %}
            <div class="tab-child{{ days }}" id="myTabchild{{ days }}"
              style="margin: 10px auto;display: flex;align-items: center;align-content: center;">
              <div class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}" id="child{{days}}" role="tabpanel" aria-labelledby="child{{days}}-tab"
                style="width: 90%;background-color: #eee;padding: 10px;margin: 0 auto;">
                <form action="#tab_c" style="color: black;">
                  <div>
                    <div class="tabD">
                      <span id="tabDT">請輸入出發時間：</span>
                      <input type="time" name="nowtime" id="nowtime" {% if user_nowtime %}value="{{user_nowtime}}"{% else %}value="09:00"{% endif %}>
                    </div>
                    <div class="tabD">
                      <span id="tabDL">使用者位置：</span>
                      {% comment %} <input type="text" placeholder="請輸入位置" class="input_txt" id="userLocation" value="{{local_address}}"> {% endcomment %}
                      <input type="text" placeholder="請輸入位置" class="input_txt" id="userLocation">
                      <button type="button" id="nowLocationButton">取得目前位置</button>
                      <button type="button" id="mapButton">選擇位置</button>
                      <button type="button" id="okButton">確認</button>
                      <input type="hidden" placeholder="day" class="nowday" id="nowday">
                    </div>
                  </div>
                </form>

                <!-- 添加地图容器 -->
                <input
                id="pac-input"
                class="controls"
                type="text"
                placeholder="Search Box"
              />
                <div id="map" style="width: 100%; height: 400px; display: none;"></div>
                {% comment %} ct_attractions_co_list
                ct_attractions_detail_list {% endcomment %}
                <div id="OrderAttractions" style="color: black;">
{% comment %} 
                  <div class="list" style="cursor: pointer;">
                    <div class="innerlist" draggable="true">
                        <p style="font-size: 22px;font-weight: bold;">景點名稱：</p>
                        <p style="font-size: 18px;margin-bottom: 10px;">地址：</p>
                        <p style="font-size: 18px;margin-bottom: 10px;">營業時間：</p>
                        <p style="font-size: 18px;margin-bottom: 10px;">當下可能的人潮流量：</p>
                        <p style="font-size: 18px;margin-bottom: 10px;">建議停留時間：</p>
                    </div>
                  </div>
                   {% endcomment %}

                  
                  <div class="list" style="cursor: pointer;">

                    {% for data in all_ct_data %}
                    <div class="spot innerlist" draggable="true" id="spot{{data.attraction.order}}" style="color: black;margin-bottom:10px" >
                      {{data.detail.a_name}}
                      <p id="hiddenId" style="display: none;">景點名稱：{{data.detail.id}}</p>
                      <p>地址：{{data.detail.address}} <br>
                      <p>當下可能的人潮流量：{{data.crowd_list}}%<br>
                      <p>營業時間： {% for time in data.co.opening %} {% if forloop.counter != 1 %},{% endif %} {{time}} {% endfor %}<br>
                      <p>建議停留時間： {% if data.detail.stay_time == 0 %}150{% else %}{{data.detail.stay_time}}{% endif %} 分鐘<br>
                    </div>
                    {% endfor %}
                  </div>
                    
                  
                </div>
                <div id="RemainderAttractions"></div>
              </div>
            </div>
          {% endfor %}

          {% comment %} 
          <div class="tab-pane fade" id="child2" role="tabpanel" aria-labelledby="child2-tab"
            style="width: 90%;background-color: #333;padding: 10px;margin: 0 auto;">
            <!-- 測試測試測試測試測試測試測試測試 -->
            <form action="#tab_c" style="color: black;">
              <div>
                <div class="tabD">
                  <span id="tabDT">請輸入出發時間：</span>
                  <input type="time" name="nowtime" id="nowtime" value="09:00">
                </div>
                <div class="tabD">
                  <span id="tabDL">使用者位置：</span>
                  <input type="text" placeholder="請輸入位置" class="input_txt" id="userLocation">
                  <input type="hidden" placeholder="day" class="nowday" id="nowday">
                </div>
              </div>
            </form>
            <div id="OrderAttractions">
              {% for attractions in ct_attractions_list %}

              {% endfor %}
              <!-- <span class="create_txt" >第</span>
                <button style="border: none;">+</button> -->
              <!--我在JS~~~~~~~~~~~
                <div class="spot" id="spot1">
                  國父紀念館
                  <p>位在台北市XX區</p>
                  <p>
                    目前人潮流量：適中
                    <br>
                    營業時間：09:00-18:00
                    <br>
                    建議停留時間：1小時
                  </p>
                </div>
              -->
            </div>
            <div id="RemainderAttractions"></div>
          </div>
          <div class="tab-pane fade" id="child3" role="tabpanel" aria-labelledby="child3-tab"
            style="width: 90%;background-color: #ccc;padding: 10px;margin: 0 auto;">
            <!-- 測試測試測試測試測試測試測試測試 -->
            <form action="#tab_c" style="color: black;">
              <div>
                <div class="tabD">
                  <span id="tabDT">請輸入出發時間：</span>
                  <input type="time" name="nowtime" id="nowtime" value="09:00">
                </div>
                <div class="tabD">
                  <span id="tabDL">使用者位置：</span>
                  <input type="text" placeholder="請輸入位置" class="input_txt" id="userLocation">
                  <input type="hidden" placeholder="day" class="nowday" id="nowday">
                </div>
              </div>
            </form>
            <div id="OrderAttractions">
              {% for attractions in ct_attractions_list %}

              {% endfor %}
            </div>
            <div id="RemainderAttractions"></div>
          </div> 
          {% endcomment %}
        </div>
      </div>
    </div>

    <!-- 我的收藏 -->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" style="width: 90%;margin: 0 auto;">
      <div class="row favoritedata">

        <div class="col-lg-4 col-md-6">
          <div style="text-align: center;">
            <div class="heart_icon_box">
              <img src="/static/images/pingxi.jpg" class="img-responsive" width="100%">
              <i class="fa-solid fa-heart heart_icon"></i>
            </div>
            <div class="spot_like_txt">
              <h3 class="spot_title">平溪老街</h3>
              <p>123456</p>
              <div class="group">
                <i class="fa-solid fa-plus add_icon"></i>
                <div class="dropdown_menu">
                  <div>
                    <a class="dropdown_item" href="#tab_c">新增行程</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">捷運一日遊</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">開車一日遊</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div style="text-align: center;">
            <div class="heart_icon_box">
              <img src="/static/images/pingxi.jpg" class="img-responsive" width="100%">
              <i class="fa-solid fa-heart heart_icon"></i>
            </div>
            <div class="spot_like_txt">
              <h3 class="spot_title">平溪老街</h3>
              <p>123456</p>
              <div class="group">
                <i class="fa-solid fa-plus add_icon"></i>
                <div class="dropdown_menu">
                  <div>
                    <a class="dropdown_item" href="#tab_c">新增行程</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">捷運一日遊</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">開車一日遊</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div style="text-align: center;">
            <div class="heart_icon_box">
              <img src="/static/images/pingxi.jpg" class="img-responsive" width="100%">
              <i class="fa-solid fa-heart heart_icon"></i>
            </div>
            <div class="spot_like_txt">
              <h3 class="spot_title">平溪老街</h3>
              <p>123456</p>
              <div class="group">
                <i class="fa-solid fa-plus add_icon"></i>
                <div class="dropdown_menu">
                  <div>
                    <a class="dropdown_item" href="#tab_c">新增行程</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">捷運一日遊</a>
                  </div>
                  <div>
                    <a class="dropdown_item" href="#">開車一日遊</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- 推薦景點 -->
    <div class="tab-pane fade" id="recommend" role="tabpanel" aria-labelledby="recommend-tab"
      style="margin: 0 auto;width: 90%;position: relative;">
      <!-- <div style="display: flex; justify-content: center; margin:5px auto;">
        <form class="d-flex" role="search" style="width:80%">
          <input class="form-control me-2" type="search" placeholder="查詢景點" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div> -->
      <form action="" style="color: black;display: flex;align-items: center;align-content: center;justify-content: center;" class="form_rec">
        <!-- <span style="font-size: 18px;">選擇推薦第幾天</span>
        <select name="s_day" id="s_day" style="font-size: 18px;">
          <option value="1">
            第一天
          </option>
          <option value="2">
            第二天
          </option>
        </select> -->
      </form>
      <div class="filter row">
        <form action="">
          <!-- <div class="filiter" style="padding: 12px;">
            <div class="filiter_tagtxt" onclick="openfiliter()">
              <span class="filiter_txt"><i class="fa-solid fa-filter"></i>篩選標籤</span>
            </div>
            <div class="show_filiter">
              <div id="checkbox">
                <label>
                  <input type="checkbox" name="variety" value="公園 親子" />
                  <span class="round button">公園</span>
                </label>
                <label><input type="checkbox" name="variety" value="遊樂園 親子 旅遊" />
                  <span class="round button">遊樂園</span>
                </label>
                <label><input type="checkbox" name="variety" value="博物館" />
                  <span class="round button">博物館</span>
                </label>
                <label><input type="checkbox" name="variety" value="水族館" />
                  <span class="round button">水族館</span>
                </label>
                <label><input type="checkbox" name="variety" value="夜市" />
                  <span class="round button">夜市</span>
                </label>
              </div>
            </div>
          </div> -->

          <div id="checkbox">
            <div class="row" style="padding: 12px;" id="AttractionsContainer">
              {% comment %} 
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <label type="checkbox" name="variety" value="地標 逛街" class="imgcheck" style="margin: 0;padding: 0;border: 0;"
                    onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../static/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </label>
                </div>
                <div class="spottxtdiv">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span><br>
                    <span>評價：</span><br>
                    <span>營業時間：</span>
                  </div>
                </div>
              </div> 
              {% endcomment %}
            </div>
            <div class="row" style="padding: 12px;" id="AttractionsContainer_o">
              {% comment %} 
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <label type="checkbox" name="variety" value="地標 逛街" class="imgcheck" style="margin: 0;padding: 0;border: 0;"
                    onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../static/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </label>
                </div>
                <div class="spottxtdiv">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span class="spottxt spottxtaddress">地址：</span><br>
                    <span class="spottxt spottxtstar">評價：</span><br>
                    <span class="spottxt spottxttime">營業時間：</span>
                  </div>
                </div>
              </div> 
              {% endcomment %}
            </div>
          </div>
          
          <div class="shingyi col-md-6" name="AttractionsContainer" id="AttractionsContainer" style="display:block ;">
            <!--我在JS QQ-->
          </div>

          <div class="shingyi col-md-6" name="AttractionsContainer" id="AttractionsContainer_o"  style="display:none ;">
            <!--我在JS QQ-->
          </div>
          <a href="#recommend-tab" class="tab_a submit1" id="clickLikeAttractions" style="position: fixed;bottom: 0;right: 0;display: block;">
            <button class="recommend_submit1" value="下一步">下一步</button>
          </a>
          <a href="#home-tab" class="tab_a submit1" id="clickLikeAttractions_o" style="position: fixed;bottom: 0;right: 0;display: none;">
            <button class="recommend_submit1" value="送出">送出</button>
          </a>
        </form>
        {% comment %}
        <div class="beitou col-md-6">
          <div class="col-5">
            <img src="/static/images/beitou.jpeg" alt="" height="250">
          </div>
          <div class="col-7">
            <div style="text-align: left;">
              <p>景點名稱</p>
              <p>地址</p>
            </div>
          </div>
        </div>
        <div class="datong col-md-6">
          <div class="col-5">
            <img src="/static/images/Datong.jpeg" alt="" height="250">
          </div>
          <div class="col-7">
            <div style="text-align: left;">
              <p>景點名稱</p>
              <p>地址</p>
            </div>
          </div>
        </div>
        <div class="shilin"><img src="/static/images/Shilin.jpeg" alt="" height="250"></div>
        <div class="zhongshan"><img src="/static/images/Zhongshan.jpeg" alt="" height="250"></div> {% endcomment %}
      </div>
      
      {% comment %} 
      <div class="row">
        <a href="#tab_c" class="tab_a submit2" id="clickLikeAttractions_o">
          <button value="提交">提交1</button>
        </a>
      </div>
    </div> 
    {% endcomment %}
  </div>
</main>
{% endblock body %}
{% block content_script %}
<script src="../static/js/testGPS.js"></script>
<script src="/static/js/create.js"></script>
<script>
  /*window.addEventListener = function () {
    geoFindMe();
  };*/
  var nowLocationButton = document.getElementById('nowLocationButton');
  nowLocationButton.addEventListener('click', function() {
    const userLocation = document.getElementById("userLocation");
    function success(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      //if(userLocation.value==''){}
      userLocation.value = latitude + ',' + longitude;
      console.log(userLocation.value);
    }

    function error() {
      userLocation.textContent = "Unable to retrieve your location";
    }

    if (!navigator.geolocation) {
      userLocation.textContent = "Geolocation is not supported by your browser";
    } else {
      userLocation.textContent = "Locating…";
      navigator.geolocation.getCurrentPosition(success, error);
    }
  });

  

  var nowday = 1
  var nowDayValues = document.getElementById('nowday');
  nowDayValues.value = nowday;
  function clickDay(day) {
    nowday = day
    nowDayValues.value = nowday;
  }

  //第1步驟 推薦附近景點~~~~
  var clickRecommend = document.getElementById('recommend-tab');
  clickRecommend.addEventListener("click", function (e) {
    var nowtime = document.getElementById("nowtime");
    //var ct_status = 0;
    const userLocation = document.getElementById("userLocation");
    $.ajax({
      type: "POST",
      url: "/create/{{ct_id}}", // 替换为您的 views.py 文件的 URL
      data: {
        location: userLocation.value,
        nowtime: nowtime.value,
        ct_status: 0,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (response) {
        // 在這裡處理伺服器回傳的 JSON 數據
        console.log(response);  // 查看回傳的值

        // 進一步處理回傳的值，例如顯示在頁面上
        var m_list = response.m_list;  // 假設 m_list 是 JSON 中的一個鍵
        var crow_opening_list = response.crow_opening_list;  // 假設 crow_opening_list 是 JSON 中的一個鍵
        console.log(crow_opening_list);

        //第一步驟的div與按鈕(第一次推薦景點)
        var mListContainer = document.getElementById("AttractionsContainer")
        var clickLikeAttractions = document.getElementById('clickLikeAttractions');
        //第二步驟的div與按鈕(推薦相似景點)
        var mListContainer_o = document.getElementById("AttractionsContainer_o")
        var clickLikeAttractions_o = document.getElementById('clickLikeAttractions_o');
        // 將畫面1打開
        mListContainer.style.display = '';
        clickLikeAttractions.style.display='';
        // 將畫面2隱藏
        mListContainer_o.style.display = 'none';
        clickLikeAttractions_o.style.display = 'none';
        
        mListContainer.innerHTML='';
        for (var i = 0; i < m_list.length; i++) {
          mListContainer.innerHTML+=`<div class="col-md-4 col-sm-6" style="margin-bottom: 5px;" value="${m_list[i].place_id}">
            <div class="checkimg_div">
              <label type="checkbox" name="variety" value="地標 逛街" class="imgcheck" style="margin: 0;padding: 0;border: 0;"
                onclick="pickspot(this)">
                <span class="checkspot" style="display: block;cursor: pointer;">
                  <img src="/static/images/attractions/${m_list[i].place_id+'_0'}.jpg" class="img-responsive" width="100%" alt="">
                </span>
              </label>
            </div>
            <div class="spottxtdiv">
              <div class="checkspottxt">
                <p style="text-align: center;padding: 5px;margin-bottom: 5px;">${m_list[i].a_name}</p>
                <span class="spottxt spottxtaddress">地址：${m_list[i].address}</span><br>
                <span class="spottxt spottxtstar">評價：${m_list[i].rating}</span><br>
                <span class="spottxt spottxttime">營業時間：${crow_opening_list[i].opening}</span>
              </div>
            </div>
          </div>`

          {% comment %} mListContainer.innerHTML += '<input type="checkbox" value="' + item.place_id + '">';
          mListContainer.innerHTML += '<div class="col-5"><img src="/static/images/attractions/' + item.place_id + '_0.jpg" alt=""  height="250"></div>';
          mListContainer.innerHTML += '<div class="col-7"><div style="text-align: left;">';
          mListContainer.innerHTML += "<p>" + item.a_name + "<p>";
          mListContainer.innerHTML += "<p>" + item.address + "<p></div></div>"; {% endcomment %}

        }

      },
      error: function () {
      }
    });
  });

  var all_select = [];
  //第2步驟 推薦相似景點~~~
  var clickLikeAttractions = document.getElementById('clickLikeAttractions');
  clickLikeAttractions.addEventListener("click", function (e) {
    var select_aid = document.getElementById('AttractionsContainer');
    //var selectedCheckboxes = select_aid.querySelectorAll('input[type="checkbox"]:checked');
    var selectedCheckboxes = select_aid.getElementsByClassName('pickimg');
    console.log(selectedCheckboxes);
    
    var select_aid_list = [];
    var nowtime = document.getElementById("nowtime");
    Array.from(selectedCheckboxes).forEach(function (checkbox) {
      console.log(checkbox);
      select_aid_list.push(checkbox.getAttribute('value'));
      all_select.push(checkbox.getAttribute('value'))
    });
    console.log('选中的复选框值:', select_aid_list);
    console.log('目前所選的所有值', all_select)

    $.ajax({
      type: "POST",
      url: "/create/{{ct_id}}", // 替换为您的 views.py 文件的 URL
      data: {
        select_aid_list: select_aid_list,
        nowtime: nowtime.value,
        ct_status: 1,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (response) {
        // 在這裡處理伺服器回傳的 JSON 數據
        console.log(response);  // 查看回傳的值
        //alert("正確");
        // 進一步處理回傳的值，例如顯示在頁面上
        var o_list = response.o_list;  // 假設 m_list 是 JSON 中的一個鍵
        var o_crow_opening_list = response.o_crow_opening_list;  // 假設 crow_opening_list 是 JSON 中的一個鍵
        var mListContainer_o = document.getElementById("AttractionsContainer_o")
        var clickLikeAttractions_o = document.getElementById('clickLikeAttractions_o');
        // 將畫面1隱藏
        select_aid.style.display = 'none';
        clickLikeAttractions.style.display='none';
        
        mListContainer_o.style.display = '';
        clickLikeAttractions_o.style.display = '';
        /* 修改提交為送出的ID與文字
        
        if (linkButton) {
          // 修改id属性
          linkButton.setAttribute('id', 'clickLikeAttractions_o');
          
          // 获取按钮元素
          var buttonElement = linkButton.querySelector('button');
          
          // 修改按钮的value和内容
          buttonElement.value = '送出';
          buttonElement.textContent = '送出';
        }*/
        mListContainer_o.innerHTML=''
        for (var i = 0; i < o_list.length; i++)  {
          mListContainer_o.innerHTML+=`<div class="col-md-4 col-sm-6" style="margin-bottom: 5px;" value="${o_list[i].place_id}">
            <div class="checkimg_div">
              <label type="checkbox" name="variety" value="地標 逛街" class="imgcheck" style="margin: 0;padding: 0;border: 0;"
                onclick="pickspot(this)">
                <span class="checkspot" style="display: block;cursor: pointer;">
                  <img src="/static/images/attractions/${o_list[i].place_id+'_0'}.jpg" class="img-responsive" width="100%" alt="">
                </span>
              </label>
            </div>
            <div class="spottxtdiv">
              <div class="checkspottxt">
                <p style="text-align: center;padding: 5px;margin-bottom: 5px;">${o_list[i].a_name}</p>
                <span class="spottxt spottxtaddress">地址：${o_list[i].address}</span><br>
                <span class="spottxt spottxtstar">評價：${o_list[i].rating}</span><br>
                <span class="spottxt spottxttime">營業時間：${o_crow_opening_list[i].opening}</span>
              </div>
            </div>
          </div>`



          //mListContainer.innerHTML += '<input type="checkbox" value="' + item.place_id + '">';
          //mListContainer.innerHTML += '<div class="col-5"><img src="/static/images/attractions/' + item.place_id + '_0.jpg" alt=""  height="250"></div>'
          //mListContainer.innerHTML += '<div class="col-7"><div style="text-align: left;">'
          //mListContainer.innerHTML += "<p>" + item.place_id + "<p>";
          //mListContainer.innerHTML += "<p>" + item.a_name + "<p>";
          //mListContainer.innerHTML += "<p>" + item.address + "<p></div></div>";
            
        }

      },

      error: function () {
        alert('有錯誤!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
      },
    });
    event.preventDefault();
  });

  //我是第3步驟   排序~~~
  var clickLikeAttractions_o = document.getElementById('clickLikeAttractions_o');
  clickLikeAttractions_o.addEventListener("click", function (e) {
    var o_select_aid = document.getElementById('AttractionsContainer_o');
    //var o_selectedCheckboxes = o_select_aid.querySelectorAll('input[type="checkbox"]:checked');
    var o_selectedCheckboxes = o_select_aid.getElementsByClassName('pickimg');
    var o_select_aid_list = [];
    var nowtime = document.getElementById("nowtime");
    Array.from(o_selectedCheckboxes).forEach(function (checkbox) {
      o_select_aid_list.push(checkbox.getAttribute('value'));
      all_select.push(checkbox.getAttribute('value'))
      
    });
    console.log('选中的复选框值(相似):', o_select_aid_list);
    console.log('目前所選的所有值', all_select)

    $.ajax({
      type: "POST",
      url: "/create/{{ct_id}}", // 替换为您的 views.py 文件的 URL
      data: {
        all_select: all_select,
        nowtime: nowtime.value,
        ct_status: 2,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (response) {
        
        // 在這裡處理伺服器回傳的 JSON 數據
        console.log(response);  // 查看回傳的值

        //切回建立行程
        document.getElementById('home-tab').classList.add('active');
        document.getElementById('home').classList.add('show', 'active');
        document.getElementById('recommend-tab').classList.remove('active');
        document.getElementById('recommend').classList.remove('show', 'active');
        // 進一步處理回傳的值，例如顯示在頁面上
        var final_result_list = response.final_result_list;  // 假設 m_list 是 JSON 中的一個鍵
        var final_crow_opening_list = response.final_crow_opening_list;  // 假設 crow_opening_list 是 JSON 中的一個鍵
        var final_remainder_result_list = response.final_remainder_result_list;  // 假設 m_list 是 JSON 中的一個鍵
        var final_remainder_crow_opening_list = response.final_remainder_crow_opening_list;  // 假設 crow_opening_list 是 JSON 中的一個鍵
        var final_now_time_list = response.final_now_time_list;  // 假設 crow_opening_list 是 JSON 中的一個鍵
        //安排完的景點
        var OrderAttractions = document.getElementById("OrderAttractions")
        var count = 0
        var length_f = final_result_list.length;
        var all_a = []
        OrderAttractions.innerHTML='';
        for (let i = 0; i < length_f; i++) {
          var stay_time = final_result_list[i].stay_time;
          if (stay_time == 0){
            stay_time = 150;
          }
          final_result = final_result_list[i];
          final_crow_opening = final_crow_opening_list[i];
          console.log('final_result', final_result);
          console.log('final_crow_opening', final_crow_opening);
          console.log(final_now_time_list)

          final_now_time_list[i] = final_now_time_list[i] % 1440;

          count++;
          all_a.push(final_result.id)
          var temp = '<div class="spot innerlist" id="spot' + count + '">';
          temp += '<p style="font-size: 22px;font-weight: bold;">'+final_result.a_name;
          temp += '<p>'+final_result.address;
          temp += '<p>當下可能的人潮流量：'+final_crow_opening.crowd[parseInt(final_now_time_list[i]/60,10)]+'%<br>';  //抓取當下時間點的人潮
          temp += '<p>營業時間：' + final_crow_opening.opening + '<br>';
          temp += '<p>建議停留時間：' + stay_time + '分鐘<br>';
          temp += '</div>';

          OrderAttractions.innerHTML += temp;
        }
        OrderAttractions.innerHTML += '<div id="hiddenId" style="display: none;">' + all_a + '</div>';
        //剩餘的部分(註解掉的)
        var RemainderAttractions = document.getElementById("RemainderAttractions")
        var count_remainder = 0
        var length_fr = final_remainder_result_list.length;

        if (length_fr != 0) {
          RemainderAttractions.innerHTML = '<div class="hr_container"><hr></div>';
          for (let r = 0; r < length_fr; r++) {
            final_remainder_result = final_remainder_result_list[r];
            final_remainder_crow_opening = final_remainder_crow_opening_list[r];
            console.log('final_remainder_result', final_remainder_result);
            console.log('final_remainder_crow_opening', final_remainder_crow_opening);
            count++;
            var temp_r = '<div style="color: black" class="spot" id="spot' + count + '" style="margin-bottom:10px">';
            temp_r += final_remainder_result.a_name;
            temp_r += '<div id="hiddenId" style="display: none;">' + final_remainder_result.id + '</div>';;
            temp_r += '<p>'+final_remainder_result.address+'<br>';
            temp_r += '<p>當下可能的人潮流量：'+final_remainder_crow_opening.crowd[parseInt(final_now_time_list[i]/60,10)]+'%<br>';
            temp_r += '<p>營業時間：' + final_remainder_crow_opening.opening + '<br>';
            temp_r += '<p>建議停留時間：' + final_remainder_result.stay_time + '<br>';
            temp_r += '</div>';

            RemainderAttractions.innerHTML += temp_r;
          }
        }

      },

      error: function () {
        alert('有錯誤!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
      },
    });
    event.preventDefault();
  });


  {% comment %} var addDay = document.getElementById('addDay');
  var num = 1;
  addDay.addEventListener("click", function (e) {
    var addDaydiv = document.getElementById("addDaydiv");
    addDaydiv.innerHTML += '<a href="/create/{{ct_id}}/' + num + '" class="tab_day" >' + num + ' Day<br></a>'
    num++;
  });

  addDay.click() //初始加 {% endcomment %}

  var saveDays = document.getElementById('saveDays');
  saveDays.addEventListener("click", function (e) {
    alert('儲存' + '{{choiceday}}');
    var nowtime = document.getElementById("nowtime");
    var userLocation = document.getElementById("userLocation");
    var all_id = document.getElementById("hiddenId");
    if (all_id) {
      all_id = all_id.textContent;
    } else {
      all_id = '';
    }
    alert(all_id)
    console.log(nowtime, userLocation, all_id);
    $.ajax({
      type: "POST",
      url: "/create/{{ct_id}}", // 替换为您的 views.py 文件的 URL
      data: {
        days: '{{choiceday}}',
        location: userLocation.value,
        nowtime: nowtime.value,
        all_id: all_id,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        ct_status: 3,
      },
      success: function (response) {
        // 在這裡處理伺服器回傳的 JSON 數據
        console.log(response);  // 查看回傳的值  
        alert('儲存成功');
      },

      error: function () {
        alert('有錯誤!!!!!!!!!!!!!!!!!!!!!!!!!!!!');
      },
    });
  });

</script>
{% endblock %}

</html>