{% extends 'base.html' %}
{% block title %}建立行程{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/createindex.css">
{% endblock %}
<script>
  // 检查用户是否已登录
  if (!{{ user.is_authenticated }}) {
    alert("请先登录");
    window.location.href = "/login"; // 或者任何你的登录页面的 URL
  }
</script>
{% block body %}
<form action="" method="post" class="formcss">
  {% csrf_token %}
  <div class="bgimg" id="bgimg">
    <div id="step1" class="block">
      <div id="tabDL" class="txtdiv">
        <span class="txt">行程類型</span>
        <div class="choiceClass inputspace">
          <div id="choiceClassLeft" class="choiceClassDiv choiceClassLeft" value="0">
            <img src="../static/images/travel_img.png" class="img-responsive" width="100%" alt="">
            <div class="choiceClassDiv_txt">
              旅遊行程建立
            </div>
          </div>
          <div id="choiceClassRight" class="choiceClassDiv choiceClassRight" value="1">
            <img src="../static/images/pet.png" class="img-responsive" width="100%" alt="">
            <div class="choiceClassDiv_txt">
              寵物行程建立
            </div>
          </div>
        </div>
        <div id="notion" class="notion">請先選擇行程類型</div>
        <div class="nextStep" onclick="nextStep()">下一步</div>
      </div>
    </div>
    <div id="step2" class="block" style="display: none;">
      <div>
        <!--目前選擇的行程類型放在這，從js塞進來-->
        <div id="tabDL" class="txtdiv" style="clear: both;">
          <span class="txt" id="nowcreateType">類型</span>
          <input type="hidden" name="createType" id="createType" class="inputspace" style="display:none;">
        </div>

        <div id="tabDL" class="txtdiv" style="clear: both;"><span class="txt">行程名稱</span><br>
          <input type="text" name="createName" id="createName" value="" required class="inputspace">
        </div>
  
        <div id="tabDL" class="txtdiv"><span class="txt">開始日期</span><br>
          <input type="date" id="createDate" name="createDate" required class="inputspace">
        </div>
  
        <div id="tabDL" class="txtdiv"><span class="txt">行程天數</span><br>
          <input type="number" id="createDay" name="createDay" min="1" value="1" required class="inputspace">
        </div>
  
        <div style="display: flex;">
          <div class="backStep" onclick="backStep()">上一步</div>
          <button class="btn btn-outline-success enterbtn" type="submit">送出</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock body %}
{% block content_script %}
<script src="../static/js/createindex.js"></script>
<script>
  // 获取当前日期
  var today = new Date();

  // 计算明天的日期
  var tomorrow = new Date(today);
  tomorrow.setDate(today.getDate() + 1);

  // 将日期格式化为"YYYY-MM-DD"，以适应<input type="date">
  var formattedTomorrow = tomorrow.toISOString().split('T')[0];

  // 设置输入框的值为明天的日期
  document.getElementById('createDate').value = formattedTomorrow;
  var ispet = "{{ ispet }}";
  if (ispet == "1") {
    document.getElementById('choiceClassRight').click();
    nextStep()
  }else if(ispet == "0"){
    document.getElementById('choiceClassLeft').click();
    nextStep()
  }
</script>
{% endblock %}

</html>