{% for key,datalist in all_ct_data.items %}
  {% if key == day %}
    {%for data in datalist%}
    {% comment %} {{forloop.counter}}
    {% if forloop.counter == 1 %}
    <a target="_blank" href="https://www.google.com/maps/dir/{{data.distance.choice_ct.start_location_x}},{{data.distance.choice_ct.start_location_y}}/{{data.distance.a.location_x}},{{data.distance.a.location_y}}/"><div class="box" style="height:60px;background-color:#444444;color:white;">↓預估交通時間{{data.distance.distance_time}}分鐘</div></a>
    {% else %}
    <a target="_blank" href="https://www.google.com/maps/dir/{{data.distance.get_previous.a.location_x}},{{data.distance.get_previous.a.location_y}}/{{data.distance.a.location_x}},{{data.distance.a.location_y}}/"><div class="box" style="height:60px;background-color:#444444;color:white;">↓預估交通時間{{data.distance.distance_time}}分鐘</div></a>
    {% endif %} {% endcomment %}
    <div class="spot innerlist" draggable="true" id="spot{{data.attraction.order}}" style="color: black;margin-bottom:10px" data-id="{{data.detail.id}}" data-stay = "{% if data.detail.stay_time == 0 %}150{% else %}{{data.detail.stay_time}}{% endif %}">
      <div class="tempXdiv" onclick="pickspotBottom({{d.id}})"><i class="fa-solid fa-xmark tempX_icon"></i></div><!-- 這裡這裡的itemId要用你們的編號 -->
      <a href="#" class="fa-solid fa-circle-info info_icon_left" id="info_icon_left" onclick="clickeInfo(event,{{ item.a_id.id }})"> <!-- 這裡這裡的itemId要用你們的編號 --></a>
      <p class="spotOkName">{{data.detail.a_name}}</p>
      <p id="hiddenId" style="display: none;">景點名稱：{{data.detail.id}}</p>
      <p class="spotOk spotOkCrowd">當下可能的人潮流量：{{data.crowd_list}}%<br>
      <p class="spotOk spotOkTime">營業時間：  {% for time in data.co.opening %} {% if forloop.counter != 1 %},{% endif %} {{time}} {% endfor %}</p>
      <p class="spotOk spotOkStay">建議停留時間： {% if data.detail.stay_time == 0 %}150{% else %}{{data.detail.stay_time}}{% endif %} 分鐘</p>
      <p class="spotOk spotOkweather">天氣狀況：{% if  data.weather %} {{data.weather}} {% else %} 尚無資料 {% endif %} <br>
    </div>
    {%endfor%}
  {% endif%}
  {% empty %}
  {% for o in order_attractions_data %}
  {% comment %} {% if forloop.counter == 1 %}
  <a target="_blank" href="https://www.google.com/maps/dir/{{o.distance.choice_ct.start_location_x}},{{o.distance.choice_ct.start_location_y}}/{{o.distance.a.location_x}},{{o.distance.a.location_y}}/"><div class="box" style="height:60px;background-color:#444444;color:white;">↓預估交通時間{{o.distance.distance_time}}分鐘</div></a>
  {% else %}
  <a target="_blank" href="https://www.google.com/maps/dir/{{o.distance.get_previous.a.location_x}},{{o.distance.get_previous.a.location_y}}/{{o.distance.a.location_x}},{{o.distance.a.location_y}}/"><div class="box" style="height:60px;background-color:#444444;color:white;">↓預估交通時間{{o.distance.distance_time}}分鐘</div></a>
  {% endif %} {% endcomment %}
  <div class="spot innerlist" draggable="true" id="spot{{forloop.counter}}" style="color: black;margin-bottom:10px" data-id="{{o.final_result_list.id}}" data-stay = "{% if o.final_result_list.stay_time == 0 %}150{% else %}{{o.final_result_list.stay_time}}{% endif %}">
    <div class="tempXdiv" onclick="pickspotBottom({{d.id}})"><i class="fa-solid fa-xmark tempX_icon"></i></div><!-- 這裡這裡的itemId要用你們的編號 -->
    <a href="#" class="fa-solid fa-circle-info info_icon_left" id="info_icon_left" onclick="clickeInfo(event,{{ item.a_id.id }})"> <!-- 這裡這裡的itemId要用你們的編號 --></a>
    <p class="spotOkName">{{o.final_result_list.a_name}}</p>
    <p id="hiddenId" style="display: none;">景點名稱：{{o.final_result_list.id}}</p>
    <p class="spotOk spotOkCrowd">當下可能的人潮流量：{{o.final_crowd_list}}%<br>
    <p class="spotOk spotOkTime">營業時間： {% for time in o.final_crow_opening_list.opening %} {% if forloop.counter != 1 %},{% endif %} {{time}} {% endfor %}</p>
    <p class="spotOk spotOkStay">建議停留時間： {% if o.final_result_list.stay_time == 0 %}150{% else %}{{o.final_result_list.stay_time}}{% endif %} 分鐘</p>
    <p class="spotOk spotOkweather">天氣狀況：{% if  o.weather %} {{o.weather}} {% else %} 尚無資料 {% endif %} <br>
  </div>
  {%empty%}
  目前沒有景點
{% endfor %}
{%endfor%}




{% comment %}  參考用資料
for fr, fc in zip(final_result_list, final_crow_opening_list):
    order_attractions_data.append({
        'final_result_list': fr,
        'final_crow_opening_list': fc,
    })
for frr,frc in zip(final_remainder_result_list,final_remainder_crow_opening_list):
    remainder_attractions_data.append({
    'final_remainder_result_list':frr,
    'final_remainder_crow_opening_list':frc,
})
#轉成html
html = render_to_string(
    template_name="create_order_attractions.html",
    context={"order_attractions_data": order_attractions_data,'remainder_attractions_data':remainder_attractions_data,'final_now_time_list':final_now_time_list},
) {% endcomment %}
