{% extends 'base.html' %}
{% block title %}建立行程{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/create.css">
<script>


</script>
{% endblock %}
 
{% block body %}
  <div class="create_div" style="display: flex;justify-content: center;">
    <main>
      <div class="container tab_div">
        <div class="row justify-content-md-center" style="text-align: center;">
          <div class="col col-lg-3" style="padding: 0;">
            <a href="#tab_c" class="tab_a">建立行程</a>
          </div>
          <div class="col col-lg-3" style="padding: 0;">
            <a href="#tab_f" class="tab_a">我的收藏</a>
          </div>
          <div class="col col-lg-3" style="padding: 0;"  >
            <a href="#tab_r" class="tab_a"  id="clickRecommend">推薦景點</a>
          </div>
        </div>
      </div>
 
      <div id="contents">
        <section id="tab_c" ng-app="" ng-init="name='行程名稱'">
          <form action="" style="display: flex;justify-content: center;">
            <div class="row" style="width: 80%;">
              <div class="col-md-4 tabc_txt">
                行程名稱：{{ name }}
                {% comment %} <input type="text" class="input_txt" ng-model="travName"  style="width: 180px" value="{{ name }}"> {% endcomment %}
              </div>
              <div class="col-md-4 tabc_txt">
                出發日期：{{ start_day }}
                {% comment %} <input type="date" class="input_txt" value="{{ start_day }}"> {% endcomment %}
              </div>
              {% comment %} <div class="col-md-4 tabc_txt">
                結束日期：
                <input type="date" class="input_txt" value="2023-05-26">
              </div> {% endcomment %}
            </div>
          </form>
          <div class="row">
            <div class="col-md-4 div_day" style="background-color: #fffdc8;">
              <div class="row">
                <div class="div_day " style="text-align: center;">
                  <div class="tabD">
                    <span ng-bind="travName"></span>
                  </div>
                  <div class="tabD">
                    <a href="#tab_c" class="tab_day">第一天</a>
                  </div>
                  <div class="tabD">
                    <a href="#tab_c" class="tab_day">第二天</a>
                  </div>
                  <div class=" tabc_txt">
                    <input type="submit" class="input_txt" value="儲存">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" style="background-color: #eee;">
              <form action="#tab_c">
                <div>
                  <div class="tabD">
                    <span id="tabDT">請輸入出發時間：</span>
                    <input type="time" value="09:00">
                  </div>
                  <div class="tabD">
                    <span id="tabDL">使用者位置：</span>
                    <input type="text" placeholder="請輸入位置" class="input_txt" id="userLocation" >
                  </div>
                </div>
              </form>
              <div>
                <!-- <span class="create_txt" >第一天</span>
                  <button style="border: none;">+</button> -->
                <div class="spot" id="spot1">
                  國父紀念館
                  <p>位在台北市XX區</p>
                  <p>
                    目前人潮流量：適中
                    <br>
                    營業時間：09:00-18:00
                    <br>
                    建議停留時間：1小時
                  </p>
                </div>
                <div class="spot" id="spot2">
                  松山文創園區
                  <p>位在台北市XX區</p>
                  <p>
                    目前人潮流量：適中
                    <br>
                    營業時間：10:00-18:00
                    <br>
                    建議停留時間：2小時
                  </p>
                </div>
              </div>
            </div>
          </div>


        </form>
      </section>
 
      <section id="tab_f" style="clear: both;margin-top: 10px;">
        <!-- <span>我的收藏</span> -->
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div style="text-align: center;">
              <div class="heart_icon_box">
                <img src="../static/images/pingxi.jpg" class="img-responsive" width="100%">
                <i class="fa-solid fa-heart heart_icon"></i>
              </div>
              <div class="spot_like_txt">
                <h3 class="spot_title">
                  平溪老街
                </h3>
                <p>
                  123456
                </p>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu" >
                    <div><a class="dropdown_item" href="#tab_c">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div style="text-align: center;">
              <div class="heart_icon_box">
                <img src="../static/images/pingxi.jpg" class="img-responsive" width="100%">
                <i class="fa-solid fa-heart heart_icon"></i>
              </div>
              <div class="spot_like_txt">
                <h3 class="spot_title">
                  平溪老街
                </h3>
                <p>
                  123456
                </p>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu" >
                    <div><a class="dropdown_item" href="#tab_c">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div style="text-align: center;">
              <div class="heart_icon_box">
                <img src="../static/images/pingxi.jpg" class="img-responsive" width="100%">
                <i class="fa-solid fa-heart heart_icon"></i>
              </div>
              <div class="spot_like_txt">
                <h3 class="spot_title">
                  平溪老街
                </h3>
                <p>
                  123456
                </p>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu" >
                    <div><a class="dropdown_item" href="#tab_c">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="tab_r"  style="margin-top: 10px;">
        <!-- <span>景點推薦</span> -->
        <div style="display: flex; justify-content: center; margin-top: 5px;">
          <form class="d-flex" role="search" style="width:80%">
            <input class="form-control me-2"
                   type="search"
                   placeholder="查詢景點"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <form action="" style="margin: 20px;" class="form_rec">
          <select name="s_day" id="s_day" style="font-size: 18px;">
            <option value="1">
              第一天
            </option>
            <option value="2">
              第二天
            </option>
          </select>
          <select name="s_local" id="s_local" style="font-size: 18px;">
            <option value="tai">
              台北市
            </option>
          </select>
          <select name="s_local_sec" id="s_local_sec" style="font-size: 18px;">
            <option value="sec1">
              中正區
            </option>
            <option value="sec2">
              士林區
            </option>
            <option value="sec3">
              內湖區
            </option>
            <option value="sec4">
              中山區
            </option>
            <option value="sec5">
              大同區
            </option>
            <option value="sec6">
              松山區
            </option>
            <option value="sec7">
              萬華區
            </option>
            <option value="sec8">
              北投區
            </option>
            <option value="sec9">
              大安區
            </option>
            <option value="sec10">
              信義區
            </option>
            <option value="sec11">
              南港區
            </option>
            <option value="sec12">
              文山區
            </option>
          </select>
          <div style="font-size: 20px; margin: 5px auto;">
            <span><strong>是否推薦相似景點</strong></span>
            <input type="radio" id="yes" value="是" name="yn" style="margin-left: 5px;">
            <strong>是</strong>
            <input type="radio" id="no" value="否" name="yn" style="margin-left: 5px;">
            <strong>否</strong>
            <input type="submit"
                   value="儲存"
                   style="border-radius: 10px;
                          margin-left: 5px">
          </div>


          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
                <div class="row chebox_item">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-2 chebox">
                        <input type="checkbox" style="width: 30px;height: 30px;margin: 10px;">
                      </div>
                      <div class="col-md-10 chebox_info">
                        <span><strong>二二八公園</strong>
                          <p>
                            地址
                          </p>
                          <p>
                            評分
                          </p>
                          <p>
                            營業時間
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rec_spot">
                    <img src="../static/images/twotwoeight.jpeg"
                         class="img-responsive rec_spot"
                         width="100%">
                  </div>
                </div>
              </div>
            </div>
          </div> -->

 
          <div class="dialog" id="dialog">
            <form action="#">
              <span>是否需要推薦相似景點</span>
              <br>
              <label class="yn" for="yes">
                是
              </label>
              <input type="radio" id="yes" value="是" name="yn">
              <label class="yn" for="no">
                否
              </label>
              <input type="radio" id="no" value="否" name="yn">
              <br>
              <input type="submit" value="確定">
            </form>
 
          </div>

        </table>
      </form>

      <div id="button">
        <button class="filter_btn" value="all">台北市</button>
        <button class="filter_btn" value="zhongzheng">中正區</button>
        <button class="filter_btn" value="shilin">士林區</button>
        <button class="filter_btn" value="neihu">內湖區</button>
        <button class="filter_btn" value="zhongshan">中山區</button>
        <button class="filter_btn" value="datong">大同區</button>
        <button class="filter_btn" value="songshan">松山區</button>
        <button class="filter_btn" value="wanhua">萬華區</button>
        <button class="filter_btn" value="beitou">北投區</button>
        <button class="filter_btn" value="daan">大安區</button>
        <button class="filter_btn" value="shingyi">信義區</button>
        <button class="filter_btn" value="nangan">南港區</button>
        <button class="filter_btn" value="wenshan">文山區</button>
    </div>
    
    {% for  item in m_attractions_list_name %}
    <div class="filter row">
        <div class="shingyi col-md-6">
          <div class="col-5">
            <img src="../static/images/101.jpg" alt=""  height="250">
          </div>
          <div class="col-7">
            <div style="text-align: left;">
              <p>景點名稱</p>
              <p>地址</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="beitou col-md-6">
          <div class="col-5">
            <img src="../static/images/beitou.jpeg" alt=""  height="250">
          </div>
          <div class="col-7">
            <div style="text-align: left;">
              <p>景點名稱</p>
              <p>地址</p>
            </div>
          </div>
        </div>
        <div class="datong col-md-6">
          <div class="col-5">
            <img src="../static/images/Datong.jpeg" alt=""  height="250">
          </div>
          <div class="col-7">
            <div style="text-align: left;">
              <p>景點名稱</p>
              <p>地址</p>
            </div>
          </div>
        </div>
        <div class="shilin"><img src="../static/images/Shilin.jpeg" alt=""  height="250"></div>
        <div class="zhongshan"><img src="../static/images/Zhongshan.jpeg" alt=""  height="250"></div>
    </div>
 
    </div>

  </main>
</div>
{% endblock body %}
 
{% block content_script %}
  <script src="../static/js/create.js"></script>
  <script>
    $(function(){
      $("button").click(function(){
          var target = $(this).attr("value");
    
    
          $(".filter div").each(function(){
              $(this).animate({"opacity":0},100,function(){
                  $(this).hide();
    
                  if($(this).hasClass(target) || target == "all"){
                      $(this).show();
                      $(this).animate({"opacity":1},100);
                  }
              });
          });
    
      });
    
    })

    window.onload = function() {
      geoFindMe();
  };

    function geoFindMe() {
      const userLocation = document.getElementById("userLocation");
      function success(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          userLocation.value = latitude+','+longitude;
          console.log(userLocationValue);
      }
  
      function error() {
        userLocation.textContent = "Unable to retrieve your location";
      }
  
      if (!navigator.geolocation) {
        userLocation.textContent = "Geolocation is not supported by your browser";
      } else {
        userLocation.textContent = "Locating…";
          navigator.geolocation.getCurrentPosition(success, error);
      }
    }
    var clickRecommend = document.getElementById('clickRecommend');
      clickRecommend.addEventListener("click",function(e){
      alert('hello');
        var ct_status = 0;
        const userLocation = document.getElementById("userLocation");
          $.ajax({
            type: "POST",
            url: `create/${ct_id}`, // 替换为您的 views.py 文件的 URL
            data: {
                location: userLocation.value,
                ct_status : 0
            },
            success: function(response) {
            },
            error: function() {
            }
        });
    });

    
</script>
{% endblock %}

</html>
