{% extends 'base.html' %}
{% block title %}建立行程{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/createindex.css">
{% endblock %}
<script>
  // 检查用户是否已登录
  if (!{{ user.is_authenticated }}) {
      alert("请先登录");
      window.location.href = "/login"; // 或者任何你的登录页面的 URL
  }
</script>
{% block body %}
<div class="bgimg">
  <div class="block">
    <form action="" method="post" class="formcss">
      {% csrf_token %}
      <div id="tabDL" class="txtdiv"><span class="txt">行程名稱</span><br>
        <input type="text" name="createName" id="createName" value="" required class="inputspace">
      </div>
      
      <div id="tabDL" class="txtdiv"><span class="txt">開始日期</span><br>
        <input type="date" id="createDate" name="createDate" required class="inputspace">
      </div>
      
      <div id="tabDL" class="txtdiv"><span class="txt">行程天數</span><br>
        <input type="number" id="createDay" name="createDay" min="1" value="1" required class="inputspace">
      </div>
      <button class="btn btn-outline-success enterbtn" type="submit">送出</button>
    </form>
  </div>
</div>
{% endblock body %}
{% block content_script %}
  <script src="../static/js/create.js"></script>
{% endblock %}
</html>
