<div class="owl-carousel owl-theme">
{% for item in search_list %}
  <div class="item checkimg_div" onclick="pickspot(this,{{ item.id }})">
    <!-- <label type="checkbox" name="variety" value="{{ item.id }}" class="imgcheck" style="margin: 0;padding: 0;border: 0;"> -->
      <div class="checkspot">
        <img src="../static/images/attractions/{{ item.place_id }}_0.jpg" class="img-responsive" width="100%" alt="">
        <a href="#" class="fa-solid fa-circle-info info_icon" id="info_icon" onclick="clickeInfo(event,{{item.a_id.id}})"><!-- 這裡這裡的itemId要用你們的編號 --></a>
      </div>

      <div class="checkspottxt" style="border: 1px solid #ccc;">
        <p style="text-align: center;padding: 5px;margin-bottom: 5px;">{{ item.a_name }}</p>
        <span>評價：{{ item.rating}}</span><br>
        {% comment %} <span>營業時間：{{r.crow_opening_list.opening.0}}</span> {% endcomment %}
      </div>

    <!-- </label> -->
  </div>
{% endfor %}
</div>
<script src="/static/js/owlStart.js"></script>
<script>
  owlStart();
</script>
