<div class="owl-carousel owl-theme">
{% for r in recommend_data %}
  <div class="item checkimg_div" onclick="pickspot(this,{{ r.m_list.id }})">
    <label type="checkbox" name="variety" value="{{r.m_list.id}}" class="imgcheck" style="margin: 0;padding: 0;border: 0;" >
      <span class="checkspot">
        <img src="../static/images/attractions/{{r.m_list.place_id}}_0.jpg" class="img-responsive" width="100%" alt="">
        <a class="fa-solid fa-circle-info info_icon_left" id="info_icon_left" onclick="clickInfo({{r.m_list.id}})"></a>
      </span>
      <div class="spottxtdiv">
        <p class="spotName">{{r.m_list.a_name}}</p>
        <span class="spottxt spottxtstar">評價：{{r.m_list.rating}}</span><br>
        <span class="spottxt spottxttime">營業時間：{{r.crow_opening_list.opening.0}}</span>
      </div>
    </label>
  </div>
{% endfor %}
</div>
<script src="/static/js/owlStart.js"></script>
<script>
  owlStart();
$(function () {
  var h = 0;
  $('.item .spottxtdiv').each(function () {

    if ($(this).height() > h) {
      h = $(this).height();
    }

  });
  $('.item .spottxtdiv').css('height', h + 'px');
});
</script>