{% extends 'base.html' %}
{% block title %}個人資料編輯{% endblock %}
{% block content %}
<!-- RWD沒辦法詮釋，因為下面這串，會有padding:12px出現 -->
<link rel="stylesheet" href="/static/css/bootstrap2023.css">
<!-- <link rel="stylesheet" href="/static/css/reset_pw.css">
    <link rel="stylesheet" href="/static/css/register.css"> -->
<link rel="stylesheet" href="/static/css/edit.css">
{% comment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
<script src="/static/js/jquery-3.7.0.min.js"></script>
{% comment %}
<script src="/static/js/bootstrap.js"></script> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}
{% comment %}

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="height: 80px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">趣放假</a>
            <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">建立行程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">我的行程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_get_all_taiwan">景點資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/favorite">我的收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}
    {% block body %}
    <div class="row info" style="margin-top: 140px;">
        <div class="col-1"></div>
        <div class="col-3 col-s-12 menu">
            <div class="topic">
                <h2>帳號管理</h2>
            </div>
            <div class="head_change">
                <div style="display: flex;justify-content: center;">
                    <div id="selected-avatar">
                        <img src="{{ detail.get_photo }}" alt="Selected Avatar" style="width: 100%;
                                    height: 100%;
                                    border-radius:50%">
                    </div>
                </div>
                <button onclick="openChange()" style="margin-top:20px;">更換頭像</button>
                <div id="head_selected">
                    <div id="head_selected-content">
                        <h2 style="margin-bottom:20px;">更換頭貼</h2>
                        <!-- 預設頭貼 -->
                        <img src="../static/images/user1.png" alt="Avatar 2" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user1.png')">
                        <img src="../static/images/user2.png" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user2.png')">
                        <img src="../static/images/user3.png" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user3.png')">
                        <img src="../static/images/user4.png" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user4.png')">
                        <img src="../static/images/user5.jpg" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user5.jpg')">
                        <img src="../static/images/user6.jpg" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user7.jpg')">
                        <img src="../static/images/user7.jpg" alt="Avatar 3" class="head_selected-avatar"
                            onclick="selectAvatarAndClosehead_selected('../static/images/user6.jpg')">
                        <div>
                            <button onclick="closehead_selected()" style="margin-top:20px;">取消</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="avatar">
                    <img id="avatar-preview" src="/static/images/dog.jpg" alt="頭貼預覽">
                </div>
                <div class="head_file">
                    <input type="file" id="avatar" name="avatar" accept="image/*" class="file-upload-input"
                        onchange="previewAvatar(event)">
                    <br>
                    <label for="avatar" class="file-upload-label">選擇檔案</label>
                </div>
                <div class="form-group">
                    <label for="bio">個人簡介:</label>
                    <textarea id="bio" name="bio" placeholder="請輸入個人簡介"></textarea>
                                </div> -->
            </div>
            <div class="usertopic">
                <h6 style=" font-size: 18px;">
                    <i class="fa-solid fa-palette" style="margin-right:5px;
                              margin-bottom:20px"></i>喜愛主題
                </h6>
                <div style="margin-left:20px;">
                    <button class="add_topic"
                        onclick="document.getElementById('user_like_topic').style.display='block'">新增<span
                            style="margin-left:5px;"><i class="fa-solid fa-plus"></i></span></button>
                    {% for type in all_type_name %}
                    {% if type.id in detail.user_favorite_tag %}
                    <span class="article-tag" data-set="{{type.id}}">{{type.name}}</span>
                    {% comment %} <span class="_icon"><i class="fas fa-times"></i></span> {% endcomment %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="user_like_topic">
                <div class="modal-content_user_like" method="post" style="border-radius: 10px;">
                    {% csrf_token %}
                    <div class="att_form">
                        <span onclick="document.getElementById('user_like_topic').style.display='none'"
                            class="close_user_like" title="Close Modal">&times;</span>
                        <h3><strong>景點主題</strong></h3>
                        {% comment %} {% if type.id in detail.user_favorite_tag %}
                        <span class="more_btn " onclick="toggleSelection(this)">使用系統預設</span>
                        {% else %}
                        <span class="more_btn selected" onclick="toggleSelection(this)">使用系統預設</span>
                        {% endif %} {% endcomment %}
                        <div class="filiter_search" id="user_like">
                            <table style="width:45%;margin-left: 10px;margin-bottom:5px ;">
                                <div id="attractions_types">
                                    {% for type in all_type_name %}
                                    {% if type.id in detail.user_favorite_tag %}
                                    <span class="more_btn selected " onclick="toggleSelection(this)"
                                        data-set="{{type.id}}">{{type.name}}</span>
                                    {% else %}
                                    <span class="more_btn" onclick="toggleSelection(this)"
                                        data-set="{{type.id}}">{{type.name}}</span>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </table>
                            <!-- <div class="sure"><button class="sure_btn" id="sure_att_type" name="sure_att_type" value="0">篩選</button>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <!--<div>
                <ul>
                    <a href="#person_info">
                        <span>
                            <li>
                                <i class="fa-solid fa-user"></i> 個人資訊
                            </li>
                        </span>
                    </a>
                    <a href="#user_pwd">
                        <li>
                            <i class="fa-solid fa-lock"></i> TripFunChill 帳號密碼
                        </li>
                    </a>
                     <a href="#user_check">
                        <li>
                            <i class="fa-solid fa-shield-halved"></i> 雙重驗證
                        </li>
                    </a>
                </ul>
            </div> -->
        </div>
        <div class="col-7 col-s-12 content">
            <form id="editForm" name="editForm" method="POST" action="{% url "user_post" %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-5 col-s-5 aside1" id="person_info">
                        <div class="con">
                            <h3>個人資訊</h3>
                            <p>
                                此資料為保密資訊，其他用戶無法檢視。閱讀TripFunChill隱私權政策隨時都可以。
                                <br>
                                馬上更改個人資料～讓你的自介更加豐富！
                            </p>
                        </div>
                    </div>
                    <div class="col-7 col-s-7 aside">
                        <div class="inner">
                            <div class="input-with-icon">
                                <i class="fas fa-user input-icon"></i>
                                <input type="text" placeholder="使用者名稱" name="username" value="{{ detail.username }}"
                                    required>
                            </div>
                            <div class="input-with-icon" style="font-size:17px;">
                                {% comment %} <i class="fa-solid fa-envelope icon_email"></i> {% endcomment %}
                                <strong style="margin-right:5px;">信箱：</strong><span
                                    style=" color: rgb(81, 81, 81); font-size:18px;">{{ detail.email }}</span>
                                <br>
                                {% comment %} <input type="email" placeholder="e-mail" name="email" value="" required>
                            </div> {% endcomment %}
                            <div style="margin-top: 20px;">
                                <strong>性別：</strong>
                                <select name="gender" style="padding: 6px;">
                                    <option {% if detail.gender == "男" %}selected{% endif %} value="1" name="gender">男
                                    </option>
                                    <option {% if detail.gender == "女" %}selected{% endif %} value="2" name="gender">女
                                    </option>
                                    <option {% if detail.gender == "不公開" %}selected{% endif %} value="0" name="gender">不公開
                                    </option>
                                </select>
                            </div>
                            <span>
                                <p></p>
                            </span>
                            <p>
                            </p>
                            <strong>生日：</strong>
                            <input type="date" placeholder="生日(範例:2000/01/01)" name="birthday" required
                                value="{{ detail.birthday }}" min="1911-01-01" max="{{ nowday }}" style="padding:4px">
                            <p>
                                <div style="text-align: right;">
                                    <button class="pwd_btn" style="margin-top:20px;" type="submit">
                                        儲存
                                    </button>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <form id="passwordForm" name="editForm" method="POST" action="{% url "user_pwd" %}">
                {% csrf_token %}
                <div class="info1">
                    <div class="row">
                        <div class="col-5 col-s-5 aside1" id="user_pwd">
                            <div class="con">
                                <h3>
                                    TripFunChill 密碼
                                </h3>
                                <p>
                                    我們建議你定期更改密碼，以防有心人士駭入你的帳號。
                                </p>
                            </div>
                        </div>
                        <div class="col-7 col-s-7 aside">
                            <div class="inner">
                                <div class="password-container">
                                    <i class="fa-solid fa-key input-icon"></i>
                                    <input type="password" id="passwordInput2" placeholder="目前密碼" name="passwd"
                                        required>
                                    <i id="checkEye2" class="toggle-password fas fa-eye"></i>
                                </div>
                                <div class="password-container">
                                    <i class="fa-solid fa-key input-icon"></i>
                                    <input type="password" id="passwordInput" oninput="password_validation()"
                                        onclick="showPasswordToggle()" onblur="hidePasswordToggle()" placeholder="新密碼"
                                        name="passwd" required>
                                    <i id="checkEye" class="toggle-password fas fa-eye"></i>
                                </div>
                                <div class="password-container">
                                    <i class="fa-solid fa-key input-icon"></i>
                                    <input type="password" id="passwordInput1" placeholder="確認新密碼" name="passwd1"
                                        required>
                                    <i id="checkEye1" class="toggle-password fas fa-eye"></i>
                                </div>
                                <div id="validationIcons">
                                    <img src="/static/images/check.png" alt="Image 1" class="check" style="width:20px;
                                                    height:auto" id="lowercaseIcon">
                                    <span style="color:rgb(207, 49, 49);">至少包含一個小寫子母</span>
                                    <br>
                                    <img src="/static/images/check.png" alt="Image 2" class="check" style="width:20px;
                                                    height:auto" id="uppercaseIcon">
                                    <span style="color:rgb(207, 49, 49);">至少包含一個大寫字母</span>
                                    <br>
                                    <img src="/static/images/check.png" alt="Image 3" class="check" style="width:20px;
                                                    height:auto" id="numberIcon">
                                    <span style="color:rgb(207, 49, 49);">至少包含一個數字符號</span>
                                    <br>
                                    <img src="/static/images/check.png" alt="Image 4" class="check" style="width:20px;
                                                    height:auto" id="specialCharIcon">
                                    <span style="color:rgb(207, 49, 49);">至少包含一個非字母和數字的特殊字符</span>
                                    <br>
                                    <img src="/static/images/check.png" alt="Image 5" class="check" style="width:20px;
                                                    height:auto" id="lengthIcon">
                                    <span style="color:rgb(207, 49, 49);">至少包含8個字元符號</span>
                                    <br>
                                </div>
                                <div style="text-align: right;">
                                    <button class="pwd_btn" style="margin-top:20px;" type="submit">
                                        確定更改並驗證
                                    </button>
                                </div>
                                <!-- <div class="head_change">
                                <div class="avatar">
                                    <img id="avatar-preview" src="/static/images/dog.jpg" alt="頭貼預覽">
                                </div>
                                <div class="head_file">
                                    <input type="file" id="avatar" name="avatar" accept="image/*" class="file-upload-input"
                                        onchange="previewAvatar(event)"><br>
                                    <label for="avatar" class="file-upload-label">選擇檔案</label>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="info1">
                    <div class="row">
                        <div class="col-5 col-s-5 aside1" id="user_check">
                            <div class="con">
                                <h3>
                                    雙重驗證
                                </h3>
                                <p>
                                    登入時要求輸入安全碼可以保護你的帳號免受不明人士駭入。
                                </p>
                            </div>
                        </div>
                        <div class="col-7 col-s-7 aside">
                            <div class="inner">
                                <div class="row aside_in">
                                    <div class="col-7">
                                        <div class="a">
                                            <i class="fa-sharp fa-solid fa-envelope mail"></i>
                                            <div style="width: 300px; margin-left:50px;line-height:35px;">信箱驗證</div>
                                        </div>
                                    </div>
                                    <div class="col-5 ｂ">
                                        <input type="submit" onclick="openPopup()" value="啟用" class="check_ch">
                                    </div>

                                </div>
                                <div class="head_change">
                                    <div class="avatar">
                                        <img id="avatar-preview" src="/static/images/dog.jpg" alt="頭貼預覽">
                                    </div>
                                    <div class="head_file">
                                        <input type="file" id="avatar" name="avatar" accept="image/*"
                                            class="file-upload-input" onchange="previewAvatar(event)"><br>
                                        <label for="avatar" class="file-upload-label">選擇檔案</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div style="text-align: right;">
                    <button class="cancel_btn" style="margin-top:20px;">
                        取消
                    </button>
                    <button class="confirm_change_btn" style="margin-top:20px;">
                        確定更改
                    </button>
                </div>
                <div class="col-1">
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleSelection(button) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            button.classList.toggle('selected');
            var id = button.getAttribute('data-set');
            $.ajax({
                headers: { 'X-CSRFToken': csrftoken },
                url: '/useredit/change_favorite/',
                type: 'POST',
                data: {
                    'type_id': id
                },
                success: function (response) {
                    if (response['status'] == 'remove') {
                        document.querySelector(`.article-tag[data-set="${id}"]`).remove();
                    }
                    else {
                        document.querySelector('.article-tag').insertAdjacentHTML('beforebegin', `<span class="article-tag" data-set="${id}">${button.textContent}</span>`);
                    }
                }
            });
        }

        var filiter_win = document.getElementById('user_like_topic');//景點主題
        window.onclick = function (event) {
            // 判斷點擊事件的目標是否是模態框元素本身
            if (event.target == filiter_win) {
                filiter_win.style.display = "none";

            }

        }

        function selectAvatar(avatarSrc) {
            // 將選擇的頭像顯示在selected-avatar區域
            document.getElementById('selected-avatar').innerHTML = `<img src="${avatarSrc}" alt="Selected Avatar" style="width: 100%; height: 100%; border-radius:50%">`;
        }
        function openChange() {
            // 顯示
            document.getElementById('head_selected').style.display = 'flex';
        }
        function closehead_selected() {
            // 關閉
            document.getElementById('head_selected').style.display = 'none';
        }

        function selectAvatarAndClosehead_selected(avatarSrc) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            // 選擇頭貼並關閉
            selectAvatar(avatarSrc);
            closehead_selected();
            $.ajax({
                headers: { 'X-CSRFToken': csrftoken },
                url: '/useredit/change_avatar/',
                type: 'POST',
                data: {
                    'avatar': avatarSrc
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }
        function previewAvatar(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var avatarPreview = document.getElementById('avatar-preview');
                avatarPreview.src = reader.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
        function password_validation() {
            var password = document.getElementById("passwordInput").value;

            var lowercaseIcon = document.getElementById("lowercaseIcon");
            var uppercaseIcon = document.getElementById("uppercaseIcon");
            var numberIcon = document.getElementById("numberIcon");
            var specialCharIcon = document.getElementById("specialCharIcon");
            var lengthIcon = document.getElementById("lengthIcon");

            lowercaseIcon.classList.toggle("valid", password.match(/[a-z]/g));
            uppercaseIcon.classList.toggle("valid", password.match(/[A-Z]/g));
            numberIcon.classList.toggle("valid", password.match(/[0-9]/g));
            specialCharIcon.classList.toggle("valid", password.match(/[^a-zA-Z\d]/g));
            lengthIcon.classList.toggle("valid", password.length >= 8);
        }
        function password_validation1() {
            var password = document.getElementById("passwordInput1").value;

            var lowercaseIcon = document.getElementById("lowercaseIcon");
            var uppercaseIcon = document.getElementById("uppercaseIcon");
            var numberIcon = document.getElementById("numberIcon");
            var specialCharIcon = document.getElementById("specialCharIcon");
            var lengthIcon = document.getElementById("lengthIcon");

            lowercaseIcon.classList.toggle("valid", password.match(/[a-z]/g));
            uppercaseIcon.classList.toggle("valid", password.match(/[A-Z]/g));
            numberIcon.classList.toggle("valid", password.match(/[0-9]/g));
            specialCharIcon.classList.toggle("valid", password.match(/[^a-zA-Z\d]/g));
            lengthIcon.classList.toggle("valid", password.length >= 8);
        }
        const togglePassword = document.getElementById('checkEye');
        const passwordField = document.getElementById('passwordInput');

        togglePassword.addEventListener('click', function () {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }
        });

        const togglePassword1 = document.getElementById('checkEye1');
        const passwordField1 = document.getElementById('passwordInput1');

        togglePassword1.addEventListener('click', function () {
            if (passwordField1.type === 'password') {
                passwordField1.type = 'text';
                togglePassword1.classList.remove('fa-eye');
                togglePassword1.classList.add('fa-eye-slash');
            } else {
                passwordField1.type = 'password';
                togglePassword1.classList.remove('fa-eye-slash');
                togglePassword1.classList.add('fa-eye');
            }
        });

        const togglePassword2 = document.getElementById('checkEye2');
        const passwordField2 = document.getElementById('passwordInput2');

        togglePassword2.addEventListener('click', function () {
            if (passwordField2.type === 'password') {
                passwordField2.type = 'text';
                togglePassword2.classList.remove('fa-eye');
                togglePassword2.classList.add('fa-eye-slash');
            } else {
                passwordField2.type = 'password';
                togglePassword2.classList.remove('fa-eye-slash');
                togglePassword2.classList.add('fa-eye');
            }
        });


        function showPasswordToggle() {
            // var eyeIcon = document.getElementById("checkEye");
            // eyeIcon.style.display = "inline";
            var showval = document.getElementById("validationIcons");
            showval.style.display = "block";
        }

        function hidePasswordToggle() {
            // var eyeIcon = document.getElementById("checkEye");
            // eyeIcon.style.display = "none";
            var showval = document.getElementById("validationIcons");
            showval.style.display = "none";
        }

        // 點擊消失隱藏小眼睛

        // function showPasswordToggle1() {
        //     var eyeIcon1 = document.getElementById("checkEye1");
        //     eyeIcon1.style.display = "inline";
        // }

        // function hidePasswordToggle1() {
        //     var eyeIcon1 = document.getElementById("checkEye1");
        //     eyeIcon1.style.display = "none";
        // }

        // function showPasswordToggle2() {
        //     var eyeIcon2 = document.getElementById("checkEye2");
        //     eyeIcon2.style.display = "inline";
        // }

        // function hidePasswordToggle2() {
        //     var eyeIcon2 = document.getElementById("checkEye2");
        //     eyeIcon2.style.display = "none";
        // }

        function openPopup() {
            var msg = "已發送驗證網址到您的電子郵件";
            // 在JavaScript中使用Jinja2模板引擎將Python變數插入到JavaScript中

            // 使用 JavaScript 的 `alert()` 函式來彈出視窗
            alert(msg);
        }
    </script>
    {% endblock body %}

    </html>