{% extends 'base.html' %}
{% block title %}我的收藏{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/favorite.css">
<style>

</style>
{% endblock %}

{% block body %}

<!-- Tabs navs -->
<ul class="nav nav-tabs flex justify-content-center my-nav-tabs chineseFonst" id="myTab" role="tablist" style="padding-top: 100px;">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
      aria-controls="home" aria-selected="true" >最愛景點</button><!-- onclick="saveTabState('home')" -->
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
      aria-controls="contact" aria-selected="false" >最愛行程</button> <!-- onclick="saveTabState('contact')" -->
  </li>
</ul>

<div class="tab-content" id="myTabContent" style="width: 80%;margin: 0 auto;">
  <div class="tab-pane fade show active chineseFonst" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="cardContainer ">
      <div class="row" style="width: 90%;">
        {% for item in favorite_list %}
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="location-wrap text-center">
              <img src="/static/images/attractions/{{item.a.place_id}}_0.jpg" class="img-responsive custom-image" width="100%">
              <a class="fa-solid fa-circle-info info_icon_left" onclick="clickInfo({{item.a.id}})"></a>
              <i class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="1" data-id="{{item.a.id}}" data-type="/add_favorite/"></i>
            </div>
            <div class="card-body text-center">
              <h3 class="card-title chineseFonst">{{item.a.a_name}}</h3>
              <div class="rating" style="text-align: center;">
                {% for i in "12345" %}
                  {% if i|add:0 <= item.a.rating %} 
                    <i class="fa-solid fa-star" style="color:rgb(226, 185, 2);"></i>
                  {% else %}
                    <i class="fa-solid fa-star" style="color:rgb(185, 184, 184);"></i>
                  {% endif %}
                {% endfor %}
                <br>
                <span id="selectedRating">{{item.a.rating}} / 5 ({{ item.a.rating_total }}則) </span>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
          <h3 class="chineseFonst" style="text-align: center; line-height: 100px;">目前還沒有最愛景點，快去收藏吧!</h3>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- 最愛行程的Tab内容 -->
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="cardContainer">
      <div class="row" style="width: 90%;">
        {% for item in travel_favorite_list %}
          <div class="col-md-4 col-sm-6">
            <div class="card">
              <div class="location-wrap text-center">
                <img src="/static/images/attractions/{{ item.ct.get_choice_day.0.get_attractions.0.a.place_id }}_0.jpg" class="img-responsive custom-image" width="100%"> <!--放照片-->
                <i class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="1" data-id="{{item.ct.id}}" data-type="/add_travel_favorite/"></i>
              </div>
              <div class="card-body text-center chineseFonst">
                <h3 class="card-title chineseFonst">{{ item.ct.ct_name }}</h3>
                <h4 class="chineseFonst">作者：{{ item.u.username }}</h4>
                <a href="/travel_detail/{{ item.ct.id }}" class="btn btn-warning spot_data_btn">詳細資料</a><br>
                {% for tag in item.ct.is_fit %}
                <span class="badge rounded-pill bg-success">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        {% empty %}
          <h3 style="text-align: center; line-height: 100px;">目前還沒有最愛行程，快去收藏吧!</h3>
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-content_att_info">
        <span class="close_att_info" onclick="clickClose()">&times;</span>
        <div id = "changeInfo">
          {% include "attractions_info.html" %}
        </div>
    </div>
  </div>
  {% endblock body %}

  {% block content_script %}
  <script src="/static/js/favorite.js"></script>
  <script src="/static/js/addFavorite.js"></script>
  {% endblock %}