<!-- 忘記密碼頁面 -->
<!DOCTYPE html>
<html>

<head>
    <title>忘記密碼頁面</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/forget.css">
    <link rel="stylesheet" href="../static/css/bootstrap2023.css">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/js/createT.js">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="height: 80px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">趣放假</a>
            <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">建立行程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">我的行程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/_get_all_taiwan">景點資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/favorite">我的收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="forget">
        <h1>Trip Fun Chill 趣放假！</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="email" placeholder="輸入註冊時使用的e-mail" required name="email">
            <input class="pure-button-forget" type="submit" value="發送驗證碼">
        </form>
        {{msg}}
        <div class="message">
            <a href="/login">返回登入頁面</a>
        </div>
    </div>
</body>

</html>