<div class="openDetailDiv" id="details{{ item.my_history.id }}">
    <div style="padding: 0 5px;">
      <div style="height: 40px;">
        <span style="font-size: 18px;line-height: 40px;font-weight: bold;">{{data.ct_name}}</span>
      </div>
      <hr style="margin-top: 0;">
      <div style="float: right;">
        <span>分享人：{{data.u.username}}</span>
      </div>
      <div class="aboutDiv">
        <span>相關標籤</span>
        {% for type in data.is_fit %}<span class="filter">{{type}}</span>{% endfor %}
        
      </div>
    </div>
    <div>
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <!-- 圖片要幫忙抓他選到景點的圖 -->
          {% for img in data.get_attractions_picture %}
          <div class="carousel-item active historyCarousel">
            <img src="/static/images/attractions/{{img.a__place_id}}_0.jpg" class="img-responsive historyCarouselImg" width="100%" alt="">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="imgCounter" id="imgCounter">
          <!-- JS裡面顯示目前是第幾張 -->
        </div>
      </div>
    </div>
    <div class="commentArea">
      <span>評論區</span>
      <div>
        <div class="addCommentDiv">
          <button class="addCommentBtn" id="addCommentBtn" onclick="addComment()">新增評論</button>
          <div class="addCommentSpace" id="addCommentSpace" style="display: none;">
            <textarea class="addCTXT" id="addCTXT" placeholder="留下你的印記吧"></textarea>
            <button class="commentSubmit" id="commentSubmit" onclick="submitComment()">送出</button>
          </div>
        </div>
        <div class="row alreadyComment" id="alreadyComment">
          <div class="col-auto otherCommentAvatar">
            <img src="../static/images/cloud1.png" class="img-responsive" style="width: 100%;" alt=""><br>
          </div>
          <div class="col otherCommentTxtDiv">
            <span class="otherCommentTxt" id="otherCommentTxt">
              隨邊說說這裡是評論文字的地方<br>
              隨邊說說這裡是評論文字的地方<br>
              隨邊說說這裡是評論文字的地方<br>
              隨邊說說這裡是評論文字的地方
            </span>
            <div class="c_editDiv">
              <div class="c_edit_iconDiv">
                <button class="fa-solid fa-pen-to-square c_edit_icon c_icon" id="c_edit_icon" onclick="editComment()"></button>
              </div>
              <div class="c_delete_iconDiv">
                <button class="fa-solid fa-trash c_delete_icon c_icon" id="c_delete_icon"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
// 顯示目前是第幾張圖
document.addEventListener("DOMContentLoaded", function () {
    var carousel = document.getElementById('carouselExampleRide');
    var counter = document.getElementById('imgCounter');
    var totalItems = carousel.querySelectorAll('.carousel-item').length; // 定義 totalItems 變數，表示總共有幾張圖片
  
    var carouselInstance = new bootstrap.Carousel(carousel, {
      interval: 3000
    });
  
    carouselInstance.update = function () {
      var activeIndex = Array.from(carousel.querySelectorAll('.carousel-item')).indexOf(carousel.querySelector('.carousel-item.active')) + 1;
      counter.innerHTML = activeIndex + '  /  ' + totalItems;
    };
  
    carousel.addEventListener('slid.bs.carousel', function () {
      carouselInstance.update();
    });
  
    carouselInstance.update();
  });

</script>