

<div class="openDetailDiv" id="details{{ item.my_history.id }}">
    <div style="padding: 0 5px;">
      <div style="height: 40px;">
        <span style="font-size: 18px;line-height: 40px;font-weight: bold;">{{data.ct_name}}</span>
      </div>
      <hr style="margin-top: 0;">
      <div style="float: right;">
        <span>分享人：{{data.u.username}}</span>
      </div>
      <div class="aboutDiv">
        <span>相關標籤</span>
        {% for type in data.is_fit %}<span class="filter">{{type}}</span>{% endfor %}
        
      </div>
    </div>
    <div>
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <!-- 圖片要幫忙抓他選到景點的圖 -->
          {% for img in data.get_attractions_picture %}
          {% if forloop.counter == 1 %}
          <div class="carousel-item active historyCarousel">
            <img src="/static/images/attractions/{{img.a__place_id}}_0.jpg" class="img-responsive historyCarouselImg" width="100%" alt="">
          </div>
          {% else %}
          <div class="carousel-item historyCarousel">
            <img src="/static/images/attractions/{{img.a__place_id}}_0.jpg" class="img-responsive historyCarouselImg" width="100%" alt="">
          </div>
          {% endif %}
          {% empty %}
          <div class="carousel-item active historyCarousel">
            <img src="/static/images/att_picture.png" class="img-responsive historyCarouselImg" width="100%" alt="">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="imgCounter" id="imgCounter">
          <!-- JS裡面顯示目前是第幾張 -->
        </div>
      </div>
    </div>
    <div class="commentArea">
      <span style="line-height:60px;font-size:20px;margin-left:10px;">行程簡介</span>
      <div>

        <div class="row alreadyComment" id="alreadyComment">
          {% comment %} <div class="col-auto otherCommentAvatar">
            <img src="../static/images/cloud1.png" class="img-responsive" style="width: 100%;" alt=""><br>
          </div> {% endcomment %}
          {% if data.detail %}
          <div class="col otherCommentTxtDiv">
            <span class="otherCommentTxt" id="otherCommentTxt" data-set="{{data.id}}">
              {{data.detail}}
            </span>
            <div class="c_editDiv">
              <div class="c_edit_iconDiv">
                <button class="fa-solid fa-pen-to-square c_edit_icon c_icon" id="c_edit_icon" onclick="editComment('',{{data.id}})"></button>
              </div>
            </div>
          </div>
          {% else %}
          <div class="addCommentDiv">
            <button class="addCommentBtn" id="addCommentBtn" onclick="addComment()">新增簡介</button>
            <div class="addCommentSpace" id="addCommentSpace" style="display: none;">
              <textarea class="addCTXT" id="addCTXT" placeholder="留下你的印記吧"></textarea>
              <button class="commentSubmit" id="commentSubmit" onclick="submitComment({{data.id}})">送出</button>
            </div>
          </div>
          {% endif %}
          
        </div>

        <span style="line-height:60px;font-size:20px;margin-left:10px;">評論</span>
        <div class="row alreadyComment" style="margin-left:10px">
          
        {% for comment in data.get_comment %}
          <div class="review-content">
            <div class="head">
              <div class="info">
                <img class="user-img" src="{{comment.u.get_photo}}" alt="">
                <p class="user-name">{{comment.u.username}}<br>{{comment.comment_date}}</p>
                <p></p>
              </div>
              {% comment %} <div>
                <i class="fa-regular fa-thumbs-up" onclick="like()"></i>
              </div> {% endcomment %}
            </div>
            <div class="body">
              <p>{{comment.content}}</p>
            </div>
            </div>
          </div>
        {% endfor %}
        </div>
        
      </div>
    </div>
  </div>


  <script src="/static/js/history.js"></script>