{% extends 'base.html' %}
{% block title %}首頁{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}


{% block body %}
<div id="main">
  <div class="triangle hideme"></div>
  <div class="container_carousel container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div>
        <span class="hidemehot" style="display: flex;align-items: center;margin-bottom: 10px;">
          <img src="../static/images/hot_icon.png" class="hot_icon">
          <span class="hot_spot_title">熱門景點</span>
        </span>
      </div>
      <div class="carousel-inner hidemehottoleft">
        {% for i in hotAttractionsList %}

        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}

            <div class="row">

              {% for item in i %}
              <div class="col-4 carousel_block">
                <div class="imgcontainer">
                  <div class="slideshow-container" id="imageContainer" onmouseover="startSlideshow(this)" onmouseout="stopSlideShow(this)">
                    <!-- 圖片要換成你們抓的 看你們要放幾張 -->
                    {% for  img in item.imglist %}
                    {% if forloop.counter == 1 %} 
                    <img src="/static/images/attractions/{{img}}" class="changeImg changeImg_show">
                    {% else %}
                    <img src="/static/images/attractions/{{img}}" class="changeImg">
                    {% endif %}
                    {% endfor %}
                    {% comment %} <img src="../static/images/101.jpg" class="changeImg changeImg_show">
                    <img src="../static/images/bg6.jpeg" class="changeImg">
                    <img src="../static/images/cake01.jpg" class="changeImg"> {% endcomment %}
                    <!-- <img src="../static/images/beitou.jpeg" class="img-responsive bottom" alt="">
                    <img src="/static/images/attractions/{{item.place_id}}_0.jpg" class="img-responsive top" alt=""> -->
                  </div>
                  {% if item.is_favorite == "1" %}
                  <button class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="{{item.is_favorite}}"
                    data-id="{{item.id}}" data-type="/add_favorite/"></button>
                  {% else %}
                  <button class="fa-solid fa-heart heart_icon" data-isfavorite="{{item.is_favorite}}"
                    data-id="{{item.id}}" data-type="/add_favorite/"></button>
                  {% endif %}
                </div>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu">
                    <div><a class="dropdown_item" href="/createindex">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
                <div class="carousel_txt">
                  <h4 class="c_title">
                    {{item.a_name}}
                  </h4>
                  <p class="c_txt">
                    地址：{{item.address}}
                    <br>
                    評分：{{item.rating}}星
                  </p>
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
          {% endfor %}
          {% comment %}
        </div>
        {% endcomment %}
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="explore hidemeexplore">
      <a href="/attraction_details" class="explorea">探索更多相關景點資訊
        <span class="arrow"><i class="fa-solid fa-arrow-right arrowi"></i></span>
      </a>
    </div>


    <div id="container" class="container">
      <div>
        <span class="hidemehot" style="display: flex;align-items: center;margin-bottom: 10px;">
          <img src="../static/images/hot_icon.png" class="hot_icon">
          <span class="hot_spot_title">熱門行程</span>
          <span class="more_span"><a href="/share/" class="more_a">MORE</a></span>
        </span>
      </div>
      
      <div class="row">

        {% for ct in top_hot_travel %}
          <div class="col-lg-4 col-md-6 hot_spot_block hidemespot" style="padding: 5px;">
            <div class="heart_icon_img">
              
              <!-- <div class="imgcontainer"> -->
                <div class="slideshow-container" id="imageContainer" onmouseover="startSlideshow(this)" onmouseout="stopSlideShow(this)">
                  <!-- 行程圖片  目前是假資料圖片要換成你們抓的-->
                  {% for  img in ct.imglist %}
                  {% if forloop.counter == 1 %} 
                  <img src="/static/images/attractions/{{img.a__place_id}}_0.jpg" class="changeImg changeImg_show">
                  {% else %}
                  <img src="/static/images/attractions/{{img.a__place_id}}_0.jpg" class="changeImg">
                  {% endif %}
                  {%empty%}
                  <img src="/static/images/attractions/default_0.jpg" class="changeImg changeImg_show">
                  {% endfor %}
                  <!-- <img src="../static/images/beitou.jpeg" class="img-responsive bottom" alt="圖一">
                  <img src="/static/images/attractions/{{ ct.img }}_0.jpg" class="spot_img img-responsive top" width="100%" alt="圖二"> -->
                </div>
                <!-- 加入最愛 -->
                {% if ct.is_favorite == "1" %}
                  <button class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="{{ct.is_favorite}}"
                    data-id="{{ct.id}}" data-type="/add_travel_favorite/"></button>
                {% else %}
                  <button class="fa-solid fa-heart heart_icon" data-isfavorite="{{ct.is_favorite}}"
                    data-id="{{ct.id}}" data-type="/add_travel_favorite/"></button>
                {% endif %}
              <!-- </div> -->

            </div>
            <div class="spot_txt">
              <h4>
                {{ ct.ct_name }}
              </h4>
              <h5>
                作者：{{ ct.u_id.username }}
              </h5>
              <p>收藏人數：{{ ct.like }}</p>
              {% comment %} <button class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</button> {% endcomment %}
              <a href="/travel_detail/{{ ct.id }}" class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</a>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>


    {% endblock body %}

    {% block content_script %}
    <script src="../static/js/index.js"></script>
    <script src="../static/js/addFavorite.js"></script>

    {% endblock %}

    </html>