{% extends 'base.html' %}
{% block title %}首頁{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}


{% block body %}
<div id="main">
  <div class="triangle hideme"></div>
  <div class="container_carousel container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div>
        <span class="hidemehot" style="display: flex;align-items: center;margin-bottom: 10px;">
          <img src="../static/images/hot_icon.png" class="hot_icon">
          <span class="hot_spot_title">熱門景點</span>
        </span>
      </div>
      <div class="carousel-inner hidemehottoleft">
        {% for i in hotAttractionsList %}

        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}

            <div class="row">

              {% for item in i %}
              <div class="col-4 carousel_block">
                <div class="imgcontainer">
                  <div id="hover"  onmouseenter="changeImg()" onmouseleave="resetImg()">
                    <img src="../static/images/beitou.jpeg" class="img-responsive bottom" alt="">
                    <img src="/static/images/attractions/{{item.place_id}}_0.jpg" class="img-responsive top" alt="">
                  </div>
                  {% if item.is_favorite == "1" %}
                  <button class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="{{item.is_favorite}}"
                    data-id="{{item.id}}" data-type="/add_favorite/"></button>
                  {% else %}
                  <button class="fa-solid fa-heart heart_icon" data-isfavorite="{{item.is_favorite}}"
                    data-id="{{item.id}}" data-type="/add_favorite/"></button>
                  {% endif %}
                </div>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu">
                    <div><a class="dropdown_item" href="#">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
                <div class="carousel_txt">
                  <h4 class="c_title">
                    {{item.a_name}}
                  </h4>
                  <p class="c_txt">
                    地址：{{item.address}}
                    <br>
                    評分：{{item.rating}}星
                  </p>
                </div>
              </div>
              {% endfor %}
              <!-- 留下來的下面這兩個滑過去會變圖片 -->
              
              <!-- <div class="col-4 carousel_block">
                <div class="imgcontainer">
                  <div id="hover" class="hoverTest">
                    <img src="../static/images/bg6.jpeg" class="img-responsive" width="100%" />
                    <img src="../static/images/bg7.png" class="img-responsive" width="100%" />
                    <img src="../static/images/bg8.jpg" class="img-responsive" width="100%" />
                  </div>
                  <form action="/login" method="post">
                    <label for="submitButton" class="fa-solid fa-heart heart_icon" id="heart_icon"></label>
                    <input id="submitButton" type="submit" style="display: none;">
                  </form>
                </div>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu">
                    <div><a class="dropdown_item" href="#">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
                <div class="carousel_txt">
                  <h4 class="c_title">
                    中正紀念堂
                  </h4>
                  <p class="c_txt">
                    位於台北市中正區....
                    <br>
                    建議停留時間：大約1小時?
                  </p>
                </div>
              </div>
              <div class="col-4 carousel_block">
                <div class="imgcontainer">
                  <form action="/login" method="post">
                    <label for="submitButton" class="fa-solid fa-heart heart_icon" id="heart_icon"></label>
                    <input id="submitButton" type="submit" style="display: none;" click>
                  </form>
                  <div id="hover" class="hoverTest">
                    <img src="../static/images/bg1.jpg" class="img-responsive" width="100%" />
                    <img src="../static/images/bg2.jpg" class="img-responsive" width="100%" />
                    <img src="../static/images/bg5.png" class="img-responsive" width="100%" />
                  </div>
                </div>
                <div class="group">
                  <i class="fa-solid fa-plus add_icon"></i>
                  <div class="dropdown_menu">
                    <div><a class="dropdown_item" href="#">新增行程</a></div>
                    <div><a class="dropdown_item" href="#">捷運一日遊</a></div>
                    <div><a class="dropdown_item" href="#">開車一日遊</a></div>
                  </div>
                </div>
                <div class="carousel_txt">
                  <h4 class="c_title">
                    中正紀念堂123
                  </h4>
                  <p class="c_txt">
                    位於台北市中正區....
                    <br>
                    建議停留時間：大約1小時?
                  </p>
                </div>
              </div> -->
              
            </div>
          </div>
          {% endfor %}
          {% comment %}
        </div>
        {% endcomment %}
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="explore hidemeexplore">
      <a href="/attraction_details" class="explorea">探索更多相關景點資訊
        <span class="arrow"><i class="fa-solid fa-arrow-right arrowi"></i></span>
      </a>
    </div>


    <div id="container" class="container">
      <div>
        <span class="hidemehot" style="display: flex;align-items: center;margin-bottom: 10px;">
          <img src="../static/images/hot_icon.png" class="hot_icon">
          <span class="hot_spot_title">熱門行程</span>
          <span class="more_span"><a href="/share/" class="more_a">MORE</a></span>
        </span>
      </div>
      
      <div class="row">

        {% for ct in top_hot_travel %}
          <div class="col-lg-4 col-md-6 hot_spot_block hidemespot" style="padding: 5px;">
            <div class="heart_icon_img">
              
              <div class="imgcontainer">
                <div id="hover">
                  <!-- 行程圖片  將下方的bottom修改為想切換的圖片-->
                  <img src="../static/images/beitou.jpeg" class="img-responsive bottom" alt="">
                  <img src="/static/images/attractions/{{ ct.img }}_0.jpg" class="spot_img img-responsive top" width="100%" alt="">
                </div>
                <!-- 加入最愛 -->
                {% if ct.is_favorite == "1" %}
                  <button class="fa-solid fa-heart heart_icon active_heart" data-isfavorite="{{ct.is_favorite}}"
                    data-id="{{ct.id}}" data-type="/add_travel_favorite/"></button>
                {% else %}
                  <button class="fa-solid fa-heart heart_icon" data-isfavorite="{{ct.is_favorite}}"
                    data-id="{{ct.id}}" data-type="/add_travel_favorite/"></button>
                {% endif %}
              </div>

            </div>
            <div class="spot_txt">
              <h4>
                {{ ct.ct_name }}
              </h4>
              <h5>
                作者：{{ ct.u_id.username }}
              </h5>
              <p>收藏人數：{{ ct.like }}</p>
              {% comment %} <button class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</button> {% endcomment %}
              <a href="/travel_detail/{{ ct.id }}" class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</a>
            </div>
          </div>
        {% endfor %}
        
        <!--  以下為熱門行程範例~~  -->
        {% comment %} <div class="col-md-4 hot_spot_block hidemespot" style="padding: 5px;">
          <div class="heart_icon_img">
            <img src="../static/images/street.jpg" class="spot_img img-responsive" width="100%">
            <form action="/login" method="post">
              <label for="submitButton" class="fa-solid fa-heart heart_icon" id="heart_icon"></label>
              <input id="submitButton" type="submit" style="display: none;">
            </form>
          </div>
          <div class="spot_txt">
            <h4>
              捷運一日遊
            </h4>
            <h5>
              aldfhlajkdhsfl
            </h5>
            <button class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</button>
          </div>
        </div>

        <div class="col-md-4 hot_spot_block hidemespot" style="padding: 5px;">
          <div class="heart_icon_img">
            <img src="../static/images/street.jpg" class="spot_img img-responsive" width="100%">
            <form action="/login" method="post">
              <label for="submitButton" class="fa-solid fa-heart heart_icon" id="heart_icon"></label>
              <input id="submitButton" type="submit" style="display: none;">
            </form>
          </div>
          <div class="spot_txt">
            <h4>
              九份老街
            </h4>
            <h5>
              aldfhlajkdhsfl
            </h5>
            <button class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</button>
          </div>
        </div>

        <div class="col-md-4 hot_spot_block hidemespot" style="padding: 5px;">
          <div class="heart_icon_img">
            <img src="../static/images/street.jpg" class="spot_img img-responsive" width="100%">
            <!-- <i class="fa-solid fa-heart location-heart" onclick="toggleFavorite(this,{{item.id}})" id="heart-icon"></i> -->
            <form action="/login" method="post">
              <label for="submitButton" class="fa-solid fa-heart heart_icon" onclick="toggleFavorite(this,{{item.id}})"
                id="heart_icon"></label>
              <input id="submitButton" type="submit" style="display: none;">
            </form>
          </div>
          <div class="spot_txt">
            <h4>
              九份老街
            </h4>
            <h5>
              aldfhlajkdhsfl
            </h5>
            <button class="btn btn-warning spot_data_btn more_data" id="more_data">詳細資料</button>
          </div>
        </div> {% endcomment %}

      </div>
      <!-- <div class="hideme">Fade In</div> -->

    </div>

    <!-- 原本是跳出詳細景點 -->
    <!-- <div class="hot_spot_show" id="hot_spot_show">
      <div class="hot_spot_show_txt">
        <div class="hot_spot_show_title">捷運一日遊
          <div class="close">X</div>
        </div>
        <hr class="hr_style">
        <div class="hot_spot_show_author">使用者</div>

      </div>
    </div> -->

    {% endblock body %}

    {% block content_script %}
    <script src="../static/js/index.js"></script>
    <script src="../static/js/addFavorite.js"></script>

    {% endblock %}

    </html>