<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap2023.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/owl/owl.carousel.min.css">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            animation: fadeIn 0.3s forwards;
        }

        .modal.active {
            display: flex;
        }

        .modal-content {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;
            width: 80%;
            height: 80%;
            background: #fefefe;
            animation: slideIn 0.3s forwards;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes slideIn {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        .addCommentBtn {
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid orange;
            background-color: #f3f3f3;
        }

        .addCommentSpace {
            display: none;
            margin: 0 auto;
            position: relative;
        }

        .addCTXT {
            width: 90%;
            height: 150px;
        }

        .commentSubmit {
            padding: 10px 15px;
            border-radius: 30px;
            border: 0;
            background-color: rgb(1, 154, 21);
            color: white;
            font-weight: bold;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .alreadyComment {
            margin: 0;
        }

        .otherCommentAvatar {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid black;
        }


        #imageContainer {
            position: relative;
            /* width: 300px; */
            height: 300px;
            overflow: hidden;
        }

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .show {
            opacity: 1;
        }


        @media screen and (max-width: 767px) {
            .flex-container {
                flex-direction: column;
                /* 在768像素以下的螢幕上變成垂直排列 */
            }

            .item2 {
                order: -1;
            }
        }

        .containerTest {
            position: relative;
            width: 300px;
            /* 調整容器的寬度 */
        }

        .overlayTest {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            /* 文字顏色 */
            font-size: 20px;
            /* 文字大小 */
        }

        .imageTest {
            width: 100%;
            height: auto;
            z-index: 0;
            /* 圖片放在文字的下層 */
        }

        .owl-prev,
        .owl-next {
            height: 100%;
            width: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: background 0.3s;
        }

        .owl-carousel .owl-nav button.owl-next:hover,
        .owl-carousel .owl-nav button.owl-prev:hover {
            background: rgba(81, 81, 81, 0.297);
            color: white;
            border: none;
            padding: 0 !important;
            font: inherit
        }

        .owl-prev:hover,
        .owl-next:hover {
            display: block;
            height: 100%;
            width: 20px;
            background-color: rgba(0, 0, 0, 0.297);
            color: white;
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }

        .owl-next span,
        .owl-prev span {
            font-size: 28px;
        }

        .right {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid black;
            height: 500px;
            width: 150px;
            transition: right 0.3s ease;
            /* 添加过渡效果，使动画更流畅 */
        }

        .showRight_btn {
            position: absolute;
            left: -15px;
            top: 0;
            border: 1px solid black;
            height: 25px;
            width: 15px;
            cursor: pointer;
        }

        /* 隐藏右侧区域 */
        .right.hidden {
            right: -150px;
        }
    </style>
</head>

<body>
    <div id="blocks-container">
        <div class="block" id="block1">
            Block 1
            <button onclick="moveBlock('block1', 'up')">Up</button>
            <button onclick="moveBlock('block1', 'down')">Down</button>
            <button onclick="moveFirst('block1')">第一個</button>
            <button onclick="moveLast('block1')">最後</button>
        </div>
        <div class="block" id="block2">
            Block 2
            <button onclick="moveBlock('block2', 'up')">Up</button>
            <button onclick="moveBlock('block2', 'down')">Down</button>
            <button onclick="moveFirst('block2')">第一個</button>
            <button onclick="moveLast('block2')">最後</button>
        </div>
        <div class="block" id="block3">
            Block 3
            <button onclick="moveBlock('block3', 'up')">Up</button>
            <button onclick="moveBlock('block3', 'down')">Down</button>
            <button onclick="moveFirst('block3')">第一個</button>
            <button onclick="moveLast('block3')">最後</button>
        </div>
    </div>

    <div class="main" style="width: 85%;margin: 0 auto;">
        <div class="left">
            <div>
                <span>這裡顯示搜尋</span>
                <div class="searchBarDiv" style="width: 100%;border: 1px solid black;">
                    <div class="row" style="margin: 0;width: 100%;overflow-x: auto;">
                        <div style="height: 200px;width: 300px;position: relative;">
                            <img src="../static/images/101.jpg" class="img-responsive" width="100%" alt=""
                                style="position: absolute;top: 0;left: 0;height: 100%;width: 100%;object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <div class="owl-carousel owl-theme" style="border: 1px solid black;">
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                    <div class="item checkimg_div" onclick="pickspot(this)">
                        <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                        <div style="border: 1px solid #ccc;">
                            <span>show my text</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <span>這裡顯示收藏</span>
            </div>
        </div>
    </div>

    <div class="containerTest">
        <img src="../static/images/cake01.jpg" width="100%" alt="Your Image" class="img-responsive imageTest">
        <div class="overlayTest">
            <p>Your Text Here</p>
        </div>
    </div>

    <div style="height: 300px;">

    </div>
    <br><br>

    <div class="row"
        style="width: 90%;text-align: center;margin: 0 auto;height: 200px;align-content: center;margin-top: 10px;z-index: 5;">
        <div class="col-6">
            <div class="row" style="border: 1px solid black;">
                <div class="col-5">
                    <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                </div>
                <div class="col-7">
                    <button id="clickme1" data-target="show1" onclick="clickShow(this)">詳細行程</button>
                </div>
            </div>
            <div class="row" style="border: 1px solid black;">
                <div class="col-5">
                    <img src="../static/images/cloud1.png" class="img-responsive" width="100%" alt="">
                </div>
                <div class="col-7">
                    <button id="clickme2" data-target="show2" onclick="clickShow(this)">詳細行程</button>
                </div>
            </div>
            <div class="row" style="border: 1px solid black;">
                <div class="col-5">
                    <img src="../static/images/cloud1.png" class="img-responsive" width="100%" alt="">
                </div>
                <div class="col-7">
                    <button id="clickme3" data-target="show3" onclick="clickShow(this)">詳細行程</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="show1" style="display: none;border: 1px solid black;">
                <div style="padding: 0 5px;">
                    <div style="height: 40px;">
                        <span style="font-size: 18px;line-height: 40px;font-weight: bold;">行程名稱</span>
                    </div>
                    <hr style="margin-top: 0;">
                    <div style="float: right;">
                        <span>分享人：</span>
                    </div>
                    <div class="aboutDiv">
                        <span>相關標籤</span>
                        <span class="filter">動物園</span>
                    </div>
                </div>
                <div>
                    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <!-- 圖片要幫忙抓他選到景點的圖 -->
                            <div class="carousel-item active historyCarousel">
                                <img src="../static/images/101.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/beitou.jpeg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg5.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg8.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg7.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="imgCounter" id="imgCounter">
                            <!-- JS裡面顯示目前是第幾張 -->
                        </div>
                    </div>
                </div>
                <div class="commentArea">
                    <span>評論區</span>
                    <div>
                        <div class="addCommentDiv">
                            <button class="addCommentBtn" id="addCommentBtn" onclick="addComment()">新增評論</button>
                            <div class="addCommentSpace" id="addCommentSpace" style="display: none;">
                                <textarea class="addCTXT" id="addCTXT" placeholder="留下你的印記吧"></textarea>
                                <button class="commentSubmit" id="commentSubmit" onclick="submitComment()">送出</button>
                            </div>
                        </div>
                        <div class="row alreadyComment" id="alreadyComment">
                            <div class="col-auto otherCommentAvatar">
                                <img src="../static/images/cloud1.png" class="img-responsive" style="width: 100%;"
                                    alt=""><br>
                            </div>
                            <div class="col otherCommentTxtDiv">
                                <span class="otherCommentTxt" id="otherCommentTxt">
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方
                                </span>
                                <div class="c_editDiv">
                                    <div class="c_edit_iconDiv">
                                        <button class="fa-solid fa-pen-to-square c_edit_icon c_icon" id="c_edit_icon"
                                            onclick="editComment()"></button>
                                    </div>
                                    <div class="c_delete_iconDiv">
                                        <button class="fa-solid fa-trash c_delete_icon c_icon"
                                            id="c_delete_icon"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="show2" style="display: none;border: 1px solid black;">
                <div style="padding: 0 5px;">
                    <div style="height: 40px;">
                        <span style="font-size: 18px;line-height: 40px;font-weight: bold;">行程名稱</span>
                    </div>
                    <hr style="margin-top: 0;">
                    <div style="float: right;">
                        <span>分享人：</span>
                    </div>
                    <div class="aboutDiv">
                        <span>相關標籤</span>
                        <span class="filter">動物園</span>
                    </div>
                </div>
                <div>
                    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <!-- 圖片要幫忙抓他選到景點的圖 -->
                            <div class="carousel-item active historyCarousel">
                                <img src="../static/images/101.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/beitou.jpeg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg5.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg8.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg7.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="imgCounter" id="imgCounter">
                            <!-- JS裡面顯示目前是第幾張 -->
                        </div>
                    </div>
                </div>
            </div>
            <div id="show3" style="display: none;border: 1px solid black;">
                <div style="padding: 0 5px;">
                    <div style="height: 40px;">
                        <span style="font-size: 18px;line-height: 40px;font-weight: bold;">行程名稱</span>
                    </div>
                    <hr style="margin-top: 0;">
                    <div style="float: right;">
                        <span>分享人：</span>
                    </div>
                    <div class="aboutDiv">
                        <span>相關標籤</span>
                        <span class="filter">動物園</span>
                    </div>
                </div>
                <div>
                    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-inner">
                            <!-- 圖片要幫忙抓他選到景點的圖 -->
                            <div class="carousel-item active historyCarousel">
                                <img src="../static/images/101.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/beitou.jpeg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg5.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg8.jpg" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                            <div class="carousel-item historyCarousel">
                                <img src="../static/images/bg7.png" class="img-responsive historyCarouselImg"
                                    width="100%" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="imgCounter" id="imgCounter">
                            <!-- JS裡面顯示目前是第幾張 -->
                        </div>
                    </div>
                </div>
                <div class="commentArea">
                    <span>評論區</span>
                    <div>
                        <div class="addCommentDiv">
                            <button class="addCommentBtn" id="addCommentBtn" onclick="addComment()">新增評論</button>
                            <div class="addCommentSpace" id="addCommentSpace" style="display: none;">
                                <textarea class="addCTXT" id="addCTXT" placeholder="留下你的印記吧"></textarea>
                                <button class="commentSubmit" id="commentSubmit" onclick="submitComment()">送出</button>
                            </div>
                        </div>
                        <div class="row alreadyComment" id="alreadyComment">
                            <div class="col-auto otherCommentAvatar">
                                <img src="../static/images/cloud1.png" class="img-responsive" style="width: 100%;"
                                    alt=""><br>
                            </div>
                            <div class="col otherCommentTxtDiv">
                                <span class="otherCommentTxt" id="otherCommentTxt">
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方<br>
                                    隨邊說說這裡是評論文字的地方
                                </span>
                                <div class="c_editDiv">
                                    <div class="c_edit_iconDiv">
                                        <button class="fa-solid fa-pen-to-square c_edit_icon c_icon" id="c_edit_icon"
                                            onclick="editComment()"></button>
                                    </div>
                                    <div class="c_delete_iconDiv">
                                        <button class="fa-solid fa-trash c_delete_icon c_icon"
                                            id="c_delete_icon"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 按钮触发模态框 -->
    <a class="fa-solid fa-circle-info info_icon" style="font-size: 28px;" onclick="clickInfo(this)">click 1</a>

    <a class="fa-solid fa-circle-info info_icon" style="font-size: 28px;" onclick="clickInfo(this)">click 2</a>

    <!-- 模态框 -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close" onclick="clickClose()">&times;</span>
            <div id="changeInfo">
                {% include "attractions_info.html" %}
            </div>
        </div>
    </div>

    <main>
        <div>
            <div class="addCommentDiv">
                <button class="addCommentBtn" id="addCommentBtn" onclick="addComment()">新增評論</button>
                <div class="addCommentSpace" id="addCommentSpace" style="display: none;">
                    <textarea class="addCTXT" id="addCTXT" placeholder="留下你的印記吧"></textarea>
                    <button class="commentSubmit" id="commentSubmit" onclick="submitComment()">送出</button>
                </div>
            </div>
            <div class="row alreadyComment" id="alreadyComment">
                <div class="col-auto otherCommentAvatar">
                    <img src="../static/images/cloud1.png" class="img-responsive" style="width: 100%;" alt=""><br>
                </div>
                <div class="col otherCommentTxtDiv">
                    <span class="otherCommentTxt" id="otherCommentTxt">
                        隨邊說說這裡是評論文字的地方<br>
                        隨邊說說這裡是評論文字的地方<br>
                        隨邊說說這裡是評論文字的地方<br>
                        隨邊說說這裡是評論文字的地方
                    </span>
                </div>
            </div>
        </div>
    </main>


    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script>
        let blocksOrder = [];
        let blockElements = document.querySelectorAll('.block');
        let blockCount = blockElements.length;

        // 初始化 blocksOrder 陣列
        for (let i = 1; i <= blockCount; i++) {
            blocksOrder.push(i);
        }

        function moveBlock(blockId, direction) {
            let currentIndex = blocksOrder.indexOf(parseInt(blockId.slice(-1))); // 取得目前區塊的索引位置

            if (direction === 'up' && currentIndex > 0) {
                // 往上移動
                let temp = blocksOrder[currentIndex];
                blocksOrder[currentIndex] = blocksOrder[currentIndex - 1];
                blocksOrder[currentIndex - 1] = temp;
            } else if (direction === 'down' && currentIndex < blocksOrder.length - 1) {
                // 往下移動
                let temp = blocksOrder[currentIndex];
                blocksOrder[currentIndex] = blocksOrder[currentIndex + 1];
                blocksOrder[currentIndex + 1] = temp;
            }

            rearrangeBlocks();
        }


        function rearrangeBlocks() {
            let parent = document.getElementById('blocks-container');

            // 清空容器
            parent.innerHTML = '';

            // 重新根據新的順序建立區塊
            blocksOrder.forEach((blockNum) => {
                let block = document.createElement('div');
                block.className = 'block';
                block.id = 'block' + blockNum;
                block.textContent = 'Block ' + blockNum;

                let upButton = document.createElement('button');
                upButton.textContent = 'Up';
                upButton.onclick = function () {
                    moveBlock('block' + blockNum, 'up');
                };

                let downButton = document.createElement('button');
                downButton.textContent = 'Down';
                downButton.onclick = function () {
                    moveBlock('block' + blockNum, 'down');
                };

                let firstButton = document.createElement('button');
                firstButton.textContent = '第一個';
                firstButton.onclick = function () {
                    moveFirst('block' + blockNum);
                };

                let lastButton = document.createElement('button');
                lastButton.textContent = '最後';
                lastButton.onclick = function () {
                    moveLast('block' + blockNum);
                };

                block.appendChild(upButton);
                block.appendChild(downButton);
                block.appendChild(firstButton);
                block.appendChild(lastButton);
                parent.appendChild(block);
            });
        }
        function moveFirst(blockId) {
            let index = blocksOrder.indexOf(parseInt(blockId.slice(-1)));
            if (index > 0) {
                blocksOrder.splice(index, 1);
                blocksOrder.unshift(parseInt(blockId.slice(-1)));
                rearrangeBlocks();
            }
        }

        function moveLast(blockId) {
            let index = blocksOrder.indexOf(parseInt(blockId.slice(-1)));
            if (index < blocksOrder.length - 1) {
                blocksOrder.splice(index, 1);
                blocksOrder.push(parseInt(blockId.slice(-1)));
                rearrangeBlocks();
            }
        }
        function clickShow(button) {
            const targetBtn = button.getAttribute('data-target');
            const showDiv = document.getElementById(targetBtn);

            if (showDiv.style.display === 'block') {
                showDiv.style.display = 'none';
                button.textContent = '詳細行程';
            } else {
                showDiv.style.display = 'block';
                button.textContent = '關閉預覽';

                const leftButtonRect = button.getBoundingClientRect(); // 获取左侧按钮位置信息
                const rightDiv = showDiv; // 获取右侧区块的引用

                // 设置右侧区块的位置
                rightDiv.style.position = 'absolute';
                rightDiv.style.top = `${leftButtonRect.top}px`; // 根据左侧按钮的位置设置右侧区块的位置

                // 隐藏其他展开区块（可选）
                document.querySelectorAll("[id^='show']").forEach(div => {
                    if (div !== showDiv) {
                        div.style.display = 'none';
                    }
                });

                // 获取所有左侧按钮并更改非当前点击按钮的文本为 "詳細行程"
                const allButtons = document.querySelectorAll("[id^='clickme']");
                allButtons.forEach(btn => {
                    if (btn !== button) {
                        btn.textContent = '詳細行程';
                    }
                });
            }
        }


        const rightBtn = document.getElementById('showRight');
        const rightDiv = document.getElementById('rightDiv'); // 修改为正确的ID

        function showRightDiv() {
            rightDiv.classList.toggle('hidden');
        }

        $('.owl-carousel').owlCarousel({
            items: 4,
            loop: true,
            margin: 10,
            dots: false,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })

        function clickInfo(element) {
            var modal = document.getElementById('myModal');
            modal.classList.add('active');
        }
        function clickClose() {
            var modal = document.getElementById('myModal');
            modal.classList.remove('active');
        }

        function saveTabState(tabId) {
            var tabs = document.getElementsByClassName('tab-pane');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].style.display = 'none';
            }

            var tab = document.getElementById(tabId);
            tab.style.display = 'block';
        }

        var isLikeVisible = false;

        function openLikeBtn() {

            var openlike = $('.openlike');

            isLikeVisible = !isLikeVisible

            if (isLikeVisible) {
                openlike.animate({
                    height: "show"
                }, 500);
            } else {
                openlike.animate({
                    height: "hide"
                }, 500);
            }
        }

        var isRecVisible = false;
        function openRecBtn() {

            var openRec = $('.openRec');

            isRecVisible = !isRecVisible

            if (isRecVisible) {
                openRec.animate({
                    height: "show"
                }, 500);
            } else {
                openRec.animate({
                    height: "hide"
                }, 300);
            }
        }
    </script>
</body>

</html>