<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap2023.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .showserachBlock {
            display: block;
        }

        .searchAndlikeAndrec {
            position: relative;
            margin: 0 auto;
        }

        .change {
            width: 95%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            /* 隐藏背面 */
            transform-style: preserve-3d;
            /* 保持3D效果 */
            transition: transform 0.5s;
            font-size: 24px;
            transform: rotateY(0deg);
            /* 初始状态：不翻转 */
        }

        #searchBlock {
            transform: rotateY(180deg);
            /* 初始状态：翻转180度 */
        }
    </style>
</head>

<body>
    <main style="width: 90%;margin: 0 auto;">
        <div class="row" style="text-align: center;width: 50%; margin: 0 auto;">
            <div class="col-md-6">
                行程名稱：
            </div>
            <div class="col-md-6">
                行程時間：
            </div>
        </div>
        <ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true" onclick="saveTabState('home')">第一天</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second" type="button"
                    role="tab" aria-controls="second" aria-selected="false"
                    onclick="saveTabState('second')">第二天</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent" style="width: 100%;margin: 0 auto;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                style="display: flex;justify-content: center;align-items: center;align-content: center;">
                <div class="row" style="width: 100%;">
                    <div class="col-6" style="border: 1px solid black;">
                        我是左邊 顯示已排完序的景點
                        <div>
                            <div class="tabD">
                                <span id="tabDT">請輸入出發時間：</span>
                                <input type="time" name="nowtime" id="nowtime" {% if user_nowtime
                                    %}value="{{user_nowtime}}" {% else %}value="09:00" {% endif %}>
                            </div>
                            <div class="tabD">
                                <span id="tabDL">使用者位置：</span>
                                <label class="input_txt" id="userLocationName-{{ days }}"> 位置</label>
                                <p></p>
                                <input type="hidden" id="userLocation-{{ days }}" value="{{local_xy.0}},{{local_xy.1}}">
                                <button type="button" id="nowLocationButton-{{ days }}"
                                    onclick="get_nowLocation({{ days }})">取得目前位置</button>
                                <button type="button" id="mapButton-{{ days }}"
                                    onclick="get_map({{ days }})">選擇位置</button>
                                <button type="button" id="okButton-{{ days }}"
                                    onclick="clickOkButton({{ days }})">確認</button>
                                <input type="hidden" placeholder="day" class="nowday" id="nowday">
                            </div>
                        </div>
                        <div>
                            推薦景點<br>
                            左邊區塊點的景點加入右邊 這樣如果他附近沒有想去的地方可以從最愛或搜尋抓<br>
                            顯示已排完序的景點
                        </div>
                    </div>
                    <div class="col-6 searchAndlikeAndrec"
                        style="position: relative;border: 1px solid black;overflow-y: scroll;height: 800px;">
                        <button class="changeToSearch" style="position: absolute;right: 5px; top: 5px;z-index: 100;"
                            id="changeToSearch" onclick="clickChange()">切換搜尋</button>
                        <div class="change searchBlock" id="searchBlock">搜尋欄
                            <form action="">
                                <input type="text" placeholder="請輸入景點名稱">
                            </form>
                        </div>
                        <div class="change likeAndRec" id="likeAndRec">
                            <div>
                                <div onclick="openLikeBtn()"
                                    style="display: flex;cursor: pointer;align-items: center;align-content: center;padding: 10px 0;">
                                    <i class="fa-solid fa-heart"
                                        style="color: white;background-color: rgb(255, 41, 101); border-radius: 50%;padding: 10px;margin-right: 5px;"></i>
                                    <span style="font-size: 28px;font-weight: bold;">我的收藏</span>
                                </div>
                                <div class="row openlike" style="display: none;">
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/cake01.jpg" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/Datong.jpeg" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/cloud1.png" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div onclick="openRecBtn()"
                                    style="display: flex;cursor: pointer;align-items: center;align-content: center;">
                                    <i class="fa-solid fa-thumbs-up"
                                        style="color: white;background-color: rgb(255, 41, 101); border-radius: 50%;padding: 10px;margin-right: 5px;"></i>
                                    <span style="font-size: 28px;font-weight: bold;">相似景點</span>
                                </div>
                                <div class="row openRec" style="display: none;">
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/cake01.jpg" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/cloud1.png" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
                                        <div style="border: 1px solid black;">
                                            <img src="../static/images/101.jpg" class="img-responsive" width="100%"
                                                alt="">
                                        </div>
                                        <div style="border: 1px solid black;">
                                            我是介紹圖片的文字
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                我是第二天
                <!-- <ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="child1-tab" data-bs-toggle="tab" data-bs-target="#child1"
                            type="button" role="tab" aria-controls="child1" aria-selected="true"
                            onclick="saveTabState('child1')">第一天</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="child2-tab" data-bs-toggle="tab" data-bs-target="#child2"
                            type="button" role="tab" aria-controls="child2" aria-selected="false"
                            onclick="saveTabState('child2')">第二天</button>
                    </li>
                </ul> -->
                <!-- <div class="tab-child1" id="myTabchild1" style="width: 80%;margin: 0 auto;">
                    <div class="tab-pane fade show active" id="child1" role="tabpanel" aria-labelledby="child1-tab"
                        style="display: flex;justify-content: center;align-items: center;align-content: center;">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-4 col-sm-6">
                                <div class="img">
                                    <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                                </div>
                                <div class="txt">
                                    <span>testtest</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="img">
                                    <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                                </div>
                                <div class="txt">
                                    <span>testtest</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="img">
                                    <img src="../static/images/cake01.jpg" class="img-responsive" width="100%" alt="">
                                </div>
                                <div class="txt">
                                    <span>testtest</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="child2" role="tabpanel" aria-labelledby="child2-tab">
                        我是內容<br>我是內容<br>我是內容<br>我是內容<br>我是內容<br>
                    </div>
                </div> -->
            </div>
        </div>
    </main>


    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        var islikeAndRecVisible = false;

        function clickChange() {
            const likeAndRec = document.getElementById('likeAndRec');
            const searchBlock = document.getElementById('searchBlock');
            const button = document.getElementById("changeToSearch");

            islikeAndRecVisible = !islikeAndRecVisible

            if (islikeAndRecVisible) {
                likeAndRec.style.transform = 'rotateY(180deg)';
                searchBlock.style.transform = 'rotateY(0deg)';
                button.textContent = "收藏與推薦";
            } else {
                likeAndRec.style.transform = 'rotateY(0deg)';
                searchBlock.style.transform = 'rotateY(180deg)';
                button.textContent = "切換搜尋";
            }

        }
        function saveTabState(tabId) {
            var tabs = document.getElementsByClassName('tab-pane');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].style.display = 'none';
            }

            var tab = document.getElementById(tabId);
            tab.style.display = 'block';
        }

        // var isSearchVisible = false;
        // function clickChange() {
        //     var likeAndRec = $(".likeAndRec");
        //     var searchBlock = $(".searchBlock");

        //     isSearchVisible = !isSearchVisible;


        //     if (isSearchVisible) {
        //         likeAndRec.fadeOut(200);
        //         searchBlock.fadeIn(200);
        //         $("#changeToSearch").text("收藏與推薦");
        //     } else {
        //         searchBlock.fadeOut(200);
        //         likeAndRec.fadeIn(200);
        //         $("#changeToSearch").text("切換搜尋");
        //     }
        // }

        var isLikeVisible = false;

        function openLikeBtn() {

            var openlike = $('.openlike');

            isLikeVisible = !isLikeVisible

            if (isLikeVisible) {
                openlike.animate({
                    height: "show"
                }, 500);
            } else {
                openlike.animate({
                    height: "hide"
                }, 500);
            }
        }

        var isRecVisible = false;
        function openRecBtn() {

            var openRec = $('.openRec');

            isRecVisible = !isRecVisible

            if (isRecVisible) {
                openRec.animate({
                    height: "show"
                }, 500);
            } else {
                openRec.animate({
                    height: "hide"
                }, 300);
            }
        }
    </script>
</body>

</html>