{% extends 'base.html' %}

{% block title %}分享行程頁面{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/share.css">
<link rel="stylesheet" href="../static/css/bootstrap2023.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
  .location-wrap img {
    object-fit: cover;
    width: 350px; 
    height: 300px;
  }

  .location-wrap {
    position: relative; 
  }

  .delete-icon {
    position: absolute;
    top: 10px;  
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../static/images/trash-icon.png');
    background-size: cover;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

</style>
{% endblock %}

{% block body %}

<!-- Tabs navs -->
<div class="text-center mt-5">
  <h2><i class="fas fa-heart text-danger"></i> 已分享行程</h2>
</div>
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <span class="delete-icon" style="color: white;"><i class="fas fa-trash-alt"></i></span>
            <img src="../static/images/pingxi.jpg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">阿亮</h4>
            <h5>0318台北平溪</h5>
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <span class="delete-icon" style="color: white;"><i class="fas fa-trash-alt"></i></span>
            <img src="../static/images/Daan.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">小灣</h4>
            <h5>0528台北大安</h5> 
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <span class="delete-icon" style="color: white;"><i class="fas fa-trash-alt"></i></span>
            <img src="../static/images/Datong.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">奇美</h4>
            <h5>0713大同區</h5>
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/share.js"></script>
{% endblock body %}