{% extends 'base.html' %}

{% block title %}分享行程頁面{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/share.css">
<style>
  .location-wrap img {
    object-fit: cover;
    width: 350px;
    height: 300px;
  }

  .location-wrap {
    position: relative; 
  }

  .toggle-switch {
    position: absolute;
    top: 10px;  
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.2s;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .slider {
    transform: translateX(20px);
  }


</style>
{% endblock %}

{% block body %}

<!-- Tabs navs -->
<ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
      role="tab" aria-controls="home" aria-selected="true" onclick="saveTabState('home')">已分享行程</button>
  </li>
</ul>
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <label class="toggle-switch">
              <input type="checkbox" class="toggle-heart-checkbox" id="toggleHeart1">
              <span class="slider"></span>
            </label>
            <img src="../static/images/pingxi.jpg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">阿亮</h4>
            <h5>0318台北平溪</h5>
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <label class="toggle-switch">
              <input type="checkbox" class="toggle-heart-checkbox" id="toggleHeart2">
              <span class="slider"></span>
            </label>
            <img src="../static/images/Daan.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">小灣</h4>
            <h5>0528台北大安</h5> 
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <label class="toggle-switch">
              <input type="checkbox" class="toggle-heart-checkbox" id="toggleHeart3">
              <span class="slider"></span>
            </label>
            <img src="../static/images/Datong.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">奇美</h4>
            <h5>0713大同區</h5>
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/share.js"></script>
{% endblock body %}