{% extends 'base.html' %}

{% block title %}所有分享行程頁面{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/share.css">
<link rel="stylesheet" href="../static/css/bootstrap2023.css">
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> 主要影響toolbar的原因 {% endcomment %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> {% endcomment %}
<style>
  .location-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .location-wrap img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .description {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    white-space: normal;
  }


  .delete-icon {
    background-image: url('../static/images/trash-icon.png');
    background-size: cover;
    cursor: pointer;
    margin-left: 10px;
  }

  .heart-icon {
    animation: heartBeat 1s infinite;
  }

  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
</style>
{% endblock %}

{% block body %}


<!-- Tabs navs -->
<div class="text-center mt-5">
  <h2><i class="fas fa-heart text-danger"></i> 已公開行程</h2>

  <div class="container">
    <div class="row justify-content-center">

      {% for item in all_share_list %}
        <div class="col-md-4 d-flex justify-content-center">
          <div class="card">
            <div class="location-wrap" style="position: relative;">
              <img src="/static/images/attractions/{{ item.img }}_0.jpg" class="img-responsive custom-image">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">{{item.ct_name}}</h4>
              <h5>user:{{ item.u_id.username }}</h5>
              {% comment %} <p class="description">20230318去平溪玩水一天</p> {% endcomment %}
              <div class = "container">
              <a href="/travel_detail/{{ item.id }}" class="btn btn-warning spot_data_btn">詳細資料</a>
              {% comment %} <span class="delete-icon" style="color: black;"><i class="fas fa-trash-alt"></i></span> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- 以下為範例 -->
      <!-- <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <img src="../static/images/pingxi.jpg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">阿亮</h4>
            <h5>0318台北平溪</h5>
            <p class="description">20230318去平溪玩水一天</p>
            <div class = "container">
            <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
            <span class="delete-icon" style="color: black;"><i class="fas fa-trash-alt"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <img src="../static/images/Daan.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">小灣</h4>
            <h5>0528台北大安</h5>
            <p class="description">20230528大安自駕自由行</p> 
            <div class = "container">
              <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
              <span class="delete-icon" style="color: black;"><i class="fas fa-trash-alt"></i></span>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="location-wrap" style="position: relative;">
            <img src="../static/images/Datong.jpeg" class="img-responsive custom-image">
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">奇美</h4>
            <h5>0713大同區</h5>
            <p class="description">20230713大同一日遊</p>
            <div class = "container">
              <a href="./attraction_details" class="btn btn-warning spot_data_btn">詳細資料</a>
              <span class="delete-icon" style="color: black;"><i class="fas fa-trash-alt"></i></span>
              </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
<script src="/static/js/share.js"></script>
<script>
  const deleteIcons = document.querySelectorAll('.delete-icon');
  deleteIcons.forEach(icon => {
    icon.addEventListener('click', () => {
      const isConfirmed = confirm('確定要刪除嗎？');
      if (isConfirmed) {
        icon.closest('.col-md-4').remove();
      }
    });
  });
</script>
{% endblock body %}