<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../網頁練習/css/bootstrap2023.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="../網頁練習/js/bootstrap.min.js"></script>
  <title>Test base</title>
  <style>
    /* 隐藏非活动选项卡的内容 */
    .tab-pane {
      display: none;
      height: 0;
      overflow: hidden;
    }

    /* 显示活动选项卡的内容 */
    .tab-pane.active {
      display: block;
      height: auto;
    }

    .filiter_tagtxt {
      display: block;
      height: 50px;
      line-height: 50px;
      width: 100px;
      text-align: center;
      font-size: 20px;
      border: 1px solid black;
      cursor: pointer;
    }

    .show_filiter {
      display: none;
    }

    #checkbox input[type="checkbox"] {
      display: none;
    }

    #checkbox input:checked+.button {
      background: #5e7380;
      color: #fff;
    }

    #checkbox .button {
      display: inline-block;
      margin: 0 5px 10px 0;
      padding: 5px 10px;
      background: #f7f7f7;
      color: #333;
      cursor: pointer;
    }

    #checkbox .button:hover {
      background: #bbb;
      color: #fff;
    }

    #checkbox .round {
      border-radius: 5px;
    }

    .pickimg {
      padding: 0;
      border: 1px solid blue;
      transform: scale(0.95);
    }

    .list {
      margin: 200px auto;
      width: 200px;
    }

    .innerlist {
      margin: 5px;
      text-align: center;
      width: 400px;
      height: 200px;
      line-height: 200px;
      background-color: skyblue;
      box-shadow: 3px 3px 4px #333;
    }

    .innerlist .moving {
      background-color: transparent;
      color: transparent;
      border: 1px dashed #ccc;
    }

    .sortable {
      margin: 0;
      padding: 0;
      width: 60%;
    }

    .innsersortable {
      margin: 0 3px 3px 3px;
      padding: 0.4em;
      padding-left: 1.5em;
      font-size: 1.4em;
      height: 20px;
    }
  </style>
</head>

<body>


  <ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
        aria-controls="home" aria-selected="true" onclick="saveTabState('home')">最愛景點</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
        aria-controls="contact" aria-selected="false" onclick="saveTabState('contact')">最愛行程</button>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent" style="width: 80%;margin: 0 auto;">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
      style="display: flex;justify-content: center;align-items: center;align-content: center;">
      <div class="row" style="width: 90%;">
        <div class="col-md-4 col-sm-6">
          <div class="img">
            <img src="../網頁練習/images/cake01.jpg" class="img-responsive" width="100%" alt="">
          </div>
          <div class="txt">
            <span>testtest</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="img">
            <img src="../網頁練習/images/cake02.jpg" class="img-responsive" width="100%" alt="">
          </div>
          <div class="txt">
            <span>testtest</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="img">
            <img src="../網頁練習/images/cake02.jpg" class="img-responsive" width="100%" alt="">
          </div>
          <div class="txt">
            <span>testtest</span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <ul class="nav nav-tabs flex justify-content-center mt-5 my-nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="child1-tab" data-bs-toggle="tab" data-bs-target="#child1" type="button"
            role="tab" aria-controls="child1" aria-selected="true" onclick="saveTabState('child1')">第一天</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="child2-tab" data-bs-toggle="tab" data-bs-target="#child2" type="button"
            role="tab" aria-controls="child2" aria-selected="false" onclick="saveTabState('child2')">第二天</button>
        </li>
      </ul>
      <div class="tab-child1" id="myTabchild1" style="width: 80%;margin: 0 auto;">
        <div class="tab-pane fade show active" id="child1" role="tabpanel" aria-labelledby="child1-tab"
          style="display: flex;justify-content: center;align-items: center;align-content: center;">
          <div class="row" style="width: 100%;">
            <div class="col-md-4 col-sm-6">
              <div class="img">
                <img src="../網頁練習/images/cake01.jpg" class="img-responsive" width="100%" alt="">
              </div>
              <div class="txt">
                <span>testtest</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="img">
                <img src="../網頁練習/images/cake01.jpg" class="img-responsive" width="100%" alt="">
              </div>
              <div class="txt">
                <span>testtest</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="img">
                <img src="../網頁練習/images/cake01.jpg" class="img-responsive" width="100%" alt="">
              </div>
              <div class="txt">
                <span>testtest</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="child2" role="tabpanel" aria-labelledby="child2-tab">
          <div class="filiter">
            <div class="filiter_tagtxt" onclick="openfiliter()">
              篩選標籤
            </div>
          </div>
          <div class="show_filiter">
            <div id="checkbox">
              <label><input type="checkbox" name="variety" value="節目" checked="checked" /><span
                  class="round button">節目</span></label>
              <label><input type="checkbox" name="variety" value="隨選隨看" checked="checked" /><span
                  class="round button">隨選隨看</span></label>
              <label><input type="checkbox" name="variety" value="直播" /><span class="round button">直播</span></label>
              <label><input type="checkbox" name="variety" value="台綜" /><span class="round button">台綜</span></label>
              <label><input type="checkbox" name="variety" value="陸綜" /><span class="round button">陸綜</span></label>
              <label><input type="checkbox" name="variety" value="韓綜" /><span class="round button">韓綜</span></label>
              <label><input type="checkbox" name="variety" value="遊戲" /><span class="round button">遊戲</span></label>
              <label><input type="checkbox" name="variety" value="益智" /><span class="round button">益智</span></label>
              <label><input type="checkbox" name="variety" value="談話" /><span class="round button">談話</span></label>
              <label><input type="checkbox" name="variety" value="娛樂" /><span class="round button">娛樂</span></label>
              <label><input type="checkbox" name="variety" value="網紅" /><span class="round button">網紅</span></label>
            </div>
          </div>
          <div id="checkbox">
            <div class="row" style="padding: 12px;">
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <label type="checkbox" name="variety" value="地標 逛街" class="imgcheck"
                    style="margin: 0;padding: 0;border: 0;" onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </label>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-4 col-sm-6">
                <div class="checkimg_div">
                  <button type="checkbox" name="variety" value="地標 逛街" class="imgcheck" style="margin: 0;padding: 0;border: 0;" onclick="pickspot()">
                      <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </button>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div> -->
              <div class="col-4">
                <input type="checkbox" name="variety" value="綜藝" checked="checked" />
                <span class="round button">
                  <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                </span>
              </div>
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <button type="checkbox" name="variety" value="地標 逛街" class="imgcheck"
                    style="margin: 0;padding: 0;border: 0;" onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </button>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <button type="checkbox" name="variety" value="地標 逛街" class="imgcheck"
                    style="margin: 0;padding: 0;border: 0;" onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </button>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <button type="checkbox" name="variety" value="地標 逛街" class="imgcheck"
                    style="margin: 0;padding: 0;border: 0;" onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </button>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6" style="margin-bottom: 5px;">
                <div class="checkimg_div">
                  <button type="checkbox" name="variety" value="地標 逛街" class="imgcheck"
                    style="margin: 0;padding: 0;border: 0;" onclick="pickspot(this)">
                    <span class="checkspot" style="display: block;cursor: pointer;">
                      <img src="../網頁練習/images/101.jpg" class="img-responsive" width="100%" alt="">
                    </span>
                  </button>
                </div>
                <div style="margin: 0;border: 1px solid #33333394;border-top: 0;">
                  <div class="checkspottxt">
                    <p style="text-align: center;padding: 5px;margin-bottom: 5px;">景點名稱</p>
                    <span>地址：</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list" style="cursor: pointer;">
    <div class="innerlist" draggable="true">1</div>
    <div class="innerlist" draggable="true">2</div>
    <div class="innerlist" draggable="true">3</div>
    <div class="innerlist" draggable="true">4</div>
    <div class="innerlist" draggable="true">5</div>
  </div>


  <script src="../網頁練習/js/jquery-3.7.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  <script>


    var list = document.querySelector('.list')
    var currentLi
    list.addEventListener('dragstart', (e) => {
      e.dataTransfer.effectAllowed = 'move'
      currentLi = e.target
      setTimeout(() => {
        currentLi.classList.add('moving')
      })
    })

    list.addEventListener('dragenter', (e) => {
      e.preventDefault()
      if (e.target === currentLi || e.target === list) {
        return
      }
      var liArray = Array.from(list.childNodes)
      var currentIndex = liArray.indexOf(currentLi)
      var targetindex = liArray.indexOf(e.target)

      if (currentIndex < targetindex) {

        list.insertBefore(currentLi, e.target.nextElementSibling)
      } else {

        list.insertBefore(currentLi, e.target)
      }
    })
    list.addEventListener('dragover', (e) => {
      e.preventDefault()
    })
    list.addEventListener('dragend', (e) => {
      currentLi.classList.remove('moving')
    })


    document.addEventListener('DOMContentLoaded', function () {
      const selectedTab = localStorage.getItem('selectedTab');
      if (selectedTab === 'contact') {
        // 先移除之前的 active 状态
        document.getElementById('home-tab').classList.remove('active');
        document.getElementById('home').classList.remove('show', 'active');

        // 添加 active 状态到 contact 选项卡
        document.getElementById('contact-tab').classList.add('active');
        document.getElementById('contact').classList.add('show', 'active');
      }
    });

    function openfiliter() {
      var showfiliter = document.querySelector(".show_filiter")
      if (showfiliter.style.display === "none" || showfiliter.style.display === "") {
        showfiliter.style.display = "block";
      } else {
        showfiliter.style.display = "none";
      }
    }

    function pickspot(checkbox) {
      checkbox.checked = !checkbox.checked;
      var div = checkbox.parentElement.parentElement; // 取得包含checkbox的div
      if (checkbox.checked) {
        div.classList.add("pickimg"); // 添加pickimg類名
      } else {
        div.classList.remove("pickimg"); // 移除pickimg類名
      }
    }
    // function pickspot(){
    //   var checkboximg = document.querySelectorAll('.imgcheck')
    //   if(checkboximg){
    //     checkboximg.checked = !checkboximg.checked;
    //     imgcheck.classList.add("pickimg")
    //   }
    // }
  </script>

</body>

</html>