{% extends 'base.html' %}

{% block title %}行程詳細頁面{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/travel_detail.css">
{% endblock %}

{% block body %}
{% comment %} 內容在這~~~ {% endcomment %}
<!-- 景點圖片那塊 -->
<div class="row">
  <div class="col-1"></div>
  <!-- 背景大圖（放行程的只要一張代表） -->
  <div class="col-10">
    <div class="trip_bg_img">
      <img class="trip_img" src="../static/images/bg2.jpg" alt="">
      <!-- 行程天數跟行程標題 -->
      <div class="trip_text">
        <span>
          <h4><strong>2天</strong></h4>
        </span>
        <p>台北｜年前輕旅。復古踩點</p>
      </div>
      <!-- 行程收藏 -->
      <div class="icon_add">
        {% if ct_detail.is_favorite == "1" %}
        <div class="travel_icon_name" id="submitfavorite{{ct_detail.id}}"
          onclick="addFavorite_travel(this,{{ct_detail.id}})">
          <i class="fas fa-regular fa-heart" title="已收藏" style="color: rgb(202, 13, 13);"></i>
        </div>
        {% else %}
        <div class="travel_icon_name" id="submitfavorite{{ct_detail.id}}"
          onclick="addFavorite_travel(this,{{ct_detail.id}})">
          <i class="fas fa-regular fa-heart" title="收藏" style="color: rgb(111, 110, 110);"></i>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <!-- 行程詳細那塊 -->
  <div class="row">
    <div class="col-1"></div>
    <!-- 使用者、行程相關 -->
    <div class="col-7">
      <!-- 使用者名稱、頭貼 -->
      <div class="review-content" style="margin-top:20px;">
        <div style="display: flex; align-items: center;">
          <img class="trip_user-img" src="../static/images/an.jpeg" alt="">
          <div>
            <h6 class="username" style="font-size: 18px;">
              {{ct_detail.u.username}}
            </h6>
            <h6><strong style="color:rgb(110, 109, 109);">{{ct_detail.create_date|date:"Y年m月d日"}}</strong></h6>
          </div>
        </div>
      </div>
      <!-- 行程簡介（使用者自己打） -->
      <div>
        <h6 style="margin:20px 0px 10px 5px;"><span style="color:blue;">{% if ct_detail.detail == "" %}目前還沒有內容
            {% else %}{{ct_detail.detail}}{% endif %}</span></h6>
      </div>
      <!-- 幾個人收藏 -->
      <div>
        <span style="border: black solid;padding: 0 5px 0 5px; background-color: white;font-size: 18px;"> <i
            class="fas fa-regular fa-heart" style="color: rgb(202, 13, 13);margin-right: 5px;"></i>xx</span>
      </div>
      <hr style="margin-bottom:20px;">
      <div class="day_detail">
        <span class="day_name">第1天
        </span>
      </div>

    </div>
    <!-- 各個天數內的詳細景點呈現 -->
    <div class="col-3"></div>
    <div class="col-1"></div>
  </div>
  {% comment %} <div class="row">
    <div class="col-1"></div>
    <div class="col-10 total_travel_detail">
      <div class="detail_travel_name">
        <div class="detail_travel_name__header">

          <div class="detail_travel_name__headerGrid">
            <h2 style="color: rgb(172, 78, 1)" id="attractions-detail-name"><strong>{{ct_detail.ct_name}}</strong>
            </h2>

            <div class="provider">
              <h5 style=" color:rgb(66, 65, 65);">分享人：<strong
                  style="color:rgb(110, 109, 109);">{{ct_detail.u.username}}</strong></h5>
            </div>
            <div class="provider1_copy">
              <h5 style=" color:rgb(66, 65, 65);">發布日期：<strong
                  style="color:rgb(110, 109, 109);">{{ct_detail.create_date|date:"Y年m月d日"}}</strong></h5>
            </div>
          </div>

          <div class="detail_travel_name__headerGrid icon_add">
            {% if ct_detail.is_favorite == "1" %}
            <div class="travel_icon_name" id="submitfavorite{{ct_detail.id}}"
              onclick="addFavorite_travel(this,{{ct_detail.id}})">
              <i class="fas fa-regular fa-heart" title="已收藏" style="color: rgb(202, 13, 13);"></i>
            </div>
            {% else %}
            <div class="travel_icon_name" id="submitfavorite{{ct_detail.id}}"
              onclick="addFavorite_travel(this,{{ct_detail.id}})">
              <i class="fas fa-regular fa-heart" title="收藏" style="color: rgb(111, 110, 110);"></i>
            </div>
            {% endif %}

            <div class="provider1">
              <h5 style=" color:rgb(66, 65, 65);">發布日期：<strong
                  style="color:rgb(110, 109, 109);">{{ct_detail.create_date|date:"Y年m月d日"}}</strong></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="travel_detail_img" style="margin-top: 20px;">
        <div class="travel_detail_img__header">
          <div class="travel_detail_img__headerGrid">
            <img src="../static/images/attractions/{{ct_detail.get_attractions_picture.0.a__place_id}}_0.jpg"
              style="margin-top: 1px; width:100%;max-width:100%;" alt="">
          </div>
          <div class="detail_img__headerGrid">
            <div class="row">
              <img
                src="/static/images/attractions/{% if picture_list.1 %}{{picture_list.1}}{% else %}{{picture_list.0}}{% endif %}"
                style=" width:100%;" alt="">
              <div class="image-container">
                <img
                  src="../static/images/attractions/{% if ct_detail.get_attractions_picture.1.a__place_id %}{{ ct_detail.get_attractions_picture.1.a__place_id }}_0.jpg {% else %}{{ ct_detail.get_attractions_picture.0.a__place_id }}_1.jpg{% endif %}"
                  style="width: 100%;" alt="">
                <img
                  src="../static/images/attractions/{% if ct_detail.get_attractions_picture.2.a__place_id %}{{ ct_detail.get_attractions_picture.2.a__place_id }}_0.jpg {% else %}{{ ct_detail.get_attractions_picture.0.a__place_id }}_2.jpg{% endif %}"
                  style="width: 100%;margin-top: 2px;" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h5 style="font-size: 24px;"> <i class="fa-solid fa-flag" style="margin-right:5px;color:#4a7ba7;;"></i></i>行程簡介
        </h5>
        <h6 style="margin:15px 0px 30px 35px;"><span style="color:blue;">{% if ct_detail.detail == "" %}目前還沒有內容{% else
            %}{{ct_detail.detail}}{% endif %}</span></h6>
      </div>

      <div>
        <h5 style="margin:0px 0px 20px 0px;font-size: 24px;"> <i class="fa-solid fa-calendar-check"
            style="margin-right:5px;color: rgb(221, 180, 85);"></i>行程規劃</h5>
        <div class="dayDoneSection">
          <div class="dayDone">
            <div class="dayDoneBtn">
              {% for day in ct_detail.get_choice_day %}
              <div class="dayDiv" id="dayDiv{{forloop.counter}}" data-day="{{forloop.counter}}"
                style="float: left; {% if forloop.counter == 1 %}color:orange;{% endif %}"
                onclick="clickDay({{forloop.counter}})">
                <i class="fa-regular fa-calendar"></i> DAY {{forloop.counter}}
              </div>
              {% endfor %}
            </div>
          </div>
          {% for data in all_data %}
          <div class="classDayContent" id="content{{forloop.counter}}" style={% if forloop.counter==1 %}"display:
            block;"{% else %}"display: none;"{% endif %}>
            <div class="dayContent">
              <div
                style="height: 250px;min-width:80px;display: flex;justify-content: center;align-items: center;align-content: center;">
                起始<br>位置
              </div>
              {% for a_data in data.ct_attraction %}
              {{a_data.a_id.start_location_y}}
              {% if forloop.counter == 1 %}
              <div class="car_time">
                <a href="https://www.google.com/maps/dir/{{a_data.choice_ct.start_location_x}},{{a_data.choice_ct.start_location_y}}/{{a_data.a.location_x}},{{a_data.a.location_y}}/"
                  target="_blank" style="text-decoration: none;color: black;">

                  <img src="/static/images/New Project.jpg" alt="" class="car_icon">
                  <p>約<br> {{ a_data.distance_time }}<br>分鐘</p>
                </a>
              </div>

              {% else %}
              <div class="car_time">
                <a href="https://www.google.com/maps/dir/{{a_data.get_previous.a.location_x}},{{a_data.get_previous.a.location_y}}/{{a_data.a.location_x}},{{a_data.a.location_y}}/"
                  target="_blank" style="text-decoration: none;color: black;">

                  <img src="/static/images/New Project.jpg" alt="" class="car_icon">
                  <p>約<br> {{ a_data.distance_time }}<br>分鐘</p>
                </a>
              </div>
              {% endif %}
              <div class="dayContentIntro" style="text-align: center;">
                <p style="font-size: 20px;"><b>{{a_data.a.a_name}}</b></p>
                <p>營業時間<br>{% for open in a_data.opening.opening %} {% if forloop.counter != 1 %} <br> {% endif
                  %}{{open}}
                  {% endfor %}</p>
                <p>停留時間：{{a_data.stay_time}}分鐘</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div>


        </div>
      </div>
      <div class="col-1"></div>
    </div> {% endcomment %}
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="trip_bg_img">
          <img scr="../static/image">
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <script>
      {% comment %} 評論公開顯示tips {% endcomment %}
      function toggleTravelInfo() {
        var infoDiv = document.getElementById('show_travel_info');
        infoDiv.style.display = (infoDiv.style.display === 'none' || infoDiv.style.display === '') ? 'block' : 'none';
      }

      {% comment %} 按讚功能(還沒串後端) {% endcomment %}
      function toggleLike() {
        var likeIcon = document.getElementById('likeIcon');
        var likeCount = document.getElementById('likeCount');
        var currentCount = parseInt(likeCount.innerText);

        if (likeIcon.classList.contains('fa-thumbs-up') && likeIcon.classList.contains('fa-solid')) {
          likeIcon.classList.remove('fa-thumbs-up', 'fa-solid');
          likeIcon.classList.add('fa-regular', 'fa-thumbs-up');
          likeCount.innerText = currentCount - 1;
        } else {
          likeIcon.classList.remove('fa-regular', 'fa-thumbs-up');
          likeIcon.classList.add('fa-thumbs-up', 'fa-solid');
          likeCount.innerText = currentCount + 1;
        }
      }
      {% comment %} 刪除小點點 {% endcomment %}
      function toggleDeleteBox(iconElement) {
        var deleteBox = iconElement.nextElementSibling;
        if (deleteBox.style.display === "none" || deleteBox.style.display === "") {
          deleteBox.style.display = "block";
        } else {
          deleteBox.style.display = "none";
        }
        document.addEventListener('click', function (event) {
          if (!deleteBox.contains(event.target) && event.target !== iconElement) {
            deleteBox.style.display = 'none';
          }
        });
      }

      function deleteComment(commentId) {

      }
      // 獲取按鈕元素
      /*var newestButton = document.querySelector('.btn-style-2:nth-child(2)');
      var oldestButton = document.querySelector('.btn-style-2:nth-child(3)');
    
      // 添加點擊事件監聽器
      newestButton.addEventListener('click', function() {
        // 添加藍色樣式
        newestButton.style.backgroundColor = '#0066DB';
        // 移除其他按鈕的藍色樣式
        oldestButton.style.backgroundColor = '';
      });
    
      oldestButton.addEventListener('click', function() {
        // 添加藍色樣式
        oldestButton.style.backgroundColor = '#0066DB';
        // 移除其他按鈕的藍色樣式
        newestButton.style.backgroundColor = '';
      });*/
      function like() {
        alert('已按讚');
      }
      const contentMap = {
        1: document.getElementById('content1'),
        2: document.getElementById('content2')
      };
      {% comment %} function clickDay(dayNumber) {
        const dayDiv1 = document.getElementById('dayDiv' + dayNumber);
        dayDiv1.style.backgroundColor = 'red';
        openContent(dayNumber);
      } {% endcomment %}
      let lastClicked = false;

      function clickDay(dayNumber) {
        let content = document.querySelectorAll('.classDayContent');
        let clickContent = document.getElementById('content' + dayNumber);
        const dayDiv = document.querySelectorAll('.dayDiv');
        const dayDiv1 = document.getElementById('dayDiv' + dayNumber);
        if (clickContent.style.display == 'block') {
          // 如果連續點擊同一天，則關閉對應內容
          //clickContent.style.display = 'none';
          //dayDiv1.style.color="";
        } else {
          for (let i = 0; i < content.length; i++) {
            content[i].style.display = 'none';
            dayDiv[i].style.color = "";
          }
          clickContent.style.display = 'block';
          dayDiv1.style.color = 'orange';
        }
      }

      {% comment %}
      // 事件代理，監聽所有.dayDiv的點擊事件
      document.addEventListener('click', function (event) {
        if (event.target.classList.contains('dayDiv')) {
          const dayNumber = parseInt(event.target.getAttribute('data-day'));
          openContent(dayNumber);
        }
      }); {% endcomment %}
      function sendComment(cid) {
        var isPostConfirmed = confirm("確定要張貼評論嗎？");

        if (isPostConfirmed) {
          // 在這裡執行張貼的相關操作
          $.ajax({
            url: '/travel_comment/',
            type: 'POST',
            data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              'comment': $('#user_share_comment').val(),
              'cid': cid,
            },
            success: function (data) {
              location.reload()
            }
          });
          alert("張貼成功");
        } else {
          alert("已取消張貼");
        }
      }

      /*document.getElementById('share_comment_btn_cancel').addEventListener('click', function () {
          var isCancelConfirmed = confirm("確定要取消嗎？");
    
          if (isCancelConfirmed) {
              // 在這裡執行取消的相關操作
              alert("取消成功");
          } else {
              alert("已取消取消");
          }
      });*/
    </script>
    <script src="/static/js/travel_detail.js"></script>
    <script src="/static/js/addFavorite.js"></script>
    {% comment %} {{u_id}}
    <p>{{ ct_id }}</p>
    <p>{{ ct_detail }}</p>
    <p>{{ ct_choiceday }}</p>
    <p>{{ ct_attraction }}</p> {% endcomment %}
    {% endblock body %}